.wrapper {
  width: 960px;
  position: relative;
  margin: 0 auto !important;
  display: block;
}
.wrapper.showgrid {
  background-image: url(../images/grid_14col.png);
}
div.span-1,
div.span-2,
div.span-3,
div.span-4,
div.span-5,
div.span-6,
div.span-7,
div.span-8,
div.span-9,
div.span-10,
div.span-11,
div.span-12,
div.span-13,
div.span-14 {
  float: left;
  margin-right: 20px;
}
div.last {
  margin-right: 0;
}
.span-1 {
  width: 50px;
}
.span-2 {
  width: 120px;
}
.span-3 {
  width: 190px;
}
.span-4 {
  width: 260px;
}
.span-5 {
  width: 330px;
}
.span-6 {
  width: 400px;
}
.span-7 {
  width: 470px;
}
.span-8 {
  width: 540px;
}
.span-9 {
  width: 610px;
}
.span-10 {
  width: 680px;
}
.span-11 {
  width: 750px;
}
.span-12 {
  width: 820px;
}
.span-13 {
  width: 890px;
}
.span-14 {
  width: 960px;
}
.suffix-1 {
  padding-right: 70px;
}
.suffix-2 {
  padding-right: 140px;
}
.suffix-3 {
  padding-right: 210px;
}
.suffix-4 {
  padding-right: 280px;
}
.suffix-5 {
  padding-right: 350px;
}
.suffix-6 {
  padding-right: 420px;
}
.suffix-7 {
  padding-right: 490px;
}
.suffix-8 {
  padding-right: 560px;
}
.suffix-9 {
  padding-right: 630px;
}
.suffix-10 {
  padding-right: 700px;
}
.suffix-11 {
  padding-right: 770px;
}
.suffix-12 {
  padding-right: 840px;
}
.suffix-13 {
  padding-right: 910px;
}
.prefix-1 {
  padding-left: 70px;
}
.prefix-2 {
  padding-left: 140px;
}
.prefix-3 {
  padding-left: 210px;
}
.prefix-4 {
  padding-left: 280px;
}
.prefix-5 {
  padding-left: 350px;
}
.prefix-6 {
  padding-left: 420px;
}
.prefix-7 {
  padding-left: 490px;
}
.prefix-8 {
  padding-left: 560px;
}
.prefix-9 {
  padding-left: 630px;
}
.prefix-10 {
  padding-left: 700px;
}
.prefix-11 {
  padding-left: 770px;
}
.prefix-12 {
  padding-left: 840px;
}
.prefix-13 {
  padding-left: 910px;
}
