#content.post #content_secondary .container
{	
	margin-left:-210px;
}

#sticky_footer {
	background:transparent;
	background-image: url(images/sticky_footer_background_ie.png);
}

#content.post #content_secondary {
	background:transparent;
	background-image: url(images/siderail_background_ie.png);
}

#sticky_footer .top,
#sticky_footer .subscribe {
	background:transparent;
	background-image: url(images/column_highlight_background_ie.png);
}

.highlighter {
	filter:alpha(opacity=15);
}

#header #search #search_form {
	background: url(images/bg_5d504f_opacity90.png);
}

#header #work_pullout {
	background: url(images/bg_5d504f_opacity95.png);
}

#header #work_pullout li.showcase h4 {
	bottom:3px;
	margin:0;
	background: url(images/bg_5d504f_opacity90.png);
}

#sticky_footer .top {
	background: url(images/bg_5d504f_opacity90.png);
}

/*individual pages*/
#projects #projects_list span a {
	background: url(images/bg_5d504f_opacity90.png);
}
	
.clear {
 display:inline-block;
}