.reset-dimensions {
  margin: 0;
  padding: 0;
}
.incomplete {
  background-color: rgba(255, 0, 255, 0.5);
}
.show-bounds {
  background-color: rgba(255, 255, 0, 0.5);
}
#page_footer .item-0, #page_footer .item-4 {
  background: #c00;
  clear: left;
  width: 330px;
}
#page_footer .item-3, #page_footer .item-7 {
  background: #0c0;
  margin-right: 0;
}
#sub_header .item-0, #sub_header .item-4 {
  width: 330px;
  clear: left;
}
#sub_header .item-3, #sub_header .item-7 {
  margin-right: 0;
}
#post_footer .item-0, #post_footer .item-4 {
  background: #c00;
  clear: left;
  width: 330px;
  background-color: rgba(255, 0, 255, 0.5);
}
#post_footer .item-3, #post_footer .item-7 {
  background: #0c0;
  margin-right: 0;
  background-color: rgba(255, 0, 255, 0.5);
}
