#follow_list {
	-webkit-transition: all .3s cubic-bezier(0.02, 0, 0.18, 1.0); 
	-moz-transition: all .2s cubic-bezier(0.42, 0, 0.58, 1.0); 
	-o-transition: all .2s cubic-bezier(0.42, 0, 0.58, 1.0); 
}