#comments_container {
  margin-top: 60px; }
  #comments_container .no_comments, #comments_container .comments_closed {
    margin-top: 30px;
    font: 28px/35px Georgia, "Times New Roman", Times, serif;
    font-style: italic;
    color: #5d504f; }
  #comments_container #comments {
    list-style: none; }
    #comments_container #comments li {
      margin: 60px 0;
      background: none; }
    #comments_container #comments li:first-child {
      margin-top: 0px; }
    #comments_container #comments .comment-info {
      text-align: right; }
    #comments_container #comments .content {
      font-family: Georgia, "Times New Roman", Times, serif; }
      #comments_container #comments .content p {
        font-size: 17px;
        line-height: 27px;
        color: #3d302f; }
      #comments_container #comments .content blockquote, #comments_container #comments .content blockquote p {
        font-size: 13px;
        line-height: 19px; }
    #comments_container #comments ul.metadata.vertical li {
      margin: 0 0 5px 0; }
    #comments_container #comments .comment-edit-link {
      font-weight: 700;
      display: block;
      margin-top: 15px; }
  #comments_container #no_comments {
    font: 28px/35px Georgia, "Times New Roman", Times, serif;
    margin: 30px 0;
    color: #5d504f; }
  #comments_container #commentform input[type=text], #comments_container #commentform textarea {
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%; }
  #comments_container #commentform label {
    display: none; }
  #comments_container #commentform #comment_form_info input[type=text] {
    margin-bottom: 15px;
    text-align: right; }
  #comments_container #commentform textarea {
    margin: 0;
    height: 118px; }
  #comments_container #commentform textarea:focus {
    height: 375px; }
  #comments_container #comment_form header h1 {
    font-size: 20px;
    line-height: 30px; }
  #comments_container #comment_form header .loggedin {
    font-style: italic; }
  #comments_container #submit {
    margin-top: 15px; }
