#comments-container {
  margin-top: 60px; }
  #comments-container .no_comments, #comments-container .comments_closed {
    margin-top: 30px;
    font-style: italic;
    font-size: 28px;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #5d504f; }

/* TODO: Break out heirarchy */
#comments {
  list-style: none; }
  #comments .comment {
    margin: 60px 0;
    background: none; }
  #comments .comment.bypostauthor {
    margin: 45px 0; }
  #comments li:first-child {
    margin-top: 0px; }
  #comments .content {
    font-family: Georgia, "Times New Roman", Times, serif; }
    #comments .content p {
      font-size: 17px;
      color: #3d302f; }
    #comments .content blockquote, #comments .content blockquote p {
      font-size: 13px; }
  #comments .comment-edit-link {
    font-weight: 700;
    color: #ea0000; }

#no_comments {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 28px;
  margin: 30px 0;
  color: #5d504f; }

/* TODO: Break out heirarchy */
#respond input[type=text], #respond textarea {
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%; }
#respond label {
  display: none; }
#respond #comment-form-info input[type=text] {
  margin-bottom: 15px;
  text-align: right; }
#respond textarea {
  margin: 0;
  height: 118px; }
#respond textarea:focus {
  height: 375px; }
#respond #submit {
  margin-top: 15px;
  margin-left: 26.1%; }

#comment_form h1 {
  font-size: 20px; }
#comment_form .loggedin {
  font-style: italic; }

/*MOBILE*/
@media only screen and (max-width: 767px) {
  #comments-container #commentform #comment-form-info input[type=text] {
    text-align: left; } }
