#page_bottom {
  background: #5d504f; }

#page_footer {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 30px;
  color: #f0eceb; }
  #page_footer a {
    color: #fffefe; }
  #page_footer h3 {
    font-size: 17px;
    color: #f0eceb; }
