@media screen, projection {
  #page_footer {
    padding-top: 15px;
    padding-bottom: 15px;
    color: #f0eceb; }
    #page_footer a {
      color: #fffefe; }
    #page_footer h3 {
      font-weight: 400;
      font-size: 17px;
      line-height: 27px;
      margin-bottom: 5px;
      color: #f0eceb; }
    #page_footer .widget {
      float: left;
      margin-right: 40px;
      width: 215px;
      margin-bottom: 45px;
      font-family: Georgia, "Times New Roman", Times, serif; }
    #page_footer .widget:nth-child(3n+1) {
      width: 470px;
      clear: left; }
    #page_footer .widget:nth-child(3n) {
      margin-right: 0; }

  #page_heel {
    padding: 15px 0;
    color: #fffefe; }
    #page_heel p, #page_heel ul, #page_heel li, #page_heel a {
      font-size: 11px; }
    #page_heel a {
      color: #fffefe; }
    #page_heel .widget {
      float: left;
      margin-right: 40px;
      width: 215px;
      margin-bottom: 30px;
      color: #f0eceb; }
      #page_heel .widget h3 {
        font-size: 11px;
        font-weight: bold;
        line-height: 15px;
        margin-top: 5px; }
      #page_heel .widget p {
        margin: 5px 0; }
    #page_heel .widget:nth-child(4n) {
      margin-right: 0; } }
