body {
  margin: 0;
  padding: 0;
  font: 62.5%/1.55 Georgia, "Times New Roman", Times, serif;
  background: #fffefe;
  color: #050000;
  height: 100%;
  text-rendering: optimizelegibility; }

/*Images*/
img.noshadow {
  box-shadow: none !important; }

/*Anchor tags*/
a {
  color: #ea0000;
  text-decoration: none; }
  a img {
    border: none; }

a:hover {
  color: #ff1e00; }

/*Headers*/
h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.3;
  padding-top: 0px;
  margin-bottom: 15px; }

h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
  margin-top: 0; }

h1 {
  font-size: 24px; }

h2 {
  font-size: 20px; }

h3 {
  font-size: 17px; }

h4 {
  font-size: 13px; }

h5 {
  font-size: 11px; }

h6 {
  font-size: 10px; }

/*Paragraph*/
p {
  margin: 15px 0;
  font-size: 13px; }

p.xx-large {
  font-size: 28px; }

p.x-large {
  font-size: 24px; }

p.large {
  font-size: 20px; }

p.medium {
  font-size: 17px; }

p.small {
  font-size: 13px; }

p.x-small {
  font-size: 11px; }

p.xx-small {
  font-size: 10px; }

p:first-child {
  margin-top: 0; }

p:last-child {
  margin-bottom: 0; }

/*Blockquote*/
blockquote, q {
  quotes: "„" "“"; }

blockquote {
  color: #3d302f;
  border: 2px #050000 solid;
  border-left: 0;
  border-right: 0;
  margin: 30px 0 30px 40px;
  padding: 15px 0; }
  blockquote p {
    font-size: inherit;
    line-height: inherit;
    margin: 0; }
  blockquote p:first-child:before {
    content: "“"; }
  blockquote p:last-child:after {
    content: "”"; }

cite, blockquote[cite]:after, cite {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px; }

blockquote[cite]:after {
  content: "—" attr(cite);
  display: block;
  color: #050000;
  margin-top: 15px; }

cite {
  margin-left: 40px;
  margin-top: -1em;
  margin-bottom: 2em; }

cite:before {
  content: "—"; }

/*Pre & Code*/
pre, code {
  white-space: pre;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
  font-family: "andale mono", "lucida console", monospace; }

pre {
  /*Merge with Blockquote?*/
  border: 2px #050000 solid;
  border-left: 0;
  border-right: 0;
  margin: 30px 0 30px 40px;
  padding: 15px 0; }

/*Tables*/
table {
  border-collapse: separate;
  border-spacing: 0;
  font-size: 13px;
  margin: 15px 0; }

table, td, th {
  vertical-align: middle; }

th, td {
  text-align: left;
  font-weight: 400;
  padding: 0 5px; }

th {
  border-bottom: 1px solid;
  font-weight: 700; }

/*Ordered & Unordered lists*/
ul, ol {
  margin-top: 15px; }
  ul li, ol li {
    margin-left: 20px;
    font-size: 13px; }

ul {
  list-style: square; }

ol {
  list-style: decimal; }

/*Definition lists*/
dl {
  margin: 15px 0;
  padding-top: 5px;
  font-family: Georgia, "Times New Roman", Times, serif; }
  dl dt, dl dd {
    font-size: 11px; }
  dl dt {
    font-weight: 700;
    margin-top: 15px; }
  dl dt:first-child {
    margin: 0; }

/*Typographic tags*/
small {
  font-size: 13px; }

strong {
  font-weight: 700; }

em {
  font-style: italic; }

/*Horizontal rule*/
hr {
  border-color: #f0eceb; }

header {
  margin-bottom: 15px; }
  header h1 {
    margin-bottom: 0;
    font-size: 20px; }
  header h2 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-style: italic;
    font-size: 13px;
    color: #5d504f;
    margin: 5px 0 0 0; }
  header a {
    color: #050000; }
  header a:hover {
    color: #5d504f; }

#content.single article section .flush-left {
  margin-left: -26.1%; }
#content.single article section blockquote.large p {
  font-size: 20px; }
#content.single article section img.flush-left {
  max-width: 126.1%; }

/*Generic Classes*/
.more-link {
  font-style: italic; }

.hidden {
  display: none; }

.crop {
  overflow: hidden; }

.alignleft, .alignright, .aligncenter {
  margin: 10px 0 15px 0; }

.alignleft {
  float: left !important;
  margin-right: 15px; }

.alignright {
  float: right !important;
  margin-left: 15px; }

.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.wp-caption {
  text-align: center;
  margin-top: 10px 0 15px 0; }
  .wp-caption img {
    margin: 0;
    padding: 0;
    border: 0 none; }

.wp-caption-text {
  font-size: 13px !important;
  color: #5d504f;
  margin-top: 10px; }

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis; }

/*Pagination links*/
.pagination {
  font-size: 13px; }
  .pagination a {
    margin-right: 40px;
    width: 110px; }

.pagination.small {
  font: 13px "Helvetica Neue", Helvetica, Arial, sans-serif; }
  .pagination.small .title {
    font-weight: 700;
    margin-right: 15px; }
  .pagination.small a {
    margin: 0 10px;
    border: 1px #f0eceb solid;
    color: #5d504f;
    padding: 4px 6px;
    border-radius: 2px; }

/*Metadata content*/
.metadata a {
  color: #5d504f; }
.metadata a:hover {
  color: #050000; }

ul.metadata {
  list-style: none; }
  ul.metadata li {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 11px;
    font-style: italic;
    margin-left: 0; }
  ul.metadata li.date {
    font-style: normal;
    font-weight: 700;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

ul.metadata.horizontal {
  margin-top: 15px;
  display: inline-block; }
  ul.metadata.horizontal li {
    float: left;
    background: none;
    margin-right: 15px; }
  ul.metadata.horizontal li.last, ul.metadata.horizontal li:last-child {
    margin-right: 0; }
  ul.metadata.horizontal li:first-child {
    margin-left: 0; }

ul.metadata.vertical {
  margin-top: 5px; }
  ul.metadata.vertical li {
    text-align: right;
    float: none;
    margin-bottom: 5px; }
  ul.metadata.vertical li.date {
    margin-bottom: 10px; }

dl.metadata {
  display: none;
  text-align: right;
  margin-bottom: 15px; }

.post header {
  margin-bottom: 15px; }
.post p .callout {
  padding-top: 0; }

#content {
  margin: 0 0 60px 0;
  position: relative; }

#content.home article section, #content.single article section, #content.page article section, #content.archive article section {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 17px; }
  #content.home article section p, #content.home article section ul li, #content.home article section ol li, #content.home article section dt, #content.home article section dd, #content.home article section blockquote, #content.single article section p, #content.single article section ul li, #content.single article section ol li, #content.single article section dt, #content.single article section dd, #content.single article section blockquote, #content.page article section p, #content.page article section ul li, #content.page article section ol li, #content.page article section dt, #content.page article section dd, #content.page article section blockquote, #content.archive article section p, #content.archive article section ul li, #content.archive article section ol li, #content.archive article section dt, #content.archive article section dd, #content.archive article section blockquote {
    font-size: 17px; }
  #content.home article section code, #content.home article section small, #content.single article section code, #content.single article section small, #content.page article section code, #content.page article section small, #content.archive article section code, #content.archive article section small {
    font-size: 13px; }
  #content.home article section img, #content.single article section img, #content.page article section img, #content.archive article section img {
    max-width: 100%;
    box-shadow: 0px 0px 8px rgba(18, 7, 6, 0.3); }

#content.page article section img {
  box-shadow: none !important; }

#content.home article, #content.archive article {
  margin-top: 60px;
  margin-bottom: 60px; }
#content.home article:first-child, #content.archive article:first-child {
  margin-top: 0; }
#content.home article:last-child, #content.archive article:last-child {
  margin-bottom: 0; }

/*Buttons*/
button, .button, input[type=submit], a.button {
  display: inline-block;
  background: #f0eceb;
  color: #5d504f;
  padding: 8px 10px;
  border-radius: 3px;
  font-weight: 700;
  font-size: 13px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  text-shadow: 0px 1px 0px rgba(255, 254, 254, 0.3);
  border: 1px solid rgba(18, 7, 6, 0.2);
  box-shadow: inset 0px -1px 1px rgba(18, 7, 6, 0.1), inset 0px 1px 1px rgba(255, 253, 253, 0.4); }

button:hover, .button:hover, input[type=submit]:hover {
  background: #998482;
  color: #fffefe;
  border: 1px solid rgba(18, 7, 6, 0.5);
  text-shadow: 0px -1px 0px rgba(5, 0, 0, 0.3);
  box-shadow: inset 0px -1px 1px rgba(18, 7, 6, 0.1), inset 0px 1px 1px rgba(255, 253, 253, 0.2); }

button.alt, .button.alt, input[type=submit].alt {
  background: #ea0000;
  color: #fffefe;
  text-shadow: 0px -1px 0px rgba(5, 0, 0, 0.3); }

button.alt:hover, .button.alt:hover, input[type=submit].alt:hover {
  background: #ff1e00;
  color: #fffefe;
  border: 1px solid rgba(18, 7, 6, 0.5); }

/*Search - not implemented*/
#searchform input {
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box; }

/*404*/
#content.fourohfour .main {
  margin-bottom: 30px; }

#search {
  float: right; }
  #search #search_button {
    display: none; }
  #search #search_form input {
    font-size: 11px; }

/*MOBILE*/
@media only screen and  (max-width: 767px) {
  /*Typography*/
  h1 {
    font-size: 24px; }

  h2 {
    font-size: 20px; }

  h3 {
    font-size: 17px; }

  h4 {
    font-size: 13px; }

  h5 {
    font-size: 11px; }

  h6 {
    font-size: 10px; }

  /*Metadata content*/
  ul.metadata.vertical {
    margin-top: 30px;
    display: inline-block; }
    ul.metadata.vertical li {
      float: left;
      background: none;
      margin-right: 15px;
      text-align: left; }
    ul.metadata.vertical li.last, ul.metadata.vertical li:last-child {
      margin-right: 0; }
    ul.metadata.vertical li:first-child {
      margin-left: 0; }

  #content.single article section .flush-left {
    margin-left: 0% !important; }
  #content.single article section img.flush-left {
    max-width: 100% !important; } }
