#site-title {
  font-size: 24px; }

#site-description {
  margin-top: 0; }

#site-nav ul {
  list-style: none; }
#site-nav ul ul {
  display: none; }
#site-nav li {
  float: left; }
#site-nav a {
  display: block;
  height: 15px;
  color: #050000;
  font-style: 700;
  font-size: 11px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
#site-nav a:hover {
  color: #5d504f; }

#page-header {
  position: relative;
  border-bottom: 2px solid #f0eceb;
  padding-bottom: 15px;
  margin: 15px 0 30px 0; }

#sub_header {
  border-bottom: 2px solid #f0eceb;
  padding-bottom: 15px;
  margin-bottom: 30px; }
  #sub_header p {
    font-size: 11px;
    color: #5d504f;
    margin-top: 0; }
