#page_header {
  position: relative;
  border-bottom: 2px solid #f0eceb;
  padding-bottom: 15px;
  margin: 15px 0 30px 0; }
  #page_header h1 {
    font-size: 20px; }
  #page_header h2 {
    margin-top: 0; }
  #page_header nav .menu ul {
    list-style: none; }
  #page_header nav .menu ul ul {
    display: none; }
  #page_header nav .menu li {
    float: left; }
    #page_header nav .menu li a {
      display: block;
      height: 15px;
      color: #050000;
      font: 700 11px/14px "Helvetica Neue", Helvetica, Arial, sans-serif; }
    #page_header nav .menu li a:hover {
      color: #5d504f; }
  #page_header nav .menu li:first-child {
    margin-left: 0; }
  #page_header nav .menu li.last {
    margin-right: 0; }

#sub_header {
  border-bottom: 2px solid #f0eceb;
  padding-bottom: 15px;
  margin-bottom: 30px; }
  #sub_header p {
    font-size: 11px;
    line-height: 14px;
    color: #5d504f;
    margin-top: 0; }
