#content.home {
  /* TODO: Try this pattern out :not(:last-child) */ }
  #content.home .content {
    margin-bottom: 60px; }
  #content.home .content-header {
    margin-bottom: 30px;
    padding-bottom: 5px;
    border-bottom: 1px #f0eceb solid;
    font-size: 13px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
    #content.home .content-header .caption {
      font-style: italic;
      color: #5d504f;
      margin-left: 10px; }
    #content.home .content-header .more {
      font-family: Georgia, "Times New Roman", Times, serif; }
  #content.home .content .read-more {
    margin-top: 15px; }
    #content.home .content .read-more .more {
      font-size: 11px; }
  #content.home .content.oneup.large header h1 {
    font-size: 20px; }
  #content.home .content.oneup.large section {
    margin: 0 0 15px 0; }
    #content.home .content.oneup.large section p {
      font-style: italic;
      font-size: 38px; }
  #content.home .content.twoup .post, #content.home .content.threeup .post, #content.home .content.fourup .post {
    margin-top: 15px;
    float: left !important; }
  #content.home .content.twoup header h1, #content.home .content.threeup header h1, #content.home .content.fourup header h1 {
    font-size: 13px;
    font-weight: 700; }
  #content.home .content.twoup section p, #content.home .content.threeup section p, #content.home .content.fourup section p {
    font-size: 13px; }
  #content.home .content.twoup .metadata li, #content.home .content.threeup .metadata li, #content.home .content.fourup .metadata li {
    font-size: 11px; }
  #content.home .content.twoup .post:nth-child(2n+1), #content.home .content.threeup .post:nth-child(3n+1), #content.home .content.fourup .post:nth-child(4n+1) {
    margin-left: 0;
    clear: left; }
  #content.home .content.twoup .post:nth-child(2n), #content.home .content.threeup .post:nth-child(3n), #content.home .content.fourup .post:nth-child(4n) {
    margin-right: 0;
    float: right; }
  #content.home .content.twoup .post:nth-child(n+3), #content.home .content.threeup .post:nth-child(n+4), #content.home .content.fourup .post:nth-child(n+5) {
    margin-bottom: 0;
    margin-top: 45px; }

/*MOBILE*/
@media only screen and (max-width: 767px) {
  #content.home .content.oneup.large article section p {
    font-size: 24px; } }
