#content.home .content {
  margin-bottom: 60px; }
#content.home .content-header {
  margin-bottom: 30px;
  padding-bottom: 5px;
  border-bottom: 1px #f0eceb solid;
  font: 13px/19px "Helvetica Neue", Helvetica, Arial, sans-serif; }
  #content.home .content-header .caption {
    font-style: italic;
    color: #5d504f;
    margin-left: 10px; }
  #content.home .content-header .more {
    font-family: Georgia, "Times New Roman", Times, serif; }
#content.home .content.oneup .post .read-more, #content.home .content.oneup.large .post .read-more, #content.home .content.twoup .post .read-more, #content.home .content.fourup .post .read-more, #content.home .content.halfandhalf .post .read-more {
  margin-top: 15px; }
  #content.home .content.oneup .post .read-more .more, #content.home .content.oneup.large .post .read-more .more, #content.home .content.twoup .post .read-more .more, #content.home .content.fourup .post .read-more .more, #content.home .content.halfandhalf .post .read-more .more {
    font-size: 11px;
    line-height: 14px; }
#content.home .content.oneup.large article header h1 {
  font-size: 20px;
  line-height: 30px; }
#content.home .content.oneup.large article section {
  margin: 0 0 15px 0; }
  #content.home .content.oneup.large article section p {
    font-style: italic;
    font-size: 38px;
    line-height: 47px; }
#content.home .content.twoup .post, #content.home .content.fourup .post {
  float: left;
  margin: 15px 40px 0 0; }
  #content.home .content.twoup .post header h1, #content.home .content.fourup .post header h1 {
    font-size: 13px;
    line-height: 19px;
    font-weight: 700; }
    #content.home .content.twoup .post header h1 a, #content.home .content.fourup .post header h1 a {
      text-decoration: none; }
  #content.home .content.twoup .post section, #content.home .content.fourup .post section {
    font-size: 13px;
    line-height: 19px; }
#content.home .content.twoup .metadata li, #content.home .content.fourup .metadata li {
  font-size: 11px;
  line-height: 14px; }
#content.home .content.twoup .post:nth-child(2n+1) {
  clear: left; }
#content.home .content.twoup .post:nth-child(2n) {
  margin-right: 0; }
#content.home .content.twoup .post:nth-child(n+3) {
  margin-bottom: 0;
  margin-top: 45px; }
#content.home .content.fourup .post:nth-child(4n+1) {
  clear: left; }
#content.home .content.fourup .post:nth-child(4n) {
  margin-right: 0; }
#content.home .content.fourup .post:nth-child(n+5) {
  margin-bottom: 0;
  margin-top: 45px; }

/*MOBILE*/
@media only screen and  (max-width: 767px) {
  #content.home .content.oneup.large article section p {
    font-size: 24px;
    line-height: 32px; } }
