@media screen, projection {
  .sprite {
    display: block; }

  .sprite.vimeo-dark-15 {
    width: 18px;
    height: 15px;
    background: url("../../images/sprite.png") 0px -180px no-repeat; }

  .sprite.twitter-dark-15 {
    width: 11px;
    height: 15px;
    background: url("../../images/sprite.png") -60px -180px no-repeat; }

  .sprite.tumblr-dark-15 {
    width: 10px;
    height: 15px;
    background: url("../../images/sprite.png") -110px -180px no-repeat; }

  .sprite.facebook-dark-15 {
    width: 7px;
    height: 15px;
    background: url("../../images/sprite.png") -150px -180px no-repeat; }

  .sprite.flickr-dark-15 {
    width: 15px;
    height: 8px;
    background: url("../../images/sprite.png") -190px -180px no-repeat; }

  .sprite.git-dark-15 {
    width: 14px;
    height: 15px;
    background: url("../../images/sprite.png") -240px -180px no-repeat; }

  .sprite.friendfeed-dark-15 {
    width: 15px;
    height: 15px;
    background: url("../../images/sprite.png") -340px -180px no-repeat; }

  .sprite.vimeo-light-15 {
    width: 18px;
    height: 15px;
    background: url("../../images/sprite.png") 0px -140px no-repeat; }

  .sprite.twitter-light-15 {
    width: 11px;
    height: 15px;
    background: url("../../images/sprite.png") -60px -140px no-repeat; }

  .sprite.tumblr-light-15 {
    width: 10px;
    height: 15px;
    background: url("../../images/sprite.png") -110px -140px no-repeat; }

  .sprite.facebook-light-15 {
    width: 7px;
    height: 15px;
    background: url("../../images/sprite.png") -150px -140px no-repeat; }

  .sprite.flickr-light-15 {
    width: 15px;
    height: 8px;
    background: url("../../images/sprite.png") -190px -140px no-repeat; }

  .sprite.git-light-15 {
    width: 14px;
    height: 15px;
    background: url("../../images/sprite.png") -240px -140px no-repeat; }

  .sprite.rss-light-15 {
    width: 15px;
    height: 15px;
    background: url("../../images/sprite.png") -290px -140px no-repeat; }

  .sprite.arrow-right-15 {
    width: 9px;
    height: 15px;
    background: url("../../images/sprite.png") -110px 0px no-repeat; }

  .sprite.arrow-left-15 {
    width: 9px;
    height: 15px;
    background: url("../../images/sprite.png") -160px 0px no-repeat; } }
