/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
/*
Slightly modified for Frank
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* change colours to suit your needs */
ins {
  background-color: #f0eceb;
  color: #050000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #f0eceb;
  color: #050000;
  font-style: italic;
  font-weight: 700; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #f0eceb;
  margin: 15px 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

body {
  margin: 0;
  padding: 0;
  font: 62.5%/1.55 Georgia, "Times New Roman", Times, serif;
  background: #fffefe;
  color: #050000;
  height: 100%;
  text-rendering: optimizelegibility; }

/*Images*/
img.noshadow {
  box-shadow: none !important; }

/*Anchor tags*/
a {
  /*Reset*/
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  color: #ea0000;
  text-decoration: none; }
  a img {
    border: none; }

a:hover {
  color: #ff1e00; }

/*Headers*/
h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.3;
  padding-top: 0px;
  margin-bottom: 15px; }

/* TODO: Try this pattern out :not(:last-child) */
h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
  margin-top: 0; }

h1 {
  font-size: 24px; }

h2 {
  font-size: 20px; }

h3 {
  font-size: 17px; }

h4 {
  font-size: 13px; }

h5 {
  font-size: 11px; }

h6 {
  font-size: 10px; }

/*Paragraph*/
p {
  margin: 15px 0;
  font-size: 13px; }

p.xx-large {
  font-size: 28px; }

p.x-large {
  font-size: 24px; }

p.large {
  font-size: 20px; }

p.medium {
  font-size: 17px; }

p.small {
  font-size: 13px; }

p.x-small {
  font-size: 11px; }

p.xx-small {
  font-size: 10px; }

p:first-child {
  margin-top: 0; }

p:last-child {
  margin-bottom: 0; }

/*Blockquote*/
blockquote, q {
  quotes: "„" "“"; }

blockquote {
  color: #3d302f;
  border: 2px #050000 solid;
  border-left: 0;
  border-right: 0;
  margin: 30px 0 30px 40px;
  padding: 15px 0; }
  blockquote p {
    font-size: inherit;
    line-height: inherit;
    margin: 0; }
  blockquote p:first-child:before {
    content: "“"; }
  blockquote p:last-child:after {
    content: "”"; }

cite, blockquote[cite]:after, cite {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px; }

blockquote[cite]:after {
  content: "—" attr(cite);
  display: block;
  color: #050000;
  margin-top: 15px; }

cite {
  margin-left: 40px;
  margin-top: -1em;
  margin-bottom: 2em; }

cite:before {
  content: "—"; }

/*Pre & Code*/
pre, code {
  white-space: pre;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
  font-family: "andale mono", "lucida console", monospace; }

pre {
  /*Merge with Blockquote?*/
  border: 2px #050000 solid;
  border-left: 0;
  border-right: 0;
  margin: 30px 0 30px 40px;
  padding: 15px 0; }

/*Tables*/
table {
  border-collapse: separate;
  border-spacing: 0;
  font-size: 13px;
  margin: 15px 0; }

table, td, th {
  vertical-align: middle; }

th, td {
  text-align: left;
  font-weight: 400;
  padding: 0 5px; }

th {
  border-bottom: 1px solid;
  font-weight: 700; }

/*Ordered & Unordered lists*/
ul, ol {
  margin-top: 15px; }
  ul li, ol li {
    margin-left: 20px;
    font-size: 13px; }

ul {
  list-style: square; }

ol {
  list-style: decimal; }

/*Definition lists*/
dl {
  margin: 15px 0;
  padding-top: 5px;
  font-family: Georgia, "Times New Roman", Times, serif; }

dt, dd {
  font-size: 11px; }

dt {
  font-weight: 700;
  margin-top: 15px; }

dt:first-child {
  margin: 0; }

/*Typographic tags*/
small {
  font-size: 13px; }

strong {
  font-weight: 700; }

em {
  font-style: italic; }

header {
  margin-bottom: 15px; }
  header h1 {
    margin-bottom: 0;
    font-size: 20px; }
  header h2 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-style: italic;
    font-size: 13px;
    color: #5d504f;
    margin: 5px 0 0 0; }
  header a {
    color: #050000;
    text-decoration: none; }
  header a:hover {
    color: #5d504f; }

#content.single article section .flush-left {
  margin-left: -26.1%; }
#content.single article section blockquote.large p {
  font-size: 20px; }
#content.single article section img.flush-left {
  max-width: 126.1%; }

/*Generic Classes*/
.more-link {
  font-style: italic; }

.hidden {
  display: none; }

.crop {
  overflow: hidden; }

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis; }

/*Wordpress Classes*/
.alignleft, .alignright, .aligncenter {
  margin: 10px 0 15px 0; }

.alignleft {
  float: left !important;
  margin-right: 15px; }

.alignright {
  float: right !important;
  margin-left: 15px; }

.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.wp-caption {
  text-align: center;
  margin-top: 10px 0 15px 0; }
  .wp-caption img {
    margin: 0;
    padding: 0;
    border: 0 none; }

.wp-caption-text {
  font-size: 13px !important;
  color: #5d504f;
  margin-top: 10px; }

.gallery-caption {
  text-rendering: optimizelegibility; }

.sticky {
  text-rendering: optimizelegibility; }

.bypostauthor {
  border: 2px solid #5d504f;
  padding: 15px 0;
  border-left: 0;
  border-right: 0; }

/*Pagination links*/
.pagination {
  font-size: 13px; }
  .pagination a {
    margin-right: 40px;
    width: 110px; }

.pagination.small {
  font: 13px "Helvetica Neue", Helvetica, Arial, sans-serif; }
  .pagination.small .title {
    font-weight: 700;
    margin-right: 15px; }
  .pagination.small a {
    margin: 0 10px;
    border: 1px #f0eceb solid;
    color: #5d504f;
    padding: 4px 6px;
    border-radius: 2px; }

/*Metadata content*/
.metadata a {
  color: #5d504f; }
.metadata a:hover {
  color: #050000; }

ul.metadata {
  list-style: none; }
  ul.metadata li {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 11px;
    font-style: italic;
    margin-left: 0; }
  ul.metadata li.date {
    font-style: normal;
    font-weight: 700;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

/* TODO: Try this pattern out :not(:last-child) */
ul.metadata.horizontal {
  margin-top: 15px;
  display: inline-block; }
  ul.metadata.horizontal li {
    float: left;
    background: none;
    margin: 0 15px 0 0; }
  ul.metadata.horizontal li.last, ul.metadata.horizontal li:last-child {
    margin-right: 0; }

ul.metadata.vertical {
  margin-top: 5px; }
  ul.metadata.vertical li {
    text-align: right;
    margin-bottom: 5px; }
  ul.metadata.vertical li.date {
    margin-bottom: 10px; }

dl.metadata {
  display: none;
  text-align: right;
  margin-bottom: 15px; }

.column, .post .post-content, .post .post-info, #content-primary, #sidebar {
  background: #0ff; }

.post .post-header {
  margin-bottom: 15px; }
.post .post-content {
  width: 73.9%;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 17px; }
  .post .post-content p, .post .post-content ul li, .post .post-content ol li, .post .post-content dt, .post .post-content dd, .post .post-content blockquote {
    font-size: 17px; }
  .post .post-content code, .post .post-content small {
    font-size: 13px; }
  .post .post-content img {
    max-width: 100%;
    box-shadow: 0px 0px 8px rgba(18, 7, 6, 0.3); }
.post .post-info {
  width: 21.679%; }

#content {
  margin: 0 0 60px 0;
  position: relative; }

#content-primary {
  width: 73.9%; }

#content.page .post img {
  box-shadow: none !important; }

/* TODO: Try this pattern out :not(:last-child) */
#content.home article, #content.archive article, #content.search article {
  margin-top: 60px;
  margin-bottom: 60px; }
#content.home article:first-child, #content.archive article:first-child, #content.search article:first-child {
  margin-top: 0; }
#content.home article:last-child, #content.archive article:last-child, #content.search article:last-child {
  margin-bottom: 0; }

/*Buttons*/
button, .button, input[type=submit], a.button {
  display: inline-block;
  background: #f0eceb;
  color: #5d504f;
  padding: 8px 10px;
  border-radius: 3px;
  font-weight: 700;
  font-size: 13px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  text-shadow: 0px 1px 0px rgba(255, 254, 254, 0.3);
  border: 1px solid rgba(18, 7, 6, 0.2);
  box-shadow: inset 0px -1px 1px rgba(18, 7, 6, 0.1), inset 0px 1px 1px rgba(255, 253, 253, 0.4); }

button:hover, .button:hover, input[type=submit]:hover {
  background: #998482;
  color: #fffefe;
  border: 1px solid rgba(18, 7, 6, 0.5);
  text-shadow: 0px -1px 0px rgba(5, 0, 0, 0.3);
  box-shadow: inset 0px -1px 1px rgba(18, 7, 6, 0.1), inset 0px 1px 1px rgba(255, 253, 253, 0.2); }

button.alt, .button.alt, input[type=submit].alt {
  background: #ea0000;
  color: #fffefe;
  text-shadow: 0px -1px 0px rgba(5, 0, 0, 0.3); }

button.alt:hover, .button.alt:hover, input[type=submit].alt:hover {
  background: #ff1e00;
  color: #fffefe;
  border: 1px solid rgba(18, 7, 6, 0.5); }

button.small, .button.small, a.button.small {
  font-size: 10px;
  padding: 4px 8px; }

/*Search - not implemented*/
#searchform input {
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box; }

/*404*/
#content.fourohfour .main {
  margin-bottom: 30px; }

#search {
  float: right; }
  #search #search_button {
    display: none; }
  #search #search_form input {
    font-size: 11px; }

/*MOBILE*/
@media only screen and (max-width: 767px) {
  /*Typography*/
  h1 {
    font-size: 24px; }

  h2 {
    font-size: 20px; }

  h3 {
    font-size: 17px; }

  h4 {
    font-size: 13px; }

  h5 {
    font-size: 11px; }

  h6 {
    font-size: 10px; }

  /*Metadata content*/
  ul.metadata.vertical {
    margin-top: 30px;
    display: inline-block; }
    ul.metadata.vertical li {
      float: left;
      background: none;
      margin-right: 15px;
      text-align: left; }
    ul.metadata.vertical li.last, ul.metadata.vertical li:last-child {
      margin-right: 0; }
    ul.metadata.vertical li:first-child {
      margin-left: 0; }

  #content.single article section .flush-left {
    margin-left: 0% !important; }
  #content.single article section img.flush-left {
    max-width: 100% !important; } }
@media screen, projection {
  label {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: 700; }

  input[type=text], textarea {
    font-size: 13px;
    border: 1px solid #5d504f;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #5d504f;
    padding: 3px 4px;
    font-size: 13px;
    box-shadow: inset 0px 0px 5px rgba(18, 7, 6, 0.2);
    border-radius: 2px; }

  input[type=text]:focus, textarea:focus {
    border: 1px solid #050000;
    box-shadow: inset 0px 0px 5px rgba(18, 7, 6, 0.1); } }
.widget {
  margin-bottom: 15px; }
  .widget h3 {
    font-size: 13px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis; }

.widget.six.columns, .widget.three.columns, .widget.four.columns {
  float: left !important; }

.widget.six.columns:nth-child(2n+1), .widget.three.columns:nth-child(4n+1), .widget.four.columns:nth-child(3n+1) {
  margin-left: 0;
  clear: left; }

.widget.six.columns:nth-child(2n), .widget.three.columns:nth-child(4n), .widget.four.columns:nth-child(3n) {
  margin-right: 0;
  float: right; }

#comment_form_comment textarea {
  -webkit-transition: height 0.5s cubic-bezier(0.02, 0, 0.18, 1);
  -moz-transition: height 0.5s cubic-bezier(0.02, 0, 0.18, 1); }

button, .button, input[type=submit] {
  -webkit-transition: background-color 0.5s cubic-bezier(0.02, 0, 0.18, 1);
  -moz-transition: background-color 0.5s cubic-bezier(0.02, 0, 0.18, 1); }

#content.single .previous .arrow, #content.single .previous a {
  -webkit-transition: all 0.75s cubic-bezier(0.02, 0, 0.18, 1);
  -moz-transition: all 0.75s cubic-bezier(0.02, 0, 0.18, 1); }

#site-title {
  font-size: 24px; }

#site-description {
  margin-top: 0; }

#site-nav ul {
  list-style: none; }
#site-nav ul ul {
  display: none; }
#site-nav li {
  float: left; }
#site-nav a {
  display: block;
  height: 15px;
  color: #050000;
  font-style: 700;
  font-size: 11px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
#site-nav a:hover {
  color: #5d504f; }

#page-header {
  position: relative;
  border-bottom: 2px solid #f0eceb;
  padding-bottom: 15px;
  margin: 15px 0 30px 0; }

#sub_header {
  border-bottom: 2px solid #f0eceb;
  padding-bottom: 15px;
  margin-bottom: 30px; }
  #sub_header p {
    font-size: 11px;
    color: #5d504f;
    margin-top: 0; }

#content.home {
  /* TODO: Try this pattern out :not(:last-child) */ }
  #content.home .content {
    margin-bottom: 60px; }
  #content.home .content-header {
    margin-bottom: 30px;
    padding-bottom: 5px;
    border-bottom: 1px #f0eceb solid;
    font-size: 13px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
    #content.home .content-header .caption {
      font-style: italic;
      color: #5d504f;
      margin-left: 10px; }
    #content.home .content-header .more {
      font-family: Georgia, "Times New Roman", Times, serif; }
  #content.home .content .read-more {
    margin-top: 15px; }
    #content.home .content .read-more .more {
      font-size: 11px; }
  #content.home .content.oneup.large header h1 {
    font-size: 20px; }
  #content.home .content.oneup.large section {
    margin: 0 0 15px 0; }
    #content.home .content.oneup.large section p {
      font-style: italic;
      font-size: 38px; }
  #content.home .content.twoup .post, #content.home .content.threeup .post, #content.home .content.fourup .post {
    margin-top: 15px;
    float: left !important; }
  #content.home .content.twoup header h1, #content.home .content.threeup header h1, #content.home .content.fourup header h1 {
    font-size: 13px;
    font-weight: 700; }
  #content.home .content.twoup section p, #content.home .content.threeup section p, #content.home .content.fourup section p {
    font-size: 13px; }
  #content.home .content.twoup .metadata li, #content.home .content.threeup .metadata li, #content.home .content.fourup .metadata li {
    font-size: 11px; }
  #content.home .content.twoup .post:nth-child(2n+1), #content.home .content.threeup .post:nth-child(3n+1), #content.home .content.fourup .post:nth-child(4n+1) {
    margin-left: 0;
    clear: left; }
  #content.home .content.twoup .post:nth-child(2n), #content.home .content.threeup .post:nth-child(3n), #content.home .content.fourup .post:nth-child(4n) {
    margin-right: 0;
    float: right; }
  #content.home .content.twoup .post:nth-child(n+3), #content.home .content.threeup .post:nth-child(n+4), #content.home .content.fourup .post:nth-child(n+5) {
    margin-bottom: 0;
    margin-top: 45px; }

/*MOBILE*/
@media only screen and (max-width: 767px) {
  #content.home .content.oneup.large article section p {
    font-size: 24px; } }
/* Artfully Masterminded by ZURB */
/* --------------------------------------------------
	:: Grid
	
	This is the mobile-friendly, responsive grid that
	lets Foundation work much of its magic.
	
	-------------------------------------------------- */
.container {
  padding: 0 20px; }

.row {
  width: 100%;
  max-width: 980px;
  min-width: 727px;
  margin: 0 auto; }

/* To fix the grid into a certain size, set max-width to width */
.row .row {
  min-width: 0; }

.column, .post .post-content, .post .post-info, #content-primary, #sidebar, .columns {
  margin-left: 4.4%;
  float: left;
  min-height: 1px;
  position: relative; }

.column:first-child, .post .post-content:first-child, .post .post-info:first-child, #content-primary:first-child, #sidebar:first-child, .columns:first-child {
  margin-left: 0; }

[class*="column"] + [class*="column"]:last-child {
  float: right; }

.row .one {
  width: 4.3%; }

.row .two {
  width: 13%; }

.row .three {
  width: 21.679%; }

.row .four {
  width: 30.37%; }

.row .five {
  width: 39.1%; }

.row .six {
  width: 47.8%; }

.row .seven {
  width: 56.5%; }

.row .eight {
  width: 65.2%; }

.row .nine {
  width: 73.9%; }

.row .ten {
  width: 82.6%; }

.row .eleven {
  width: 91.3%; }

.row .twelve {
  width: 100%; }

.row .offset-by-one {
  margin-left: 13.1%; }

.row .offset-by-two {
  margin-left: 21.8%; }

.row .offset-by-three {
  margin-left: 30.5%; }

.row .offset-by-four {
  margin-left: 39.2%; }

.row .offset-by-five {
  margin-left: 47.9%; }

.row .offset-by-six {
  margin-left: 56.6%; }

.row .offset-by-seven {
  margin-left: 65.3%; }

.row .offset-by-eight {
  margin-left: 74.0%; }

.row .offset-by-nine {
  margin-left: 82.7%; }

.row .offset-by-ten {
  margin-left: 91.4%; }

.row .centered {
  float: none;
  margin: 0 auto; }

.row .offset-by-one:first-child {
  margin-left: 8.7%; }

.row .offset-by-two:first-child {
  margin-left: 17.4%; }

.row .offset-by-three:first-child {
  margin-left: 26.1%; }

.row .offset-by-four:first-child {
  margin-left: 34.8%; }

.row .offset-by-five:first-child {
  margin-left: 43.5%; }

.row .offset-by-six:first-child {
  margin-left: 52.2%; }

.row .offset-by-seven:first-child {
  margin-left: 60.9%; }

.row .offset-by-eight:first-child {
  margin-left: 69.6%; }

.row .offset-by-nine:first-child {
  margin-left: 78.3%; }

.row .offset-by-ten:first-child {
  margin-left: 87%; }

.row .offset-by-eleven:first-child {
  margin-left: 95.7%; }

/* Source Ordering */
.push-two {
  left: 17.4%; }

.push-three, .post .post-content {
  left: 26.1%; }

.push-four {
  left: 34.8%; }

.push-five {
  left: 43.5%; }

.push-six {
  left: 52.2%; }

.push-seven {
  left: 60.9%; }

.push-eight {
  left: 69.6%; }

.push-nine {
  left: 78.3%; }

.push-ten {
  left: 87%; }

.pull-two {
  right: 17.4%; }

.pull-three {
  right: 26.1%; }

.pull-four {
  right: 34.8%; }

.pull-five {
  right: 43.5%; }

.pull-six {
  right: 52.2%; }

.pull-seven {
  right: 60.9%; }

.pull-eight {
  right: 69.6%; }

.pull-nine, .post .post-info {
  right: 78.3%; }

.pull-ten {
  right: 87%; }

img, object, embed {
  max-width: 100%;
  height: auto; }

#map_canvas img, .map_canvas img {
  max-width: none!important; }

/* Nicolas Gallagher's micro clearfix */
.row:before, .row:after, .clearfix:before, .clearfix:after {
  content: "";
  display: table; }

.row:after, .clearfix:after {
  clear: both; }

.row, .clearfix {
  zoom: 1; }

/*	--------------------------------------------------
	:: Block grids
	
	These are 2-up, 3-up, 4-up and 5-up ULs, suited
	for repeating blocks of content. Add 'mobile' to
	them to switch them just like the layout grid
	(one item per line) on phones
	
	For IE7/8 compatibility block-grid items need to be
	the same height. You can optionally uncomment the
	lines below to support arbitrary height, but know
	that IE7/8 do not support :nth-child.
	-------------------------------------------------- */
.block-grid {
  display: block;
  overflow: hidden; }

.block-grid > li {
  display: block;
  height: auto;
  float: left; }

.block-grid.two-up {
  margin-left: -4%; }

.block-grid.two-up > li {
  margin-left: 4%;
  width: 46%; }

/* 	.block-grid.two-up>li:nth-child(2n+1) {clear: left;} */
.block-grid.three-up {
  margin-left: -2%; }

.block-grid.three-up > li {
  margin-left: 2%;
  width: 31.3%; }

/* 	.block-grid.three-up>li:nth-child(3n+1) {clear: left;} */
.block-grid.four-up {
  margin-left: -2%; }

.block-grid.four-up > li {
  margin-left: 2%;
  width: 23%; }

/* 	.block-grid.four-up>li:nth-child(4n+1) {clear: left;} */
.block-grid.five-up {
  margin-left: -1.5%; }

.block-grid.five-up > li {
  margin-left: 1.5%;
  width: 18.5%; }

/* 	.block-grid.five-up>li:nth-child(5n+1) {clear: left;} */
#previous_post {
  margin-top: 60px;
  font-style: italic;
  font-family: Georgia, "Times New Roman", Times, serif; }
  #previous_post a {
    font-size: 13px;
    display: block;
    text-align: center; }
  #previous_post nav {
    padding-bottom: 15px;
    border-bottom: 1px solid #f0eceb;
    margin: 15px 0; }
  #previous_post .arrow {
    display: block;
    box-shadow: 0px 0px 8px rgba(18, 7, 6, 0.3);
    width: 45px;
    height: 45px;
    border-radius: 22.5px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    background: #5d504f url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAQCAYAAADESFVDAAAAWElEQVR42qXSzQkAIAgF4EZolEZqhDZqpEZwBM8dovSUYD9YwuNdPgIlt5tWa6AA9wkgpXPfACeagaeAAGkFigDZACbKAoAC+5f+od7Oesh/iC+/QC/DPQAIxvkuqJQtLgAAAABJRU5ErkJggg==") no-repeat 16px 15px; }
  #previous_post a:hover {
    color: #ff1e00; }
    #previous_post a:hover .arrow {
      background-color: #3d302f; }

/* TODO: Remove heirarchy */
#content.single {
  position: relative; }
  #content.single header h1 {
    font-size: 24px;
    color: #3d302f; }
  #content.single section h1, #content.single section h2 {
    margin: 15px 0;
    padding: 0; }
  #content.single section h1 {
    font-size: 20px;
    margin-top: 30px; }
  #content.single section h2 {
    font-size: 17px;
    font-weight: 700; }
  #content.single dl dd {
    margin-left: 40px; }
  #content.single #excerpt {
    padding-bottom: 30px;
    color: #5d504f; }
    #content.single #excerpt p {
      padding-top: 0;
      font-size: 28px;
      font-family: Georgia, "Times New Roman", Times, serif;
      font-style: italic; }
  #content.single section {
    margin-bottom: 45px; }
  #content.single .pagination {
    margin-top: 30px; }
  #content.single #content-main {
    margin: 30px 0;
    border-bottom: 2px solid #f0eceb;
    padding-bottom: 15px; }
  #content.single #post_footer {
    border-bottom: 2px solid #f0eceb;
    padding-bottom: 15px;
    margin-bottom: 30px;
    /* TODO: Try this pattern out :not(:last-child) */ }
    #content.single #post_footer .widget:nth-child(4n) {
      margin-right: 40px; }
    #content.single #post_footer .widget:nth-child(4n+1) {
      clear: none; }
    #content.single #post_footer .widget:nth-child(3n) {
      margin-right: 0; }
    #content.single #post_footer .widget:nth-child(3n+1) {
      clear: left; }
  #content.single #post_tweet {
    float: right;
    margin: 15px 0 30px 0; }

/*MOBILE*/
@media only screen and (max-width: 767px) {
  .post-info .previous a:before {
    content: "Previous Post: "; }
  .post-info .previous nav {
    display: none !important; } }
#content.page article header {
  margin-bottom: 30px; }

#content.archive header {
  margin-bottom: 30px; }

#content.fourohfour h2 {
  margin-top: 0; }

/* Artfully Masterminded by ZURB */
/* --------------------------------------------------
	:: Grid
	
	This is the mobile-friendly, responsive grid that
	lets Foundation work much of its magic.
	
	-------------------------------------------------- */
.container {
  padding: 0 20px; }

.row {
  width: 100%;
  max-width: 980px;
  min-width: 727px;
  margin: 0 auto; }

/* To fix the grid into a certain size, set max-width to width */
.row .row {
  min-width: 0; }

.column, .post .post-content, .post .post-info, #content-primary, #sidebar, .columns {
  margin-left: 4.4%;
  float: left;
  min-height: 1px;
  position: relative; }

.column:first-child, .post .post-content:first-child, .post .post-info:first-child, #content-primary:first-child, #sidebar:first-child, .columns:first-child {
  margin-left: 0; }

[class*="column"] + [class*="column"]:last-child {
  float: right; }

.row .one {
  width: 4.3%; }

.row .two {
  width: 13%; }

.row .three {
  width: 21.679%; }

.row .four {
  width: 30.37%; }

.row .five {
  width: 39.1%; }

.row .six {
  width: 47.8%; }

.row .seven {
  width: 56.5%; }

.row .eight {
  width: 65.2%; }

.row .nine {
  width: 73.9%; }

.row .ten {
  width: 82.6%; }

.row .eleven {
  width: 91.3%; }

.row .twelve {
  width: 100%; }

.row .offset-by-one {
  margin-left: 13.1%; }

.row .offset-by-two {
  margin-left: 21.8%; }

.row .offset-by-three {
  margin-left: 30.5%; }

.row .offset-by-four {
  margin-left: 39.2%; }

.row .offset-by-five {
  margin-left: 47.9%; }

.row .offset-by-six {
  margin-left: 56.6%; }

.row .offset-by-seven {
  margin-left: 65.3%; }

.row .offset-by-eight {
  margin-left: 74.0%; }

.row .offset-by-nine {
  margin-left: 82.7%; }

.row .offset-by-ten {
  margin-left: 91.4%; }

.row .centered {
  float: none;
  margin: 0 auto; }

.row .offset-by-one:first-child {
  margin-left: 8.7%; }

.row .offset-by-two:first-child {
  margin-left: 17.4%; }

.row .offset-by-three:first-child {
  margin-left: 26.1%; }

.row .offset-by-four:first-child {
  margin-left: 34.8%; }

.row .offset-by-five:first-child {
  margin-left: 43.5%; }

.row .offset-by-six:first-child {
  margin-left: 52.2%; }

.row .offset-by-seven:first-child {
  margin-left: 60.9%; }

.row .offset-by-eight:first-child {
  margin-left: 69.6%; }

.row .offset-by-nine:first-child {
  margin-left: 78.3%; }

.row .offset-by-ten:first-child {
  margin-left: 87%; }

.row .offset-by-eleven:first-child {
  margin-left: 95.7%; }

/* Source Ordering */
.push-two {
  left: 17.4%; }

.push-three, .post .post-content {
  left: 26.1%; }

.push-four {
  left: 34.8%; }

.push-five {
  left: 43.5%; }

.push-six {
  left: 52.2%; }

.push-seven {
  left: 60.9%; }

.push-eight {
  left: 69.6%; }

.push-nine {
  left: 78.3%; }

.push-ten {
  left: 87%; }

.pull-two {
  right: 17.4%; }

.pull-three {
  right: 26.1%; }

.pull-four {
  right: 34.8%; }

.pull-five {
  right: 43.5%; }

.pull-six {
  right: 52.2%; }

.pull-seven {
  right: 60.9%; }

.pull-eight {
  right: 69.6%; }

.pull-nine, .post .post-info {
  right: 78.3%; }

.pull-ten {
  right: 87%; }

img, object, embed {
  max-width: 100%;
  height: auto; }

#map_canvas img, .map_canvas img {
  max-width: none!important; }

/* Nicolas Gallagher's micro clearfix */
.row:before, .row:after, .clearfix:before, .clearfix:after {
  content: "";
  display: table; }

.row:after, .clearfix:after {
  clear: both; }

.row, .clearfix {
  zoom: 1; }

/*	--------------------------------------------------
	:: Block grids
	
	These are 2-up, 3-up, 4-up and 5-up ULs, suited
	for repeating blocks of content. Add 'mobile' to
	them to switch them just like the layout grid
	(one item per line) on phones
	
	For IE7/8 compatibility block-grid items need to be
	the same height. You can optionally uncomment the
	lines below to support arbitrary height, but know
	that IE7/8 do not support :nth-child.
	-------------------------------------------------- */
.block-grid {
  display: block;
  overflow: hidden; }

.block-grid > li {
  display: block;
  height: auto;
  float: left; }

.block-grid.two-up {
  margin-left: -4%; }

.block-grid.two-up > li {
  margin-left: 4%;
  width: 46%; }

/* 	.block-grid.two-up>li:nth-child(2n+1) {clear: left;} */
.block-grid.three-up {
  margin-left: -2%; }

.block-grid.three-up > li {
  margin-left: 2%;
  width: 31.3%; }

/* 	.block-grid.three-up>li:nth-child(3n+1) {clear: left;} */
.block-grid.four-up {
  margin-left: -2%; }

.block-grid.four-up > li {
  margin-left: 2%;
  width: 23%; }

/* 	.block-grid.four-up>li:nth-child(4n+1) {clear: left;} */
.block-grid.five-up {
  margin-left: -1.5%; }

.block-grid.five-up > li {
  margin-left: 1.5%;
  width: 18.5%; }

/* 	.block-grid.five-up>li:nth-child(5n+1) {clear: left;} */
#sidebar {
  width: 21.679%;
  margin-top: 10px;
  /* TODO: Try this pattern out :not(:last-child) */ }
  #sidebar .widget {
    margin-right: 0; }
  #sidebar h3 {
    font-weight: 700;
    font-size: 13px;
    margin-bottom: 5px; }
  #sidebar h3:first-child {
    margin-top: 0 !important; }

#comments_container {
  margin-top: 60px; }
  #comments_container .no_comments, #comments_container .comments_closed {
    margin-top: 30px;
    font-style: italic;
    font-size: 28px;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #5d504f; }

/* TODO: Break out heirarchy */
#comments {
  list-style: none; }
  #comments .comment {
    margin: 60px 0;
    background: none; }
  #comments .comment.bypostauthor {
    margin: 45px 0; }
  #comments li:first-child {
    margin-top: 0px; }
  #comments .content {
    font-family: Georgia, "Times New Roman", Times, serif; }
    #comments .content p {
      font-size: 17px;
      color: #3d302f; }
    #comments .content blockquote, #comments .content blockquote p {
      font-size: 13px; }
  #comments .comment-edit-link {
    font-weight: 700;
    color: #ea0000; }

#no_comments {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 28px;
  margin: 30px 0;
  color: #5d504f; }

/* TODO: Break out heirarchy */
#respond input[type=text], #respond textarea {
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%; }
#respond label {
  display: none; }
#respond #comment_form_info input[type=text] {
  margin-bottom: 15px;
  text-align: right; }
#respond textarea {
  margin: 0;
  height: 118px; }
#respond textarea:focus {
  height: 375px; }
#respond #submit {
  margin-top: 15px;
  margin-left: 26.1%; }

#comment_form h1 {
  font-size: 20px; }
#comment_form .loggedin {
  font-style: italic; }

/*MOBILE*/
@media only screen and (max-width: 767px) {
  #comments_container #commentform #comment_form_info input[type=text] {
    text-align: left; } }
#page_bottom {
  background: #5d504f; }

#page_footer {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 30px;
  color: #f0eceb; }
  #page_footer a {
    color: #fffefe; }
  #page_footer h3 {
    font-size: 17px;
    color: #f0eceb;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.7); }

/* --------------------------------------------------
	:: Grid
	-------------------------------------------------- */
/* Mobile */
@media only screen and (max-width: 767px) {
  body {
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
    width: 100%;
    min-width: 0;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0; }

  .container {
    min-width: 0;
    margin-left: 0;
    margin-right: 0; }

  .row {
    width: 100%;
    min-width: 0;
    margin-left: 0;
    margin-right: 0; }

  .row .row .column, .row .row .post .post-content, .post .row .row .post-content, .row .row .post .post-info, .post .row .row .post-info, .row .row #content-primary, .row .row #sidebar, .row .row .columns {
    padding: 0; }

  .column, .post .post-content, .post .post-info, #content-primary, #sidebar, .columns {
    width: auto !important;
    float: none;
    margin-left: 0;
    margin-right: 0; }

  .column:last-child, .post .post-content:last-child, .post .post-info:last-child, #content-primary:last-child, #sidebar:last-child, .columns:last-child {
    margin-right: 0;
    float: none; }

  [class*="column"] + [class*="column"]:last-child {
    float: none; }

  [class*="column"]:before, [class*="column"]:after {
    content: "";
    display: table; }

  [class*="column"]:after {
    clear: both; }

  .offset-by-one, .offset-by-two, .offset-by-three, .offset-by-four, .offset-by-five, .offset-by-six, .offset-by-seven, .offset-by-eight, .offset-by-nine, .offset-by-ten, .offset-by-eleven, .centered {
    margin-left: 0 !important; }

  .push-two, .push-three, .post .post-content, .push-four, .push-five, .push-six, .push-seven, .push-eight, .push-nine, .push-ten {
    left: auto; }

  .pull-two, .pull-three, .pull-four, .pull-five, .pull-six, .pull-seven, .pull-eight, .pull-nine, .post .post-info, .pull-ten {
    right: auto; }

  /* Mobile 4-column Grid */
  /*Unused, so commented out*/
  /*
  .row .phone-one:first-child, .row .phone-two:first-child, .row .phone-three:first-child, .row .phone-four:first-child { margin-left: 0; }
  .row .phone-one:last-child, .row .phone-two:last-child, .row .phone-three:last-child, .row .phone-four:last-child { float: right; }
  
  .row .phone-one, .row .phone-two, .row .phone-three, .row .phone-four { margin-left: 4.4%; float: left; min-height: 1px; position: relative; padding: 0; }
  
  .row .phone-one 	{ width: 21.68% !important; }
  .row .phone-two 	{ width: 47.8% !important; }
  .row .phone-three 	{ width: 73.9% !important; }
  .row .phone-four 	{ width: 100% !important; }
  
  .row .push-one-phone { left: 26.08%; }
  .row .push-two-phone { left: 52.2% }
  .row .push-three-phone { left: 78.3% }
  
  .row .pull-one-phone { right: 26.08% }
  .row .pull-two-phone { right: 52.2% }
  .row .pull-three-phone { right: 78.3%; }
  */ }
/* --------------------------------------------------
	:: Block Grids
	-------------------------------------------------- */
@media only screen and (max-width: 767px) {
  .block-grid.mobile {
    margin-left: 0; }

  .block-grid.mobile > li {
    float: none;
    width: 100%;
    margin-left: 0; } }
/* -------------------------------------------------- 
	:: UI
---------------------------------------------------*/
/* Video */
@media only screen and (max-device-width: 800px), only screen and (device-width: 1024px) and (device-height: 600px), only screen and (width: 1280px) and (orientation: landscape), only screen and (device-width: 800px), only screen and (max-width: 767px) {
  .flex-video {
    padding-top: 0; } }
