#wp-calendar {
  margin-top: 0;
  margin-bottom: 0; }
  #wp-calendar th, #wp-calendar td {
    padding: 0 8px; }
  #wp-calendar th:first-child, #wp-calendar td:first-child {
    padding-left: 0; }
  #wp-calendar th.last, #wp-calendar td.last {
    padding-right: 0; }
  #wp-calendar caption {
    font-style: italic;
    font-size: 11px;
    padding: 0;
    padding-top: 1px; }
  #wp-calendar #today {
    font-weight: bold; }
