.widget {
  margin-bottom: 15px; }
  .widget h3 {
    font-size: 13px;
    line-height: 19px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis; }

.widget.six.columns, .widget.three.columns, .widget.four.columns {
  float: left !important; }

.widget.six.columns:nth-child(2n+1), .widget.three.columns:nth-child(4n+1), .widget.four.columns:nth-child(3n+1) {
  margin-left: 0;
  clear: left; }

.widget.six.columns:nth-child(2n), .widget.three.columns:nth-child(4n), .widget.four.columns:nth-child(3n) {
  margin-right: 0;
  float: right; }
