.widget {
  float: left;
  margin-bottom: 15px; }
  .widget h3 {
    font-size: 13px;
    line-height: 19px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis; }

.widget.fourup:nth-child(4n) {
  margin-right: 0; }

.widget.fourup:nth-child(4n+1) {
  clear: left; }

.widget.threeup:nth-child(3n) {
  margin-right: 0; }

.widget.threeup:nth-child(3n+1) {
  clear: left; }

.widget.twoup:nth-child(2n) {
  margin-right: 0; }

.widget.twoup:nth-child(2n+1) {
  clear: left; }

.widget-last {
  margin-right: 0 !important; }
