@import "variables";

img { -ms-interpolation-mode: bicubic; }
p img:first-child {
	margin-top: -5px;
	margin-bottom: 5px;
}

table {
	border-collapse: separate;
	border-spacing: 0;
	font-size:12px;
	margin:20px 0;
}
table,td,th { vertical-align: middle; }
th,td { text-align: left; font-weight: normal; padding: 0 5px; }
th { border-bottom: 1px solid; font-weight:bold; }

/* @end */

body {
	font-size: 62.5%;
	font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
	background-color: #fefafa;
	color: #050000;
	height: 100%;
	.reset-dimensions;
	line-height: 15px;
}

#page_bottom {
	background:@color_midtone;
}

#page_heel {
	background:@color_off_black;
}

a {
	color: #5d504f;
	text-decoration:underline;
	img { border: none; }
}
a.external { text-decoration: none; border-bottom: 1px dotted #5d504f; }
a:hover { color: #7f7271; }
a.external:hover { text-decoration: none; border-bottom: 1px dotted #7f7271; }
a:visited { }

h1, h2, h3, h4, h5, h6 { margin: (@row-height)-5 0 (@row-height) 0; line-height:(@row-height*2) }
h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child { margin-top: 0; }
h1 { font-size: 24px; padding-top: 6px; margin-bottom: @row-height; }
h2 { font-size: 21px; padding-top: 0px; margin-bottom: @row-height; }
h3 { font-size: 18px; padding-top: 0px; margin-bottom: @row-height; }
h4 { font-size: 16px; padding-top: 0px; margin-bottom: @row-height; }
h5 { font-size: 14px; padding-top: 0px; margin-bottom: @row-height; }
h6 { font-size: 12px; padding-top: 0px; margin: @row-height 0; }

blockquote {
	margin: 15px 0px;
	padding: 0;
	font-size: 17px;
	line-height: 30px;
	color:#5d504f;
	blockquote {
		margin-top:0;
	}
	p {
		font-size: 17px !important;
		line-height:30px !important;
	}
	cite {
		font-size:12px;
	}
	cite:before {
		content:"— ";
	}
}

blockquote:before,blockquote:after,q:before,q:after { content: ""; }
blockquote,q { quotes: "" ""; }
blockquote:first-child, blockquote p:first-child { margin-top: 0; }
blockquote:last-child, blockquote p:last-child { margin-bottom:0; }

p {
	margin: @row-height 0;
	padding-top: 3px;
	margin-bottom: 12px;
	padding-bottom:2px;
	font-size: 12px;
	line-height: @row-height;
}
p:first-child { margin-top: 0; }
p:last-child { margin-bottom: 0; }

pre,code,tt {
	font: 10px 'andale mono','monotype.com','lucida console',monospace;
	line-height: 15px;
}

em { font-style: italic; }

ul, ol {
	padding-top: 5px;
	ul, ol {
		margin:0;
		padding-top:0;
	}
	li {
		margin: 0;
		font-size: 12px;
	}
}

ol {
	list-style:decimal;
	li {
		margin-left:20px;
	}
}

dl {
	margin: @row-height 0;
	padding-top: 5px;
	dt, dd {
		font-size: 12px;
	}
	dt {
		font-weight: bold;
		margin-top: @row-height;
	}
	dt:first-child {
		margin:0
	}
}

hr {
	height: 1px;
	border: 0;
	margin:@row-height 0;
	padding:0;
	background-color: #b5aaa9;
}

/* @group abstract classes */

.hidden { display: none; }
.crop { overflow: hidden; }
.aligncenter { display: block; margin-left: auto; margin-right: auto; }
.alignleft { float: left !important; }
.alignright { float: right !important; }
.wp-caption {
	text-align: center;
	img {
	   margin: 0;
	   padding: 0;
	   border: 0 none;
	}
	p.wp-caption-text {
	   font-size: 11px;
	   padding: 5px 4px 0 0;
	   margin: 15px;
	}
}

/* @end */

.pagination 
{
	.incomplete;
}

#content { margin: (@row-height)-5 0 (@row-height*2) 0;	position:relative; }

.post {
	header {
		margin-bottom: (@row-height)-5;
		h1 a, h2 a, h3 a {
			text-decoration: none;	
		}
	}
	.callout {
		.incomplete;
	}
	p .callout {
		padding-top:0;
	}
	ul.metadata {
		.reset-dimensions;
		padding-top:5px;
		list-style:none;
		li {
			.reset-dimensions;
			float:left;
			background:none;
			margin-right:20px;
		}
		li.last {
			margin-right:0;
		}
	}
}

#foutohfour_title {
	margin-top:0;
	margin-bottom:20px;
	font-size:80px;
	padding-top:0;
	line-height:60px;
}

::selection			{ background: #5d504f none repeat; color:#fefafa; /* Safari and Opera */ }
::-moz-selection  { background: #5d504f none; color:#fefafa; /* Firefox */ }

-webkit-font-smoothing: antialiased;

.time.iconic time, .comments.iconic a { font-family:@sans; padding-left:5px }