@import "variables";


#page_header { 
	height:@row-height;
	position: relative;
	background:@color_midtone;
	h1 {  
		.reset-dimensions;
		margin-left: -20px; 
		a {
			text-decoration: none;	
			color: @color_highlight;
			font-size:11px;
			line-height:@row-height;
			width: 120px;
			height:@row-height;
			display: block;
			font-weight:bold;
			padding-left:20px;
			background: @color_dark;
		}
		a:hover { background: @color_accent; }
	}
	hgroup {
		margin-top: 0px; 
		float: left;
	}
	nav {
		margin-left:20px;
		width:820px;
		float:left;
		.menu ul {
			float: left;
			list-style: none;
			.reset-dimensions;
			display:block;
			width:630px;
			ul {
				display:none;
			}
			
			li:before {
				content:'';
			}
			li {
				float: left;
				margin-right: 30px;
				background: none;
				padding: 0;
				a {
					display: block;
					text-decoration: none;
					font-weight: bold;
					height:(@row-height);
					color: #fefafa;
					font-size: 11px;
					padding-top: 0px;
				}
				a:hover {
					background: #5d504f;
					color: #fefafa;
				}
			}
			li.last {
				margin-right: 0;
			}
		}
		#follow {
			position:absolute;
			right:0;
			#follow_header {
				background:#ff1e00;
				padding-left:4px;
				display:block;
				color:#fefafa !important;
				text-decoration: none;
				font-weight: bold;
				font-size: 11px;
			}
		}	
	}
}

#sub_header {
	p {
		font-size:12px;
		color:@color_midtone;
		line-height:@row-height;
		margin-top:0;
	}
	.widget {
		float:left;
		margin-right:20px;
		width:190px;
		margin-bottom:(@row-height);
	}
	.widget:nth-child(4n+1) {
		width:330px;
		clear:left;
	}
	.widget:nth-child(4n) {
		margin-right:0;
	}	
}