@color_accent: 		#ff1e00;
@color_highlight: 	#fefafa;
@color_light: 		#f0eceb;
@color_midtone: 	#5d504f;
@color_dark: 		#3d302f;
@color_off_black: 	#050000;

@row-height:		15px;
@column-width:		50px;
@gutter-width:		20px;

.reset-dimensions {
	margin:0;
	padding:0;
}

.show-bounds {
	background-color: rgba(255, 255, 0, .5);
}

.opacity(@level:1) {
	opacity:@level;
}

#content.home {
	.metadata {
		margin:10px 0 10px 0;
	}
	
	hgroup.content_header {

		h2 {
			font-size:15px;
			margin:9px 0 10px 0;
		}
		h3 {
			font-size:11px;
			line-height:@row-height;
			font-style:italic;
			.reset-dimensions;
		}
	}
	
	.post {
		header {
			
		}
	}
	
	#content_primary {
		margin-bottom:(@row-height*2);
		hgroup {
			
		}
		.post {
			header {
				h1 {
					
				}
				.metadata {
				
				}
			}
			section {
				margin:0 0 @row-height 0;
				p {
					font-style:italic;
					font-size:38px !important;
					line-height:(@row-height*3);
					padding-bottom:5px;
				}
			}
		}
	}

	#content_secondary, #content_tertiary {
		margin-top:@row-height;
		.post.active {
			.metadata {
				.opacity(1);
			}
		}
		.post {
			position:relative;
			float:left;
			margin-right:@gutter-width;
			header {
				.reset-dimensions;
				margin-bottom:5px;
				h1 {
					.reset-dimensions;
					padding-top:10px;
					font-size: 13px;
					line-height:(@row-height*2);
					font-weight:bold;
					a { text-decoration:none; }
				}
			}
			.metadata {
				.opacity(0);
			}
			section p {
				font-size: 11px;
				padding-bottom:0;
			}
			.permalink {
				font-size: 10px;
				display: block;
			}
		}
		.post:nth-child(4n) {
			margin-right:0;
		}
	}
	
	#content_secondary {
		
	}
	
	#content_tertiary {
	
	}
}

/*Temp rules*/

#content.home .post img {
	max-width:190px;
}