@import "variables";

#content.home {	
	.content-header {
		.label, .caption {
			display:block;
		}
		.label {
			font-size:15px;
			margin:10px 0 9px 0;
		}
		.caption {
			font-size:11px;
			line-height:@row-height;
			font-style:italic;
			.reset-dimensions;
			font-family:@serif;
		}
		.more {
			display:block;
			margin-top:@row-height;
			font-weight:@bold;
		}
	}
	
	#content_primary {
		margin-bottom:(@row-height);
		.post {
			header {
				h1 {
					font-size:19px;
					margin-bottom:0;
				}
			}
			section {
				margin:0 0 @row-height+2 0;
				p {
					font-style:italic;
					font-size:38px !important;
					line-height:(@row-height*3);
					padding-top:2px;
					padding-bottom:5px;
				}
			}
		}
	}

	#content_secondary, #content_tertiary {
		margin-top:@row-height*2;
		.post.active {
			.metadata {
				.opacity(1);
			}
		}
		.post {
			margin-top:5px;
			position:relative;
			float:left;
			margin-right:@gutter-width;
			header {
				.reset-dimensions;
				h1 {
					.reset-dimensions;
					font-size: 13px;
					line-height:(@row-height*2);
					font-weight:bold;
					a { text-decoration:none; }
				}
			}
			.metadata { .opacity(0); }
			section  {
				margin-top:5px;
				p {
					font-size: 11px;
					padding-bottom:0;
				}
			}
		}
		.post:nth-child(4n) { margin-right:0; }
	}
	
	#content_secondary {
		
	}
	
	#content_tertiary {
	
	}
}