@color_accent: 		#ff1e00;
@color_highlight: 	#fefafa;
@color_light: 		#f0eceb;
@color_midtone: 	#5d504f;
@color_dark: 		#3d302f;
@color_off_black: 	#050000;

@sans:'Helvetica Neue',Helvetica,Arial,sans-serif;
@serif:serif;
@row-height:		15px;
@column-width:		50px;
@gutter-width:		20px;

.reset-dimensions {
	margin:0;
	padding:0;
}

.show-bounds {
	background-color: rgba(255, 255, 0, .5);
}

.opacity(@level:1) {
	opacity:@level;
}

.incomplete {
	background-color: rgba(255,0,255,.5);
}


#content.post
{
	position: relative;
	margin-top: @row-height;
	#content_secondary {
		.opacity(.5);
		position: absolute;
		right: 0px;
		top: 0px;
		overflow:hidden;
		height:auto;
		border-left: 1px solid @color_highlight;
		border-right:0;
		z-index:100;
		.container {
			position: relative;
			left: 0;
			float: right;
		}
		h3 {
			margin-bottom: 0;
			padding-bottom: 3px;
		}
		h3:first-child {
			margin-top: 0 !important;
		}
		.container {
			padding-top:@row-height;
		}
	}
	#content_secondary:hover {
		.opacity(1);
		width:420px;
		height:100%;
		background: rgba(254,250,250,.94);
		border-left:1px solid @color_midtone;
	}
}

#content.post {
	#content_primary {
		h1 {
			font-size:32px;
			line-height:40px;
			margin-top:-6px;
			padding-bottom:0;
			margin-bottom:0;
			.iconic {
				color:@color_midtone;
				padding-right:15px;
			}
		}
		
		h2 {
			font-size:11px;
		}
		#excerpt {
			p {
				padding-top:0;
				font-size:22px;
				line-height:@row-height*2;
				font-style:italic;
				margin-bottom:(@row-height*2);
			}
		}
		
		section {
			margin-bottom:15px;
			p {
				font-size:17px;
				font-family:@serif;
				line-height:30px;
			}
		}
		footer {
			.reset-dimensions;
			margin-top:(@row-height*2);
			p {
				font-size:14px !important;
			}
		}
	}
}

#post_footer .widget {
	float:left;
	margin-right:20px;
	width:190px;
	margin-bottom:20px;
}

#post_footer .widget:nth-child(3n+1) {
	width:330px;
	clear:left;
}

#post_footer .widget:nth-child(3n) {
	margin-right:0;
}

/*ie hacks - need to define first and last divs to apply special rules. ie7 may need equal height hack*/

#post_footer .item-0, #page_footer .item-4 {
	background:#c00;
	clear:left;
	width:330px;
	.incomplete;
}

#post_footer .item-3, #page_footer .item-7 {
	background:#0c0;
	margin-right:0;
	.incomplete;
}
