#follow_list {
	-webkit-transition: all .3s cubic-bezier(0.02, 0, 0.18, 1.0); 
	-moz-transition: all .3s cubic-bezier(0.02, 0, 0.18, 1.0); 
	-o-transition: all .3s cubic-bezier(0.02, 0, 0.18, 1.0); 
}

#sidebar {
	-webkit-transition-property: width, border-left, opacity;
	-webkit-transition-duration: .5s;
	-webkit-transition-timing-function: cubic-bezier(0.02, 0, 0.18, 1.0);

	-moz-transition: all .5s cubic-bezier(0.02, 0, 0.18, 1.0); 
	-o-transition: all .5s cubic-bezier(0.02, 0, 0.18, 1.0); 
}

#sticky_footer {
	-webkit-transition: all .5s cubic-bezier(0.02, 0, 0.18, 1.0); 
	-moz-transition: all .5s cubic-bezier(0.02, 0, 0.18, 1.0); 
	-o-transition: all .5s cubic-bezier(0.02, 0, 0.18, 1.0); 
}