img {
  -ms-interpolation-mode: bicubic;
}

.chromeframe {
  background: #f0eceb;
  color: #050000;
  font: 700 13px Sans-Serif;
  padding: 5px 15px;
  text-align: center;
}

label {
  font: 700 13px Sans-Serif;
}

#top_bar {
  background: #050000;
}

#content.single {
  padding-bottom: 45px;
}

#sub-header .widget-4, #sub-header .widget-7 {
  clear: left;
  margin-left: 0;
}

#prev-post .arrow {
  background: #5d504f url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAQCAYAAADESFVDAAAAWElEQVR42qXSzQkAIAgF4EZolEZqhDZqpEZwBM8dovSUYD9YwuNdPgIlt5tWa6AA9wkgpXPfACeagaeAAGkFigDZACbKAoAC+5f+od7Oesh/iC+/QC/DPQAIxvkuqJQtLgAAAABJRU5ErkJggg==') no-repeat 16px 15px;
}

.post-group {
  position: relative;
}

.post-group.twoup .post-3,
.post-group.twoup .post-5,
.post-group.twoup .post-7,
.post-group.twoup .post-9,
.post-group.twoup .post-11,
.post-group.twoup .post-13,
.post-group.twoup .post-15,
.post-group.twoup .post-17,
.post-group.twoup .post-19 {
  clear: left !important;
  margin-left: 0 !important;
}

.post-group.threeup .post-4,
.post-group.threeup .post-7,
.post-group.threeup .post-10,
.post-group.threeup .post-13,
.post-group.threeup .post-16,
.post-group.threeup .post-19,
.post-group.threeup .post-22,
.post-group.threeup .post-25,
.post-group.threeup .post-28 {
  clear: left !important;
  margin-left: 0 !important;
}

.post-group.fourup .post-5, .post-group.fourup .post-9, .post-group.fourup .post-13, .post-group.fourup .post-17, .post-group.fourup .post-21, .post-group.fourup .post-25, .post-group.fourup .post-29, .post-group.fourup .post-33, .post-group.fourup .post-37 {
  clear: left !important;
  margin-left: 0 !important;
}

#page-footer .widget-3, #page-footer .widget-5, #page-footer .widget-7 {
  clear: left;
  margin-left: 0;
}

#post-footer .widget-4, #post-footer .widget-7, #post-footer .widget-10 {
  clear: left;
  margin-left: 0;
}

#respond label {
  display: block;
}
#respond #comment-form-info label {
  text-align: right;
}
#respond #comment-form-info input[type=text] {
  margin-bottom: 15px;
}
#respond textarea {
  height: 137px;
}

#comment-form-content dl {
  text-align: left;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix {
  display: inline-block;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}
