@media screen,projection{
* {
font-size:1em;
margin:0;
outline:none;
padding:0;
text-decoration:none;
}

code,kbd,samp,pre,tt,var,textarea,input,select,isindex,listing,xmp,plaintext {
font:inherit;
white-space:normal;
}

a,img,a img,iframe,form,abbr,acronym,object,applet,table,a abbr,a
acronym {
border-width:0;
}

dfn,i,cite,var,address,em {
font-style:normal;
}

th,b,strong,h1,h2,h3,h4,h5,h6,dt {
font-weight:400;
}

html {
background:#FFF;
color:#000;
font-family:sans-serif;
line-height:1;
}

q {
quotes:\201C\201D\2018\2019;
}

ul,ol,dir,menu {
list-style:none;
}

sub,sup {
vertical-align:baseline;
}

a {
color:#ea0000;
text-decoration:none;
}

font,basefont {
color:inherit;
font:inherit;
font-size:100%;
}

center,[align] {
text-align:inherit;
}

s,strike,u {
text-decoration:inherit;
}

img {
-ms-interpolation-mode:bicubic;
border:none;
margin:0;
}

ol {
list-style:decimal;
list-style-type:decimal;
}

body {
background-color:#fffefe;
border-top:3px solid #050000;
color:#050000;
font-family:'Helvetica Neue',Arial,Helvetica,Geneva,sans-serif;
font-size:62.5%;
height:100%;
margin:0;
padding:0;
text-rendering:optimizelegibility;
}

tr,th,td {
background-color:transparent;
border:none;
height:auto;
vertical-align:inherit;
width:auto;
}

table[border],.content table[border] {
border-collapse:separate;
border-spacing:0;
}

nobr {
white-space:normal;
}

marquee {
-moz-binding:none;
overflow:visible;
}

::selection {
background:#5d504f none repeat;
color:#fffefe;
}

::-moz-selection {
background:#5d504f none;
color:#fffefe;
}

small {
font-size:10px;
}

table {
border-collapse:separate;
border-spacing:0;
font-size:11px;
line-height:14px;
margin:20px 0;
}

table,td,th {
vertical-align:middle;
}

th,td {
font-weight:400;
padding:0 5px;
text-align:left;
}

th {
border-bottom:1px solid;
font-weight:700;
}

#page_bottom {
background:#5d504f;
}

#page_heel {
background:#3d302f;
color:#fffefe;
padding:15px 0;
}

a
img {
border:none;
}

a.external {
border-bottom:1px dotted #5d504f;
text-decoration:none;
}

a:hover {
color:#ff1e00;
}

a.external:hover {
border-bottom:1px dotted #3d302f;
text-decoration:none;
}

.metadata
a {
color:#5d504f;
text-decoration:none;
}

h1,h2,h3,h4,h5,h6 {
font-family:'Helvetica Neue',Arial,Helvetica,Geneva,sans-serif;
font-weight:400;
}

h1 {
font-size:24px;
line-height:32px;
margin-bottom:15px;
padding-top:6px;
}

h2 {
font-size:20px;
line-height:30px;
margin-bottom:15px;
padding-top:0;
}

h3 {
font-size:17px;
line-height:27px;
margin-bottom:15px;
padding-top:0;
}

h4 {
font-size:13px;
line-height:19px;
margin-bottom:15px;
padding-top:0;
}

h5 {
font-size:11px;
line-height:14px;
margin-bottom:15px;
padding-top:0;
}

h6 {
font-size:10px;
line-height:12px;
margin:15px 0;
padding-top:0;
}

cite {
font-family:'Helvetica Neue',Arial,Helvetica,Geneva,sans-serif;
font-size:13px;
line-height:19px;
margin-bottom:2em;
margin-left:40px;
margin-top:-1em;
}

cite:before {
content:"— ";
}

blockquote,q {
quotes:„ “;
}

blockquote {
border:2px #050000 solid;
border-left:0;
border-right:0;
color:#3d302f;
margin:2em 0 2em 40px;
padding:1em 0;
}

blockquote
p {
font-size:inherit;
line-height:inherit;
margin:0;
}

blockquote p:first-child:before {
content:"“";
}

blockquote p:last-child:after {
content:"”";
}

blockquote[cite]:after {
color:#050000;
content:"— " attr(cite);
display:block;
font-family:'Helvetica Neue',Arial,Helvetica,Geneva,sans-serif;
font-size:13px;
line-height:19px;
margin-top:1em;
}

p {
font-size:11px;
line-height:14px;
margin:1em 0;
}

pre,code {
white-space:pre;
}

pre {
border:2px #050000 solid;
border-left:0;
border-right:0;
margin:2em 0;
padding:1em 0;
}

pre,code,tt {
font-family:'andale mono','monotype.com','lucida console',monospace;
}

ul,ol {
margin-left:15px;
padding-top:5px;
}

ul li,ol
li {
font-size:11px;
margin-bottom:5px;
margin-left:20px;
}

ul {
list-style:square;
}

dl {
margin:15px 0;
padding-top:5px;
}

dl
dt {
font-weight:700;
margin-top:15px;
}

dl dt:first-child {
margin:0;
}

hr {
background-color:#b5aaa9;
border:0;
height:1px;
margin:15px 0;
padding:0;
}

.crop {
overflow:hidden;
}

.aligncenter {
display:block;
margin-left:auto;
margin-right:auto;
}

.alignleft {
float:left!important;
}

.alignright {
float:right!important;
}

.wp-caption {
text-align:center;
}

.wp-caption
img {
border:0 none;
margin:0;
padding:0;
}

.wp-caption p.wp-caption-text {
font-size:11px;
margin:15px;
padding:5px 4px 0 0;
}

#content {
margin:10px 0 30px;
position:relative;
}

ul.metadata {
background:#f0eceb;
border-radius:5px;
display:inline-block;
list-style:none;
margin:15px 0 0;
padding:4px 10px;
}

ul.metadata
li {
background:none;
float:left;
font-size:13px;
line-height:19px;
margin:0 15px 0 0;
padding:0;
}

dl.metadata {
margin:0 0 15px;
padding:0;
text-align:right;
}

.post
header {
margin-bottom:10px;
}

#content.home article header h1,#content.single article header h1,#content.page article header h1,#content.archive article header
h1 {
font-size:20px;
font-weight:17px;
line-height:30px;
}

#content.home article header h2,#content.single article header h2,#content.page article header h2,#content.archive article header
h2 {
font-size:11px;
margin-top:0;
}

#content.home article section,#content.single article section,#content.page article section,#content.archive article
section {
font-family:Georgia,"Times New Roman",Times,serif;
font-size:17px;
line-height:27px;
}

#content.home article section p,#content.single article section p,#content.page article section p,#content.archive article section
p {
font-family:Georgia,"Times New Roman",Times,serif;
font-size:17px;
line-height:27px;
}

#content.home article section img,#content.single article section img,#content.page article section img,#content.archive article section
img {
-moz-box-shadow:0 0 8px rgba(18,7,6,0.3);
-webkit-box-shadow:0 0 8px rgba(18,7,6,0.3);
box-shadow:0 0 8px rgba(18,7,6,0.3);
max-width:550px;
}

#content.page article
img {
-moz-box-shadow:0 0 0 #000;
-webkit-box-shadow:0 0 0 #000;
box-shadow:0 0 0 #000;
}

#content.home article,#content.archive
article {
margin:45px 0;
}

.pagination {
font-size:13px;
line-height:19px;
margin:30px 0;
}

.pagination
a {
margin-right:40px;
width:110px;
}

.button:hover {
background:#5d504f;
color:#fffefe;
}

.widget-last {
margin-right:0!important;
}

label {
font-family:'Helvetica Neue',Arial,Helvetica,Geneva,sans-serif;
font-size:13px;
font-weight:700;
line-height:19px;
}

input[type=text],textarea {
border:1px solid #5d504f;
color:#5d504f;
font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;
font-size:13px;
line-height:19px;
}

#wp-calendar {
margin-bottom:0;
margin-top:0;
}

#wp-calendar th,#wp-calendar
td {
padding:0 8px;
}

#wp-calendar th:first-child,#wp-calendar td:first-child {
padding-left:0;
}

#wp-calendar th.last,#wp-calendar
td.last {
padding-right:0;
}

#wp-calendar
caption {
font-size:11px;
font-style:italic;
padding:1px 0 0;
}

.sprite.vimeo-dark-30 {
background:url(images/sprite.png) 0 -90px no-repeat;
height:26px;
width:30px;
}

.sprite.twitter-dark-30 {
background:url(images/sprite.png) -60px -90px no-repeat;
height:30px;
width:23px;
}

.sprite.tumblr-dark-30 {
background:url(images/sprite.png) -110px -90px no-repeat;
height:30px;
width:19px;
}

.sprite.facebook-dark-30 {
background:url(images/sprite.png) -150px -90px no-repeat;
height:30px;
width:14px;
}

.sprite.flickr-dark-30 {
background:url(images/sprite.png) -190px -90px no-repeat;
height:15px;
width:30px;
}

.sprite.git-dark-30 {
background:url(images/sprite.png) -240px -90px no-repeat;
height:30px;
width:28px;
}

.sprite.friendfeed-dark-30 {
background:url(images/sprite.png) -340px -90px no-repeat;
height:30px;
width:28px;
}

.sprite.vimeo-light-30 {
background:url(images/sprite.png) 0 -40px no-repeat;
height:26px;
width:30px;
}

.sprite.twitter-light-30 {
background:url(images/sprite.png) -60px -40px no-repeat;
height:30px;
width:23px;
}

.sprite.tumblr-light-30 {
background:url(images/sprite.png) -110px -40px no-repeat;
height:30px;
width:19px;
}

.sprite.facebook-light-30 {
background:url(images/sprite.png) -150px -40px no-repeat;
height:30px;
width:14px;
}

.sprite.flickr-light-30 {
background:url(images/sprite.png) -190px -40px no-repeat;
height:15px;
width:30px;
}

.sprite.git-light-30 {
background:url(images/sprite.png) -240px -40px no-repeat;
height:30px;
width:28px;
}

.sprite.rss-light-30 {
background:url(images/sprite.png) -290px -40px no-repeat;
height:30px;
width:30px;
}

.sprite.vimeo-dark-15 {
background:url(images/sprite.png) 0 -180px no-repeat;
height:15px;
width:18px;
}

.sprite.twitter-dark-15 {
background:url(images/sprite.png) -60px -180px no-repeat;
height:15px;
width:11px;
}

.sprite.tumblr-dark-15 {
background:url(images/sprite.png) -110px -180px no-repeat;
height:15px;
width:10px;
}

.sprite.facebook-dark-15 {
background:url(images/sprite.png) -150px -180px no-repeat;
height:15px;
width:7px;
}

.sprite.flickr-dark-15 {
background:url(images/sprite.png) -190px -180px no-repeat;
height:8px;
width:15px;
}

.sprite.git-dark-15 {
background:url(images/sprite.png) -240px -180px no-repeat;
height:15px;
width:14px;
}

.sprite.friendfeed-dark-15 {
background:url(images/sprite.png) -340px -180px no-repeat;
height:15px;
width:15px;
}

.sprite.vimeo-light-15 {
background:url(images/sprite.png) 0 -140px no-repeat;
height:15px;
width:18px;
}

.sprite.twitter-light-15 {
background:url(images/sprite.png) -60px -140px no-repeat;
height:15px;
width:11px;
}

.sprite.tumblr-light-15 {
background:url(images/sprite.png) -110px -140px no-repeat;
height:15px;
width:10px;
}

.sprite.facebook-light-15 {
background:url(images/sprite.png) -150px -140px no-repeat;
height:15px;
width:7px;
}

.sprite.flickr-light-15 {
background:url(images/sprite.png) -190px -140px no-repeat;
height:8px;
width:15px;
}

.sprite.git-light-15 {
background:url(images/sprite.png) -240px -140px no-repeat;
height:15px;
width:14px;
}

.sprite.rss-light-15 {
background:url(images/sprite.png) -290px -140px no-repeat;
height:15px;
width:15px;
}

#top_bar {
background-color:rgba(5,0,0,0.9);
border-bottom:1px solid #050000;
color:#fffefe;
padding:5px 20px 5px 40px;
}

#top_bar
p {
font-size:11px;
font-weight:700!important;
line-height:14px;
}

#page_header
h1 {
font-size:17px;
margin-bottom:5px;
}

#page_header
nav {
display:block;
float:left;
margin-bottom:5px;
padding-bottom:5px;
width:750px;
}

#page_header nav .menu
ul {
display:block;
float:left;
list-style:none;
margin:0;
padding:0;
}

#page_header nav .menu ul li:before {
content:'';
}

#page_header nav .menu ul
li {
background:none;
float:left;
margin:0 30px 0 0;
padding:0;
}

#page_header nav .menu ul li
a {
color:#050000;
display:block;
font-size:11px;
height:15px;
padding-top:0;
text-decoration:none;
}

#search {
float:right;
}

#search #search_form
input {
font-size:11px;
width:190px;
}

#sub_header {
border-bottom:2px solid #f0eceb;
margin-top:5px;
}

#sub_header
p {
color:#5d504f;
font-size:11px;
line-height:15px;
margin-top:0;
}

#sub_header
.widget {
float:left;
margin-bottom:15px;
margin-right:20px;
width:190px;
}

#content.home .content-header {
-moz-border-image:url(data:image/gif;base64,R0lGODlhBQABAIAAAD0wLwAAACH5BAHoAwEALAAAAAAFAAEAAAIDRB4FADs=) 5 0 repeat;
-webkit-border-image:url(data:image/gif;base64,R0lGODlhBQABAIAAAD0wLwAAACH5BAHoAwEALAAAAAAFAAEAAAIDRB4FADs=) 5 0 repeat;
border-width:0 0 1px;
font-size:11px;
line-height:14px;
padding-bottom:5px;
}

#content.home .content-header
.caption {
display:none;
font-family:Georgia,"Times New Roman",Times,serif;
font-style:italic;
margin:0;
padding:0;
}

#content.home .content-header
.more {
font-family:'Helvetica Neue',Arial,Helvetica,Geneva,sans-serif;
margin:0;
padding:0;
}

#content.home .content.oneup .post img,#content.home .content.oneup.large .post img,#content.home .content.twoup .post img,#content.home .content.fourup .post img,#content.home .content.halfandhalf .post
img {
-moz-box-shadow:0 0 8px rgba(18,7,6,0.3);
-webkit-box-shadow:0 0 8px rgba(18,7,6,0.3);
box-shadow:0 0 8px rgba(18,7,6,0.3);
}

#content.home .content.oneup.large .post header
h1 {
font-size:17px;
line-height:27px;
margin:0;
padding:0;
}

#content.home .content.oneup.large .post
section {
margin:0 0 15px;
}

#content.home .content.oneup.large .post section
p {
font-size:38px;
font-style:italic;
line-height:47px;
}

#content.home .content.twoup .post,#content.home .content.fourup
.post {
float:left;
margin:15px 40px 0 0;
}

#content.home .content.twoup .post header h1,#content.home .content.fourup .post header
h1 {
font-size:13px;
font-weight:700;
line-height:19px;
margin:0;
padding:0;
}

#content.home .content.twoup .post section,#content.home .content.fourup .post
section {
font-size:13px;
line-height:19px;
margin-top:5px;
}

#content.single article header
h1 {
color:#3d302f;
font-size:24px;
font-weight:400;
line-height:32px;
}

#content.single article section
h1 {
font-size:20px;
line-height:30px;
margin:30px 0 15px;
padding:0;
}

#content.single article section
h2 {
font-size:17px;
font-weight:700;
line-height:27px;
margin:15px 0;
padding:0;
}

#content.single article dl
dd {
margin-left:40px;
}

#content.single #content_primary
#excerpt {
color:#5d504f;
padding-bottom:30px;
}

#content.single #content_primary #excerpt
p {
font-family:Georgia,"Times New Roman",Times,serif;
font-size:28px;
font-style:italic;
line-height:35px;
padding-top:0;
}

#content.single #content_primary
footer {
margin:30px 0 0;
padding:0;
}

#content.single #content_primary footer
p {
font-size:14px!important;
}

#content.single #content_primary
#content_main {
margin-top:30px;
}

#content.single #post_footer
.widget {
float:left;
margin-bottom:0;
margin-right:40px;
width:215px;
}

#content.archive header
h2 {
color:#5d504f;
font-family:Georgia,"Times New Roman",Times,serif;
font-size:13px;
font-style:italic;
line-height:19px;
margin-top:0;
}

#content.fourohfour .container p.default-message {
font-family:Georgia,"Times New Roman",Times,serif;
font-size:17px;
line-height:30px;
}

#content.fourohfour .container
#s {
font-size:13px;
line-height:19px;
width:385px;
}

#content.fourohfour
.widget {
float:left;
margin-bottom:30px;
margin-right:20px;
width:190px;
}

#sidebar {
float:left;
margin-top:60px;
opacity:0.75;
width:215px;
}

#sidebar
h3 {
font-size:13px;
font-weight:700;
line-height:19px;
margin-bottom:5px;
}

#sidebar h3:first-child {
margin-top:0!important;
}

#sidebar
.container {
padding-top:15px;
}

#sidebar:hover {
opacity:1;
}

#comments_container {
margin-top:60px;
}

#comments_container
.no_comments {
color:#5d504f;
font-family:Georgia,"Times New Roman",Times,serif;
font-size:28px;
font-style:italic;
line-height:35px;
margin-top:30px;
}

#comments_container
.comments_closed {
color:#5d504f;
font-family:Georgia,"Times New Roman",Times,serif;
font-size:20px;
font-style:italic;
line-height:30px;
margin-top:30px;
}

#comments_container header
h2 {
font-family:Georgia,"Times New Roman",Times,serif;
font-style:italic;
margin-top:0;
}

#comments_container
#comments {
list-style:none;
margin:0 0 15px;
padding:0;
}

#comments_container #comments
.copy {
font-family:Georgia,"Times New Roman",Times,serif;
}

#comments_container #comments .copy
p {
color:#3d302f;
font-size:17px;
line-height:27px;
}

#comments_container #comments
li {
background:none;
margin:0;
padding:30px 0;
}

#comments_container #comments li:last-child {
border:0;
padding-bottom:0;
}

#comments_container
#no_comments {
color:#5d504f;
font-size:26px;
line-height:30px;
margin-bottom:30px;
padding-top:10px;
}

#comments_container #commentform
dl {
margin:0;
padding:0;
position:relative!important;
}

#comments_container #commentform dl
dt {
margin-bottom:5px;
margin-top:15px;
padding:0;
}

#comments_container #commentform dl dd
input.textinput {
font-size:11px;
height:15px;
line-height:14px;
margin:0;
width:130px;
}

#comments_container #commentform
textarea {
border:1px solid #000;
font-size:13px;
height:127px;
line-height:19px;
margin:0;
padding:2px 4px;
width:100%;
}

#comments_container #commentform textarea
.loggedin {
width:740px;
}

#comments_container #comment_form_comment
textarea {
height:108px;
}

#comments_container #comment_form_comment textarea:focus {
height:300px;
}

#page_footer {
color:#f0eceb;
padding-bottom:30px;
padding-top:30px;
}

#page_footer
h3 {
color:#f0eceb;
font-family:'Helvetica Neue',Arial,Helvetica,Geneva,sans-serif;
font-size:13px;
font-weight:700;
line-height:19px;
margin-bottom:5px;
}

#page_footer
.widget {
float:left;
font-family:Georgia,"Times New Roman",Times,serif;
margin-bottom:45px;
margin-right:40px;
width:215px;
}

#page_footer .widget:nth-child(3n+1) {
clear:left;
width:470px;
}

#page_heel
.widget {
color:#f0eceb;
float:left;
margin-bottom:1px;
margin-right:40px;
width:215px;
}

#page_heel .widget
h3 {
font-size:11px;
font-weight:700;
line-height:15px;
margin:5px 0 0;
padding:0;
}

#page_heel .widget
p {
margin:5px 0;
padding:0;
}

#colorbox,#cboxOverlay,#cboxWrapper {
left:0;
overflow:hidden;
position:absolute;
top:0;
z-index:9999;
}

#cboxOverlay {
background-color:rgba(42,32,30,0.75);
height:100%;
position:fixed;
width:100%;
}

#cboxContent {
background:#fffefe;
overflow:hidden;
padding:1px 1px 5px;
position:relative;
}

#cboxLoadedContent {
margin-bottom:28px;
overflow:auto;
}

#cboxLoadedContent
iframe {
border:0;
display:block;
height:100%;
width:100%;
}

#cboxTitle {
bottom:3px;
color:#5d504f;
left:0;
margin:0;
position:absolute;
text-align:center;
width:100%;
}

#cboxLoadingOverlay,#cboxLoadingGraphic {
left:0;
position:absolute;
top:0;
width:100%;
}

#cboxPrevious,#cboxNext,#cboxClose,#cboxSlideshow {
cursor:pointer;
}

#cboxCurrent {
bottom:3px;
color:#5d504f;
left:58px;
position:absolute;
}

#cboxSlideshow {
bottom:3px;
color:#5d504f;
position:absolute;
right:30px;
}

#cboxPrevious {
background:url(/wordpress/wp-content/themes/Franklin-Street-Theme/images/fs_sprite.png) -200px -150px no-repeat;
border-bottom:1px solid #5d504f;
border-right:1px solid #5d504f;
bottom:5px;
height:20px;
left:5px;
position:absolute;
text-indent:-9999px;
width:20px;
}

#cboxNext {
background:url(/wordpress/wp-content/themes/Franklin-Street-Theme/images/fs_sprite.png) -180px -150px no-repeat;
bottom:5px;
height:20px;
left:30px;
position:absolute;
text-indent:-9999px;
width:20px;
}

#cboxClose {
background:url(/wordpress/wp-content/themes/Franklin-Street-Theme/images/fs_sprite.png) -215px -145px no-repeat;
border-bottom:1px solid #5d504f;
border-right:1px solid #5d504f;
bottom:5px;
height:20px;
position:absolute;
right:5px;
text-indent:-9999px;
width:20px;
}

#webbynode_promo
small {
display:block;
font-size:10px;
line-height:12px;
margin-bottom:2px;
}

#webbynode_promo
#webbynode_promo_link {
background:url(images/sprite.png) -180px -370px no-repeat;
display:block;
height:20px;
text-indent:-99999px;
width:100px;
}

#content.home
.content {
margin:30px 0 15px;
}

#content.home .content.oneup.large section .more-link
a {
color:#ea0000;
}

#content.home .content.halfandhalf .content-header {
width:725px;
}

#content.home .content-header
.label {
color:#050000;
font-family:'Helvetica Neue',Arial,Helvetica,Geneva,sans-serif;
font-size:11px;
font-style:italic;
line-height:14px;
}

#content.home .content-header .label:after {
color:#5d504f;
content:" \2022";
}

#content.home #content_primary section
a {
color:#050000;
text-decoration:none;
}

#content.single article section
ul {
font-family:Georgia,"Times New Roman",Times,serif;
list-style:none;
}

#content.single article section ul
li {
background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADVJREFUeNpitDXQL2BgYPAD4hQgvscEJHYD8V8g3gfE7iABRigGgf8sQMIZiEESTiAtAAEGACZNB8msrbs9AAAAAElFTkSuQmCC) 0 10px no-repeat;
margin-bottom:15px;
padding-left:10px;
}

#content.single article
#excerpt {
-moz-border-image:url(data:image/gif;base64,R0lGODlhBQABAIAAAD0wLwAAACH5BAHoAwEALAAAAAAFAAEAAAIDRB4FADs=) 5 0 repeat;
-webkit-border-image:url(data:image/gif;base64,R0lGODlhBQABAIAAAD0wLwAAACH5BAHoAwEALAAAAAAFAAEAAAIDRB4FADs=) 5 0 repeat;
border-width:0 0 1px;
}

#content.single section
img {
height:auto;
max-width:555px;
}

#content.single #post_footer .widget:first-child {
margin-left:140px;
width:190px;
}

#content.single #post_footer
.metadata {
margin-left:170px;
}

#content.single
#comments_container {
-moz-border-image:url(data:image/gif;base64,R0lGODlhBQABAIAAAD0wLwAAACH5BAHoAwEALAAAAAAFAAEAAAIDRB4FADs=) 5 0 repeat;
-webkit-border-image:url(data:image/gif;base64,R0lGODlhBQABAIAAAD0wLwAAACH5BAHoAwEALAAAAAAFAAEAAAIDRB4FADs=) 5 0 repeat;
border-width:1px 0 0;
margin-top:30px;
padding-top:30px;
}

#page_footer .widget
ul {
list-style:decimal;
}

#page_footer .widget ul
li {
font-size:13px;
line-height:19px;
margin-left:0;
}

#page_heel .widget ul
li {
margin-left:0;
}

#text-10 {
-moz-box-shadow:0 4px 8px rgba(18,7,6,0.3);
-webkit-box-shadow:0 4px 8px rgba(18,7,6,0.3);
box-shadow:0 4px 8px rgba(18,7,6,0.3);
margin-top:-30px;
}

#text-10
#footer_main_promo {
background-color:#ea0000;
display:block;
height:180px;
text-decoration:none;
width:470px;
}

#text-10 #footer_main_promo
.sprite.fork {
float:left;
margin-left:15px;
}

#text-10 #footer_main_promo
.content {
display:block;
float:left;
margin-left:23px;
padding-right:10px;
padding-top:30px;
width:250px;
}

#text-10 #footer_main_promo .content
.header {
display:block;
font-family:'Helvetica Neue',Arial,Helvetica,Geneva,sans-serif;
font-size:20px;
line-height:30px;
}

#text-10 #footer_main_promo .content
.caption {
display:block;
font-size:11px;
font-style:italic;
line-height:14px;
margin-top:15px;
}

#footer_main_promo:hover {
background-color:#ff1e00!important;
}

#text-7.widget {
width:470px;
}

#text-7.widget
#footer_follow_list {
list-style:none;
margin:0;
padding:0;
}

#text-7.widget #footer_follow_list
li {
float:left;
margin:0 20px 0 0;
padding:0;
}

#text-7.widget #footer_follow_list li
a {
background:#f0eceb;
border:0;
border-radius:22.5px;
height:45px;
margin:0;
padding:0;
position:relative;
text-indent:-9999px;
width:45px;
}

#text-7.widget #footer_follow_list li a
.sprite {
left:50%;
position:absolute;
top:50%;
}

#text-7.widget #footer_follow_list li a .vimeo-dark-15 {
margin-left:-7px;
margin-top:-6px;
}

#text-7.widget #footer_follow_list li a .twitter-dark-15 {
margin-left:-5px;
margin-top:-7px;
}

#text-7.widget #footer_follow_list li a .tumblr-dark-15 {
margin-left:-4px;
margin-top:-7px;
}

#text-7.widget #footer_follow_list li a .facebook-dark-15 {
margin-left:-3px;
margin-top:-7px;
}

#text-7.widget #footer_follow_list li a .flickr-dark-15 {
margin-left:-7px;
margin-top:-3px;
}

#text-8 {
margin-top:15px;
padding-left:255px;
}

#nav_menu-3
ul {
list-style:none;
margin:0;
padding:0;
}

#nav_menu-3
li {
float:left;
margin:0 10px 0 0;
padding:0;
}

.sprite.fork {
background:url(images/sprite.png) 0 -240px no-repeat;
height:150px;
width:131px;
}

caption,th,td,#comments_container #comment_form_comment
dl {
text-align:left;
}

blink,.post header h1 a,.post header h2 a,.post header h3
a,#page_header h1
a,#content.home .content.twoup .post header h1 a,#content.home .content.fourup .post header h1
a {
text-decoration:none;
}

article,header,hgroup,footer,nav,.sprite,#content.home .content .metadata dd.tags:nth-last-child(-n+5) {
display:block;
}

#page_top,#text-7.widget #footer_follow_list li a:hover {
background:#fffefe;
}

header
a,.metadata a:hover,.metadata,#content.home .content.oneup.large section
a {
color:#050000;
}

header a:hover,#page_header nav .menu ul li a:hover {
color:#5d504f;
}

.more-link,em,#comments_container #comment_form header
.loggedin {
font-style:italic;
}

h1:first-child,h2:first-child,h3:first-child,h4:first-child,h5:first-child,h6:first-child,p:first-child,#page_header
hgroup,#content.fourohfour
h2,#comments_container #comments li:first-child,#comments_container #commentform dl dt:first-child,.post .metadata
dt.time {
margin-top:0;
}

strong,#wp-calendar
#today {
font-weight:700;
}

header
h2,#intro
p {
font-family:Georgia,"Times New Roman",Times,serif;
font-size:13px;
line-height:19px;
}

p:last-child,#content.archive header
h1,#comments_container header
h1,#comments_container #comments p:last-child {
margin-bottom:0;
}

ul ul,ol ul,ul ol,ol
ol,.post p
.callout,#comments_container #comments .copy p:first-child {
padding-top:0;
}

dl dt,dl
dd,#page_heel p,#page_heel ul,#page_heel li,#page_heel
a {
font-size:11px;
}

.hidden,#page_header nav .menu ul
ul,#search
#search_button,.post .metadata
.author,#content.home .content .metadata
dd.tags,#content.home .content.oneup.large
header,#text-8 .org,#text-8 .email,#text-8 .adr,#text-8
.tags {
display:none;
}

ul.metadata li.last,ul.metadata li:last-child,#page_header nav .menu ul
li.last,#sub_header .widget:nth-child(4n),#content.home .content.twoup .post:nth-child(2n),#content.home .content.fourup .post:nth-child(4n),#content.single #post_footer .widget:nth-child(3n),#content.fourohfour .widget:nth-child(4n),#page_footer .widget:nth-child(3n),#page_heel .widget:nth-child(4n),#nav_menu-3 li:last-child {
margin-right:0;
}

#content.home #content_primary,#content.single #content_primary,#content.page #content_primary,#content.archive
#content_primary,#content.home article:first-child,#content.archive article:first-child,#content.home .content.oneup .post .read-more,#content.home .content.oneup.large .post .read-more,#content.home .content.twoup .post .read-more,#content.home .content.fourup .post .read-more,#content.home .content.halfandhalf .post .read-more,#comments_container
#comment_form,#comments_container
#submit,#webbynode_promo {
margin-top:15px;
}

#content.home article,#content.single article,#content.page article,#content.archive
article,#content.archive
header {
margin-bottom:30px;
}

#content.home article header,#content.single article header,#content.page article header,#content.archive article
header,#content.home article:last-child,#content.archive article:last-child,#content.single article
header,#comments_container #commentform #comment_form_info
dl,#comments_container #comment_form
header,#intro {
margin-bottom:15px;
}

#content.home article section ul li,#content.single article section ul li,#content.page article section ul li,#content.archive article section ul li,#content.home article section ol li,#content.single article section ol li,#content.page article section ol li,#content.archive article section ol li,#content.home article section dt,#content.single article section dt,#content.page article section dt,#content.archive article section dt,#content.home article section dd,#content.single article section dd,#content.page article section dd,#content.archive article section dd,#content.home article section blockquote,#content.single article section blockquote,#content.page article section blockquote,#content.archive article section
blockquote,#comments_container #comment_form header
h1 {
font-size:17px;
line-height:27px;
}

#content.home article section code,#content.single article section code,#content.page article section code,#content.archive article section
code,#content.home article section small,#content.single article section small,#content.page article section small,#content.archive article section
small,#comments_container #comments .copy blockquote,#comments_container #comments .copy blockquote
p {
font-size:13px;
line-height:19px;
}

.button,input[type=submit] {
-moz-box-shadow:0 0 8px rgba(18,7,6,0.3);
-webkit-box-shadow:0 0 8px rgba(18,7,6,0.3);
background:#3d302f;
border:0;
border-radius:5px;
box-shadow:0 0 8px rgba(18,7,6,0.3);
color:#f0eceb;
display:inline-block;
font-family:'Helvetica Neue',Arial,Helvetica,Geneva,sans-serif;
padding:4px 10px;
text-align:center;
text-shadow:0 1px 1px rgba(18,7,6,0.3);
}

#page_header,#content.single {
position:relative;
}

#sub_header .widget:nth-child(4n+1),#content.fourohfour .widget:nth-child(4n+1) {
clear:left;
width:330px;
}

#content.home .content.oneup .post .read-more .more,#content.home .content.oneup.large .post .read-more .more,#content.home .content.twoup .post .read-more .more,#content.home .content.fourup .post .read-more .more,#content.home .content.halfandhalf .post .read-more
.more,#content.home .content.twoup .metadata li,#content.home .content.fourup .metadata
li {
font-size:11px;
line-height:14px;
}

#content.home .content.twoup .post header,#content.home .content.fourup .post
header,#comments_container #commentform dl
dd {
margin:0;
padding:0;
}

#content.home .content.twoup .post:nth-child(2n+1),#content.home .content.fourup .post:nth-child(4n+1),#cboxMiddleLeft,#cboxBottomLeft {
clear:left;
}

#content.home .content.twoup .post:nth-child(n+3),#content.home .content.fourup .post:nth-child(n+5) {
margin-bottom:0;
margin-top:45px;
}

#comments_container #comments .comment-info,#comments_container #commentform
#comment_form_info,#comments_container #commentform input[type=text] {
text-align:right;
}

#page_footer
a,#page_heel
a {
color:#fffefe;
}

#text-12,#text-13 {
width:auto;
}

#text-7.widget #footer_follow_list li a .git-dark-15,#text-7.widget #footer_follow_list li a .friendfeed-dark-15 {
margin-left:-7px;
margin-top:-7px;
}
}

.font-size-xxx-large {
font-size:38px;
line-height:47px;
}

.font-size-xx-large {
font-size:28px;
line-height:35px;
}

.font-size-x-large {
font-size:24px;
line-height:32px;
}

.font-size-large {
font-size:20px;
line-height:30px;
}

.font-size-medium {
font-size:17px;
line-height:27px;
}

.font-size-x-small {
font-size:11px;
line-height:14px;
}

.font-size-xx-small {
font-size:10px;
line-height:12px;
}

.default-shadow {
-moz-box-shadow:0 0 8px rgba(18,7,6,0.3);
-webkit-box-shadow:0 0 8px rgba(18,7,6,0.3);
box-shadow:0 0 8px rgba(18,7,6,0.3);
}

.incomplete {
background-color:rgba(255,0,255,0);
}

.show-bounds {
background-color:rgba(255,255,0,0.5);
}

.wrapper {
display:block;
margin:0 auto!important;
position:relative;
width:980px;
}

.wrapper.showgrid {
background-image:url(/wordpress/wp-content/themes/Franklin-Street-Theme/stylesheets/images/grid_14col.png);
}

.span-1 {
width:45px;
}

.span-2 {
width:130px;
}

.span-3 {
width:215px;
}

.span-4 {
width:300px;
}

.span-5 {
width:385px;
}

.span-6 {
width:470px;
}

.span-7 {
width:555px;
}

.span-8 {
width:640px;
}

.span-9 {
width:725px;
}

.span-10 {
width:810px;
}

.span-11 {
width:895px;
}

.span-12 {
width:980px;
}

.suffix-1 {
padding-right:85px;
}

.suffix-2 {
padding-right:170px;
}

.suffix-3 {
padding-right:255px;
}

.suffix-4 {
padding-right:340px;
}

.suffix-5 {
padding-right:425px;
}

.suffix-6 {
padding-right:510px;
}

.suffix-7 {
padding-right:595px;
}

.suffix-8 {
padding-right:680px;
}

.suffix-9 {
padding-right:765px;
}

.suffix-10 {
padding-right:850px;
}

.suffix-11 {
padding-right:935px;
}

.prefix-1 {
padding-left:85px;
}

.prefix-2 {
padding-left:170px;
}

.prefix-3 {
padding-left:255px;
}

.prefix-4 {
padding-left:340px;
}

.prefix-5 {
padding-left:425px;
}

.prefix-6 {
padding-left:510px;
}

.prefix-7 {
padding-left:595px;
}

.prefix-8 {
padding-left:680px;
}

.prefix-9 {
padding-left:765px;
}

.prefix-10 {
padding-left:850px;
}

.prefix-11 {
padding-left:935px;
}

#sidebar {
-moz-transition-duration:.5s;
-moz-transition-property:opacity;
-moz-transition-timing-function:cubic-bezier(0.02,0,0.18,1);
-o-transition-duration:.5s;
-o-transition-property:opacity;
-o-transition-timing-function:cubic-bezier(0.02,0,0.18,1);
-webkit-transition-duration:.5s;
-webkit-transition-property:opacity;
-webkit-transition-timing-function:cubic-bezier(0.02,0,0.18,1);
}

#sticky_footer
.widget {
-moz-transition:all .75s cubic-bezier(0.02,0,0.18,1);
-o-transition:all .75s cubic-bezier(0.02,0,0.18,1);
-webkit-transition:all .75s cubic-bezier(0.02,0,0.18,1);
}

#comment_form_comment
textarea {
-moz-transition:height .5s cubic-bezier(0.02,0,0.18,1);
-o-transition:height .5s cubic-bezier(0.02,0,0.18,1);
-webkit-transition:height .5s cubic-bezier(0.02,0,0.18,1);
}

.slideshow
.srd_slide {
-moz-transition-duration:.5s;
-moz-transition-property:opacity;
-moz-transition-timing-function:cubic-bezier(0.02,0,0.18,1);
-o-transition-duration:.5s;
-o-transition-property:opacity;
-o-transition-timing-function:cubic-bezier(0.02,0,0.18,1);
-webkit-transition-duration:.5s;
-webkit-transition-property:opacity;
-webkit-transition-timing-function:cubic-bezier(0.02,0,0.18,1);
opacity:0;
}

.slideshow
.slides {
-moz-transition-duration:.67s;
-moz-transition-property:background-position;
-moz-transition-timing-function:cubic-bezier(0.02,0,0.18,1);
-o-transition-duration:.67s;
-o-transition-property:background-position;
-o-transition-timing-function:cubic-bezier(0.02,0,0.18,1);
-webkit-transition-duration:.67s;
-webkit-transition-property:background-position;
-webkit-transition-timing-function:cubic-bezier(0.02,0,0.18,1);
}

* html .clearfix,* html
.container {
height:1%;
}

.clearfix:after {
clear:both;
content:".";
display:block;
height:0;
visibility:hidden;
}

.clearfix {
display:inline-block;
}

.clear:after {
clear:both;
content:".";
display:block;
height:0;
visibility:hidden;
}

#page_header {
border:none;
margin-bottom:15px;
padding-top:15px;
}

#page_header
h1 {
float:left;
margin:0;
padding:0;
}

#page_header h1
a {
background:url(images/sprite.png) -180px -280px no-repeat;
display:block;
height:71px;
text-decoration:none;
text-indent:-9999px;
width:128px;
}

#page_header
h2 {
color:#3d302f;
float:left;
font-size:11px;
font-style:italic;
line-height:14px;
margin:30px 0 0 20px;
padding:0;
width:300px;
}

#page_header
nav {
background:none;
border:0;
float:right;
margin:42px 0 0;
padding:0;
position:relative;
width:130px;
}

#page_header nav .menu
ul {
display:block;
float:left;
list-style:none;
margin:0;
padding:0;
position:relative;
width:130px;
}

#page_header nav .menu ul
li {
background:none;
float:left;
margin-right:40px;
padding:0;
}

#page_header nav .menu ul li
a {
color:#3d302f;
display:block;
font-size:11px;
font-weight:700;
height:15px;
padding:0;
text-decoration:none;
width:45px;
}

#page_header nav .menu ul li.rss,#page_header nav .menu ul
li.twitter {
-moz-box-shadow:0 0 8px rgba(18,7,6,0.3);
-webkit-box-shadow:0 0 8px rgba(18,7,6,0.3);
background:#ea0000;
border-radius:22.5px;
box-shadow:0 0 8px rgba(18,7,6,0.3);
height:45px;
margin-left:170px;
margin-top:-15px;
position:fixed;
width:45px;
}

#page_header nav .menu ul li.rss a,#page_header nav .menu ul li.twitter
a {
border:0;
height:15px;
padding:15px;
text-indent:-99999px;
width:15px;
}

#page_header nav .menu ul
li.rss {
margin-top:-15px;
}

#page_header nav .menu ul li.rss
a {
background:url(images/sprite.png) -275px -125px no-repeat;
}

#page_header nav .menu ul
li.twitter {
margin-top:50px;
}

#page_header nav .menu ul li.twitter
a {
background:url(images/sprite.png) -43px -125px no-repeat;
}

#page_header nav .menu ul li.rss:hover,#page_header nav .menu ul li.twitter:hover {
background-color:#ff1e00;
}

#page_title {
color:#5d504f;
font-size:28px;
line-height:35px;
}

#page_title
.title {
color:#050000;
font-style:italic;
}

#content.page #hero_slideshow
.caption {
font-family:'Helvetica Neue',Arial,Helvetica,Geneva,sans-serif;
font-size:11px;
line-height:14px;
}

#hero_slideshow
.slideshow {
-moz-box-shadow:0 0 8px rgba(18,7,6,0.3);
-webkit-box-shadow:0 0 8px rgba(18,7,6,0.3);
box-shadow:0 0 8px rgba(18,7,6,0.3);
line-height:0;
}

#work_promo {
-moz-box-shadow:0 0 8px rgba(18,7,6,0.3);
-webkit-box-shadow:0 0 8px rgba(18,7,6,0.3);
background:#f0eceb;
border-radius:5px;
box-shadow:0 0 8px rgba(18,7,6,0.3);
padding:10px 8px 15px;
}

#content.page #iconic_info #work_promo
h3 {
margin-top:0;
}

#download_follow
.button {
background:#5d504f;
border:0;
display:block;
}

#download_follow
div {
border-top:3px solid #f0eceb;
padding:15px 0;
text-align:center;
}

#download_follow .button:hover {
background:#998482;
}

#download_follow #download
.button {
background:#ea0000;
}

#download_follow #download .button:hover {
background:#ff1e00;
}

#download_follow
small {
display:block;
font-size:9px!important;
font-weight:700;
line-height:12px;
margin-top:5px;
}

.slideshow {
background:#fdfcfc;
margin:0;
padding:0;
}

.slideshow a,.slideshow
div {
line-height:0;
}

.slideshow
.srd_slide.active {
opacity:1;
}

.srdslideshow_caption
.title {
font-size:11px;
font-weight:700;
padding-right:10px;
}

.srdslideshow_caption
.caption {
font-size:11px;
}

.srdslideshow_caption .caption
strong {
font-weight:700;
margin-right:10px;
}

.srdslideshow_navigation {
background:rgba(61,48,47,0.8);
bottom:20px;
display:none;
list-style:none;
margin:0;
padding:10px;
position:absolute;
right:20px;
z-index:1000;
}

.srdslideshow_navigation
li {
background:#ded3d1;
color:#3d302f;
cursor:pointer;
float:left;
font-family:'Helvetica Neue',Arial,Helvetica,Geneva,sans-serif;
font-size:10px!important;
font-weight:700;
height:20px;
line-height:20px!important;
margin:0 10px 0 0;
padding:0;
text-align:center;
width:20px;
}

.srdslideshow_navigation
li.active {
background:#fefafa;
color:#050000;
}

.srd_slide {
margin:0;
padding:0;
}

#content.page #projects_navigation dt,#content.page #projects_navigation
dd {
float:left;
font-size:11px;
line-height:14px;
margin:0 20px 0 0;
}

#content.page #projects_navigation
dd {
background:url(data:image/gif;base64,R0lGODlhCgAeAJEAAP76+mJVVF1QT8zMzCH5BAHoAwMALAAAAAAKAB4AAAIelI+py+0PYxu02ouz3rz7v0kiApRAkJhnaqJkO44FADs=) 0 2px no-repeat;
cursor:pointer;
padding-left:15px;
}

#content.page #projects_navigation
dd.active {
background:url(data:image/gif;base64,R0lGODlhCgAeAJEAAP76+mJVVF1QT8zMzCH5BAHoAwMALAAAAAAKAB4AAAIelI+py+0PYxu02ouz3rz7v0kiApRAkJhnaqJkO44FADs=) 0 -18px no-repeat;
font-weight:700;
}

#projects_list {
display:block;
list-style:none;
margin:0;
padding:0;
}

#projects_list
.external {
border:0;
}

#projects_list
li {
-moz-box-shadow:0 0 8px rgba(18,7,6,0.3);
-moz-transition:opacity .3s cubic-bezier(0.02,0,0.18,1);
-o-transition:opacity .3s cubic-bezier(0.02,0,0.18,1);
-webkit-box-shadow:0 0 8px rgba(18,7,6,0.3);
-webkit-transition:opacity .3s cubic-bezier(0.02,0,0.18,1);
background:transparent;
box-shadow:0 0 8px rgba(18,7,6,0.3);
float:left;
margin:0 40px 30px 0;
padding:0;
width:215px;
}

#projects_list
li.deselected {
opacity:.5;
}

#projects_list li
a {
border:0!important;
display:block;
height:120px;
line-height:0;
margin:0!important;
padding:0!important;
text-decoration:none;
width:215px;
}

#projects_list li
#projects_bitcons {
background:url(/wp-content/images/pages/projects/projects_sprite.jpg) 0 0;
}

#projects_list li
#projects_sanscons {
background:url(/wp-content/images/pages/projects/projects_sprite.jpg) -215px 0;
}

#projects_list li
#projects_processing {
background:url(/wp-content/images/pages/projects/projects_sprite.jpg) -430px 0;
}

#projects_list li
#projects_photography {
background:url(/wp-content/images/pages/projects/projects_sprite.jpg) -645px 0;
}

#projects_list li
#projects_offfranklin {
background:url(/wp-content/images/pages/projects/projects_sprite.jpg) -860px 0;
}

#projects_list li
#projects_iconic {
background:url(/wp-content/images/pages/projects/projects_sprite.jpg) -1075px 0;
}

#projects_list li
#projects_coffeesleeve {
background:url(/wp-content/images/pages/projects/projects_sprite.jpg) -1290px 0;
}

#projects_list li
#projects_coordy {
background:url(/wp-content/images/pages/projects/projects_sprite.jpg) -1505px 0;
}

#projects_list li
#projects_colortoolkit {
background:url(/wp-content/images/pages/projects/projects_sprite.jpg) -1720px 0;
}

#projects_list
h3 {
margin:0;
padding:0;
position:relative;
}

#projects_list h3
small {
background:rgba(93,80,79,0.84);
bottom:0;
display:block;
margin:0;
padding-left:6px;
position:absolute;
width:209px;
}

#projects_list
small {
color:#fdfcfc;
font-size:13px;
line-height:13px;
}

#content.page #projects_list li
p {
font-family:'Helvetica Neue',Arial,Helvetica,Geneva,sans-serif;
font-size:11px;
line-height:14px;
}

#wpadminbar
* {
color:#ddd;
font:normal 13px/28px Arial,Helvetica,sans-serif;
height:auto;
letter-spacing:normal;
line-height:1;
margin:0;
padding:0;
position:static;
text-shadow:#555 0 -1px 0;
text-transform:none;
width:auto;
}

#wpadminbar :before,#wpadminbar :after {
content:normal;
}

#wpadminbar a,#wpadminbar a:hover,#wpadminbar a img,#wpadminbar a img:hover {
background:none;
border:none;
outline:none;
text-decoration:none;
}

#wpadminbar {
background-color:#777;
background-image:0;
color:#ddd;
direction:ltr;
font:normal 12px/28px Arial,Helvetica,sans-serif;
height:28px;
left:0;
min-width:960px;
position:fixed;
top:0;
width:100%;
z-index:99999;
}

#wpadminbar ul,#wpadminbar ul
li {
background:none;
list-style:none;
margin:0;
padding:0;
position:relative;
z-index:99999;
}

#wpadminbar .quicklinks
ul {
text-align:left;
}

#wpadminbar .quicklinks>ul>li>a {
border-left:1px solid gray;
border-right:1px solid #686868;
}

#wpadminbar .quicklinks>ul>li:last-child>a {
border-right:none;
}

#wpadminbar .quicklinks>ul>li:hover>a {
border-left-color:#707070;
}

#wpadminbar .quicklinks a,#wpadminbar .shortlink-input {
display:block;
height:28px;
margin:0;
padding:0 .85em;
}

#wpadminbar .quicklinks a>span {
line-height:28px;
}

#wpadminbar .quicklinks .menupop ul,#wpadminbar .shortlink-input {
-moz-box-shadow:0 4px 8px rgba(0,0,0,0.1);
-webkit-box-shadow:0 4px 8px rgba(0,0,0,0.1);
background:rgba(255,255,255,0.97);
border:1px solid #dfdfdf;
border-top:none;
box-shadow:0 4px 8px rgba(0,0,0,0.1);
display:none;
float:none;
position:absolute;
}

#wpadminbar .quicklinks .menupop ul
li {
float:none;
}

#wpadminbar .quicklinks .menupop ul li a,#wpadminbar .quicklinks .menupop ul li a span,#wpadminbar .shortlink-input {
color:#555;
min-width:140px;
text-shadow:none;
white-space:nowrap;
}

#wpadminbar .shortlink-input {
width:200px;
}

#wpadminbar .quicklinks .menupop ul li:hover>a {
color:#fff;
text-shadow:#666 0 -1px 0;
}

#wpadminbar .quicklinks .menupop li:hover>ul,#wpadminbar .quicklinks .menupop li.hover>ul {
margin-left:100%;
margin-top:-28px;
}

#wpadminbar .quicklinks .menupop a>span {
background:url(/wordpress/wp-includes/images/admin-bar-sprite.png?d=11122010) right -58px no-repeat;
display:inline;
padding-right:.8em;
}

#wpadminbar .quicklinks .menupop ul li a>span {
background:url(/wordpress/wp-includes/images/admin-bar-sprite.png?d=11122010) right -29px no-repeat;
display:block;
padding-right:1.5em;
}

#wpadminbar .quicklinks a span#ab-awaiting-mod,#wpadminbar .quicklinks a span#ab-updates {
-khtml-border-radius:10px;
-moz-border-radius:10px;
-webkit-border-radius:10px;
background:#eee;
border-radius:10px;
color:#333;
display:inline;
font-size:10px;
font-weight:700;
padding:2px 5px;
text-shadow:none;
}

#wpadminbar .quicklinks a:hover span#ab-awaiting-mod,#wpadminbar .quicklinks a:hover span#ab-updates {
background:#fff;
color:#000;
}

#wpadminbar .quicklinks li#wp-admin-bar-my-account>a {
border-left:none;
}

#wpadminbar .quicklinks li#wp-admin-bar-my-account-with-avatar>a {
background:url(/wordpress/wp-includes/images/admin-bar-sprite.png?d=11122010) top left no-repeat;
border-left:none;
}

#wpadminbar .quicklinks li#wp-admin-bar-my-account-with-avatar>a
img {
background:#eee;
border:1px solid #999;
display:inline;
float:none;
height:16px;
margin:-2px 23px 0 -5px;
padding:0;
vertical-align:middle;
width:16px;
}

#wpadminbar .quicklinks li#wp-admin-bar-my-account-with-avatar
ul {
left:30px;
}

#wpadminbar .quicklinks li#wp-admin-bar-my-account-with-avatar ul
ul {
left:0;
}

#wpadminbar .quicklinks .menupop li a
img.blavatar {
margin:0 8px 0 0;
padding:0;
vertical-align:middle;
}

#wpadminbar
#adminbarsearch {
float:right;
height:18px;
margin:0;
padding:3px;
}

#wpadminbar #adminbarsearch .adminbar-input {
-khtml-border-radius:0;
-moz-border-radius:0;
-moz-box-shadow:inset 2px 2px 1px #cdcdcd;
-moz-box-sizing:border-box;
-ms-box-sizing:border-box;
-webkit-border-radius:0;
-webkit-box-shadow:inset 2px 2px 1px #cdcdcd;
-webkit-box-sizing:border-box;
background:#ddd;
border:1px solid #626262;
border-radius:0;
box-shadow:inset 2px 2px 1px #cdcdcd;
box-sizing:border-box;
color:#555;
float:left;
font:12px Arial,Helvetica,sans-serif;
height:auto;
margin:0 3px 0 0;
outline:none;
padding:2px 3px;
text-shadow:0 1px 0 #fff;
width:140px;
}

#wpadminbar #adminbarsearch .adminbar-button {
-khtml-border-radius:10px;
-moz-border-radius:10px;
-webkit-border-radius:10px;
background:0;
border:1px solid #626262;
border-radius:10px;
color:#444;
cursor:pointer;
float:left;
font:bold 12px Arial,Helvetica,sans-serif;
height:auto;
margin:0;
padding:2px 13px;
text-shadow:0 1px 0 #eee;
width:auto;
}

#wpadminbar #adminbarsearch .adminbar-button:active {
-moz-box-shadow:inset 1px 1px 1px #9b9b9b;
-webkit-box-shadow:inset 1px 1px 1px #9b9b9b;
background:0;
box-shadow:inset 1px 1px 1px #9b9b9b;
}

#wpadminbar #adminbarsearch .adminbar-button:hover {
color:#000;
}

#wpadminbar #adminbarsearch .adminbar-button::-moz-focus-inner {
border:none;
}

* html
#wpadminbar {
overflow:hidden;
position:absolute;
}

* html #wpadminbar .menupop a
span {
background-image:none;
}

.font-size-small,#content.page #info
p {
font-size:13px;
line-height:19px;
}

.reset-dimensions,#page_header nav
.menu,.slideshow
img,#hero_slideshow
.slides {
margin:0;
padding:0;
}

div.span-1,div.span-2,div.span-3,div.span-4,div.span-5,div.span-6,div.span-7,div.span-8,div.span-9,div.span-10,div.span-11,div.span-12,section.span-1,section.span-2,section.span-3,section.span-4,section.span-5,section.span-6,section.span-7,section.span-8,section.span-9,section.span-10,section.span-11,section.span-12 {
float:left;
margin-right:40px;
}

div.last,section.last,#page_header nav .menu ul li:last-child,.srdslideshow_navigation li:last-child,#projects_navigation dd:last-child,#projects_list
li.last {
margin-right:0;
}

nav li.rss,nav
li.twitter,#sticky_footer {
-moz-transition:background-color .5s cubic-bezier(0.02,0,0.18,1);
-o-transition:background-color .5s cubic-bezier(0.02,0,0.18,1);
-webkit-transition:background-color .5s cubic-bezier(0.02,0,0.18,1);
}

.clearfix,.container,#wpadminbar .selected .shortlink-input,#wpadminbar .quicklinks li:hover>ul,#wpadminbar .quicklinks li.hover>ul {
display:block;
}

#page_header nav .menu ul
ul,#content.page article
h1,#hero_slideshow .slides
li,#projects_list li
p {
display:none;
}

#page_header nav .menu ul li a:hover,#content.page #projects_navigation
dt {
color:#5d504f;
}

#download_follow,#projects_navigation {
margin:15px 0;
}

.srdslideshow_caption,#content.page
#projects_navigation {
font-family:'Helvetica Neue',Arial,Helvetica,Geneva,sans-serif;
}

#wpadminbar .quicklinks ul
li,* html #wpadminbar .quicklinks ul li
a {
float:left;
}

#wpadminbar .quicklinks li:hover,#wpadminbar .quicklinks
.selected,#wpadminbar .quicklinks .menupop li:hover {
background:0;
}

@media only screen and device-width 768px{
#sticky_footer {
position:static;
}
}

@media only screen and min-device-width 320px and max-device-width 480px{
#sticky_footer {
position:static;
}
}

@media
print{
body {
font-size:10pt;
}

a {
color:#999;
}
}