@import "compass/css3";

#comments-container {
	margin-top: $row-height * 4;
	.pagination {		margin-bottom:$row-height*2;
	}
}

.no_comments, .comments_closed {
		margin: $row-height * 2 0;
		font: italic #{$font-size-xx-large}/1.25 #{$typeface-primary};
		color: $color-midtone; 
}

#comment-form-logged-in-as, #comment-form-info {
	@extend .column;
	width: $three-columns;
}

#comment-form-content {
	@extend .column;
	width: $nine-columns;
}

.comment-content {
	@include box-sizing(border-box);
	@extend .clearfix; 
	@extend .column;
	width: $nine-columns;
	@extend .push-three;
	font-family: $typeface-primary;
	blockquote, blockquote p { 
		font-size: $font-size-small; 
	}
}

.comment-reply-link {
	font: $font-weight-bold $font-size-x-small $typeface-secondary;
}

.comment-info {
	@extend .column;
	width: $three-columns;
	@extend .pull-nine;
}

#comment-form-allowed-tags {
	@extend .column;
	width: $nine-columns;
	@extend .push-three;
}

#comments {
	list-style: none;
	padding-left: 0;
	margin-left: 0;
	.comment {
		@extend .reset;
	}
	.date-time {
		display:block;
		margin-top:3px;
	}
	.comment:not(:first-child) {
		margin:$row-height*4 0;
	}
	.comment:last-child {
		margin-bottom:0;
	}
	.comment.bypostauthor  {
		margin:$row-height*3 0;
	}
	.comment-edit-link {
		font-weight: $font-weight-bold;
		color:$color-accent;
	}
	.children {
		list-style: none;
		margin-left: 40px;
		margin-top:0;
		.comment {
			margin:$row-height*2 0;
		}
	} 
}

/*TODO reference IDs instead of tags*/
#respond {
	margin-top:$row-height*4;
	label { display: none; }
	input[type=text], textarea {
		-moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		width:100%;
	} 
	input[type=text] {
		margin-bottom: $row-height;
		text-align: right; 
	}
	textarea {
		margin: 0;
		height: 118px;
		&:focus { height: $row-height * 25; } 
	}	
	#submit { margin-top: $row-height; margin-left: 26.1%; } 
	.loggedin { font-style: italic; } 
}


/*MOBILE*/
@media only screen and  (max-width: 767px) {
	
	#respond #comment-form-info input[type=text] {
		text-align: left; 
	}

	#respond {
		margin-bottom:$row-height*2;
		#submit {
		margin-left:0;
		display:block;
		width:100%;
	}
	}
	#comments {
		.metadata	{
			margin-top:5px;
		}
		.date-time {
			display:inline;
			margin-top:0px;
		}
		.children {
			margin-left:0;
		}
	}
}
