@mixin background_color_off_black_alpha($alpha: 1) {
	background-color: rgba(5, 0, 0, $alpha);
}

@mixin column() {
	margin-left: 4.4%; float: left; min-height: 1px; position: relative;
}

@mixin column-based-width($columns: 1, $modifier: 0) {
	width: $columns * $column-width + ($columns - 1) * $gutter-width + $modifier;
}

@mixin inset-shadow($x: 0px, $y: 0px, $blur: 3px, $color: black) {
	box-shadow: inset $x $y $blur $color;
}
