#comment-form-content textarea {
	-webkit-transition: height 0.5s cubic-bezier(0.02, 0, 0.18, 1);
	-moz-transition: height 0.5s cubic-bezier(0.02, 0, 0.18, 1); 
}

button, .button, input[type=submit] {
	-webkit-transition: background-color 0.5s cubic-bezier(0.02, 0, 0.18, 1);
	-moz-transition: background-color 0.5s cubic-bezier(0.02, 0, 0.18, 1); }

#content.single .previous .arrow, #content.single .previous a {
	-webkit-transition: all 0.75s cubic-bezier(0.02, 0, 0.18, 1);
	-moz-transition: all 0.75s cubic-bezier(0.02, 0, 0.18, 1); 
}
