@import "variables";

#page_bottom {
	border-top: 1px solid $color_dark;
	box-shadow:0 -1px 1px rgba(5,0,0,.3);
}

#twitter_follow {
	float:left; /*TODO: this feels incredible hacky...*/
	margin-top:-60px;
	padding-bottom:60px;
	p { font:italic $font-large $serif; text-shadow:0px -1px 0px rgba(5,0,0,.3); }
	a { margin-left:10px; }
	a:hover { color:$color_highlight; }
	small { display:block; margin-top:$row-height*2; font:$font-x-small $sans-serif; }
}

.recommended {
	@include columns(6);
	dt {
		font:$bold $font-small $sans-serif; text-shadow:0px -1px 0px rgba(5,0,0,.3);
		margin-bottom:2px;
	}
	dd {
		font:$font-x-small $serif;
		color:$color_light;
		margin-bottom:15px;
	}
}

#text-10 {
	box-shadow: 0px 4px 8px rgba(18, 7, 6, 0.3);
	margin-top: $row-height * 2 * -1;
	#footer_main_promo {
		@include columns(6);
		height: 180px;
		display: block;
		background-color: $color_accent;
		text-decoration: none;
		.sprite.fork {
			width: 131px;
			height: 150px;
			@include sprite-background(0px, -240px);
			float: left;
			margin-left: 15px;
		}
		.content {
			display: block;
			float: left;
			width: 250px;
			margin-left: 23px;
			padding-top: $row-height * 2;
			padding-right: 10px;
			.header {
				font: $font-large $sans-serif;
				display: block;
				text-shadow:0px -1px 0px rgba(5,0,0,.3); 
				}
			.caption {
				display: block;
				@include font-size-x-small();
				margin-top: $row-height;
				font-style: italic; } } } }
#footer_main_promo:hover { background-color: $color_accent_alt !important;  }


