@import "variables";

article .metadata .author {
	display: none !important; }
body {
	border-top:3px solid $color_off_black;
}
#webbynode_promo {
	margin-top: $row-height;
	small {
		font: $font-xx-small $sans-serif;
		display: block;
		margin-bottom: 2px; 
	}
	#webbynode_promo_link {
		display: block;
		width: 100px;
		height: 20px;
		background:url('/wp-content/themes/somerandomdude/images/webbynode.png?embed=true') no-repeat;
		text-indent: 100%;
		white-space: nowrap;
		overflow: hidden; 
	} 
}

.fss { position: relative; }

.fss-caption {
	font: $font-x-small $sans-serif;
	margin-top: $row-height; }

.fss-caption strong {
	font-weight: $bold;
	margin-right: 10px; }

.fss-nav {
	background: rgba(61, 48, 47, 0.8);
	display: none;
	position: absolute;
	right: 20px;
	bottom: 20px;
	z-index: 1000;
	list-style: none;
	padding: 10px;
	margin: 0; }

.fss-nav.active { display: block; }

.fss .fss-nav li {
	float: left;
	display: block !important;
	padding: 0;
	margin: 0 10px 0 0;
	background: #ded3d1;
	color: #3d302f;
	cursor: pointer;
	font: $bold 10px/20px $sans-serif !important;
	text-align: center;
	width: 20px;
	height: 20px; }

.fss-nav li:last-child {
	margin-right: 0; }

.fss-nav li.active {
	background: #fefafa;
	color: #050000; }