@import "variables";
	
#page_header {
	
	h1 {
		@include reset-dimensions();
		float: left; 
		a { 
			text-indent:-99999px;
			display:block;
			margin-top:5px;
			@include sprite-background(-180px, -337px);
			width:141px;
			height:20px; 
		}
	}
	nav {
		@include columns(2);
		margin-top:$row-height - 7;
		float: right;
		position: relative;
		.menu {
			@include reset-dimensions();
			ul {
				float: right;
				list-style: none;
				@include reset-dimensions();
				display: block;
				position: relative;
				li {
					@include reset-dimensions();
					margin-right:$gutter-width;
					float: left;
					background: none;
					a {
						display: block;
						font-weight: $bold;
						height: $row-height;
						color: $color_midtone;
						font-size: $x-small;
						padding: 0; 
						}
					a:hover {
						color: $color_off_black; 
					} 
				}
				li:last-child { margin-right: 0; }
				li.rss, li.twitter {
					background:$color_accent;
					@include default-shadow();
					position:fixed;
					margin-left:140px;
					width:45px;
					height:45px;
					border-radius:22.5px;
					a {
						width:15px;
						height:15px;
						text-indent:-99999px;
						padding:15px;
					}
				}
				li.rss {
					margin-top:-15px;
					a { @include sprite-background(15px, -125px); }
				}
				
				li.twitter {
					margin-top:50px;
					a { @include sprite-background(-43px, -125px); }
				}

				li.rss:hover, li.twitter:hover {
					background-color:$color_accent_alt;
				}
			}
		}
	}
}