@import "variables";

#content.page article header {
	display:none;
}

#page_title {
	@include font-size-xx-large();
	color: $color_midtone }

#page_title .title {
	color: $color_off_black;
	font-style: italic; }

#content.page #info, #content.page #other_projects {
	h1 {
		display: block;
		padding-top: 0;
		font-size: $font-x-large; }
	p { @include font-size-small(); }
	p.large { @include font-size-large(); } 
}

#content.page #other_projects {
	margin-top: $row-height * 2;
	#projects_list li { margin-bottom: 0; } 
}

#download_follow { margin: 15px 0; }

#download_follow li {
	border-top: 2px solid $color_light;
	padding: 15px 0;
	text-align: center; }

#download_follow small {
	margin-top: 5px;
	display: block;
	font-size: 9px !important;
	line-height: 12px;
	font-weight: $bold; }
	
#hero_slideshow {
	margin-bottom:$row-height*2;
}

#projects_navigation {
	margin: 15px 0; }

#content.page #projects_navigation dt {
	color: $color_midtone; }

#content.page #projects_navigation dt, #content.page #projects_navigation dd {
	margin: 0;
	font-size: $font-x-small;
	font-family:$sans-serif;
	margin-right: 20px;
	float: left; }

#projects_navigation dd:last-child {
	margin-right: 0; }

#content.page #projects_navigation dd {
	
	background: $checkbox-sprite 0 2px no-repeat;
	cursor: pointer;
	padding-left: 15px; }

#content.page #projects_navigation dd.active {
	background-position: 0 -18px;
	font-weight: $bold; }


ul#projects_list {
	list-style:none;
}

#projects_list li {
	margin-top: $row-height;
	margin-bottom: $row-height;
}

#projects_list li:nth-child(4n+1) {
	margin-left:0;
}

#projects_list li:last-child {
	float:left;
}

#projects_list div {
	
	@include default-shadow(); }

#projects_list div:hover {
	box-shadow: 0px 2px 10px rgba(18, 7, 6, 0.5);
}

#projects_list .deselected {
	opacity: 0.5; }

#projects_list p {
	display: none; }



#projects_list a {
	display: block;
	line-height: 0;
	margin: 0 !important;
	padding: 0 !important;
	border: 0 !important;
	text-decoration: none;
	width:100%;
	height: 120px;
	background-image: url("/wp-content/images/pages/projects/projects_sprite.png"); 
	}

#projects_list #projects_bitcons {
	background-position: 0 0; }

#projects_list #projects_sanscons {
	background-position: 0 -120px; }

#projects_list #projects_photography {
	background-position: 0 -240px; }

#projects_list #projects_offfranklin {
	background-position: 0 -360px; }

#projects_list #projects_iconic {
	background-position: 0 -480px; }

#projects_list #projects_coffeesleeve {
	background-position: 0 -600px; }

#projects_list #projects_coordy {
	background-position: 0 -720px; }

#projects_list #cue {
	background-position: 0 -840px; }
	
#projects_list #projects_frank {
	background-position: 0 -960px; }

#projects_list h3 {
	position: relative;
	@include reset-dimensions(); 
}

#projects_list h3 small {
	text-indent:6px;
	background: rgba(93, 80, 79, 0.84);
	margin: 0;
	position: absolute;
	display: block;
	bottom: 0;
	width:100%; 
	color: $color_highlight;
	font-size: 13px;
	line-height: 13px ;
	}

#content.page #projects_list div p {
	font-size: $font-x-small;
	font-family:$sans-serif; }
	
#p5554 .slideshow .slide-a, #p5554 .slideshow .slide-b {
	background-image: url("/wp-content/images/pages/iconic/iconic_sprite.png"); }	
	
	

#p5554 #project_preview {
	margin-bottom:$row-height;
	a {
		width: 100%;
		height: 76px;
		background: url("/wp-content/images/pages/iconic/icons_sm.png?embed=true") no-repeat;
		display: block;
		text-indent: -9999px
	}
}

#p11465 .slideshow .slide-a, #p11465 .slideshow .slide-b {
	background-image: url("/wp-content/images/pages/cue/cue_sprite.png"); }

#p5734 .slideshow .slide-a, #p5734 .slideshow .slide-b {
	background-image: url("/wp-content/images/pages/bitcons/bitcons_sprite.png"); }

#p5641 .slideshow .slide-a, #p5641 .slideshow .slide-b {
	background-image: url("/wp-content/images/pages/sanscons/sanscons_sprite.png"); }

#p6975 .slideshow .slide-a, #p6975 .slideshow .slide-b {
	background-image: url("/wp-content/images/pages/off_franklin/off_franklin_sprite.jpg"); }
	
/*Frank*/
#p4537 #info {
	margin-top:$row-height*2;
}

#p4537 #features h3 {
	font-size:$font-x-large;
	margin-top:$row-height*4;
}

#p4537 #features h3:first-child {
	font-size:$font-x-large;
	margin-top:$row-height*2;
}

#p4537 #features .feature p {
	font-size:$medium;
}
	
	
@media only screen and  (max-width: 767px) {
	
	#content.page #projects_navigation {
		display:none;
	}
	
	#projects_list div, #projects_list div:hover {
		box-shadow:none;
	}
	
	#projects_list li {
		margin-top: $row-height*2;
		margin-bottom: $row-height*2;
	}
	
	#projects_list p {
		display: block;
		margin-top:5px;
		font-size:$font-medium !important; 
		font-family:$serif !important; 
	}
	
	#projects_list a {
		background:none;
		height:auto;
	}
	
	#projects_list h3 small {
		text-indent:0;
		background: none;
		margin: 0;
		position: relative;
		display: block;
		width:100%; 
		color:$color_midtone;
		font-size:$font-large !important; 
		font-family:$sans-serif !important;
	}
	
	#project_preview {
		display:none;
	}
	
	#p5215 #coordy_examples_nav, #p5212 #hero_slideshow {
		display:none;
	}
	
}	