@import "variables";

#bio_pic { 
	background:image-url('/wp-content/themes/somerandomdude/images/profile.png') no-repeat center center;
	
	max-width:100%;
	height:160px;
	
	text-indent:-9999px;
	display:block;
	margin-bottom:$row-height;
	@include default-shadow();

}

aside {
	.widget {
		width:auto;
		margin-right:0;
	}
}

@media only screen and  (max-width: 767px) {
	#bio_pic {
		font-size:$font-medium; 
		font-family:$sans-serif;
		color:$color_midtone; 
		background:none;
		width:auto;
		height:auto;
		text-indent:0;
		box-shadow:none;
	}
}

#sidebar {
	margin-top: $row-height * 4;
}