@import "variables";

#content.single {
	article {
		section {
			ul {
				list-style: none;
				font-family: $serif;
				li {
					padding-left: 10px;
					margin-bottom: $row-height; } }
			img {
				height: auto; } }
		#content_main > section {
			padding-bottom: $row-height * 3;
			background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAATCAYAAACdkl3yAAABSElEQVR42p3UrUtDURiAcRHhii6NibeIwTLBD3BNZSsWy8SkBofFJCZ1zKQsGDbcoggqKwNBQYvJIoIIgv ACH6hQRGsXuden4XB6 FcZTf8yoX34Zx7OKdJRH6ZnZzQHCwiob4ZM8B/oVUIXhALGsrhG6Jiw42ERpCHBzG8YtwWMrfSizTuIT72MIBWPWuG8kghhmdL5ABh7GLMFmpBAYJPTGMIdyqyDRdlCN6Q0CEH66hCVGwKg3hACV3YgijviNdDmxCLL8wgjjQOIRYfGK2FriA dpDFEZ4gPjK1UCcuIIYielDGAvpxA1EqyMCp/ wILo2VuCipgRSiuIXAwwaazeN3cY19hHAMUTzMoQ PyJnHb8bmcQqxqGIJ3WhTc9YrksSZT6iCtUYubRjnlq1lg9z DmNlywj8HkVwgpWgD5vWDvwd gFhe32K6f2kfgAAAABJRU5ErkJggg==") center bottom no-repeat; }
		#excerpt {
			border-width: 0;
			border-bottom-width: 1px; } }
	#post_footer {
		.widget {
			margin-bottom: 0; }
		.widget:first-child {
			margin-left: 140px;
			width: 190px; }
		.metadata {
			margin-left: $column-width * 2 + $gutter-width * 2; } }
	#comments_container {
		-webkit-border-image: $dotted-line-dark 5 0 repeat;
		-moz-border-image: $dotted-line-dark 5 0 repeat;
		border-width: 0;
		border-top-width: 1px;
		padding-top: $row-height * 2;
		margin-top: $row-height * 2; } }
