-webkit-font-smoothing: antialiased;.reset-dimensions {
  margin: 0;
  padding: 0;
}
.incomplete {
  background-color: rgba(255, 0, 255, 0);
}
.show-bounds {
  background-color: rgba(255, 255, 0, 0.5);
}
img {
  -ms-interpolation-mode: bicubic;
}
p img:first-child {
  margin-top: -5px;
  margin-bottom: 5px;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  font-size: 12px;
  margin: 20px 0;
}
table, td, th {
  vertical-align: middle;
}
th, td {
  text-align: left;
  font-weight: normal;
  padding: 0 5px;
}
th {
  border-bottom: 1px solid;
  font-weight: bold;
}
/* @end */
body {
  font-size: 62.5%;
  font-family: 'ff-dagny-web-pro-1', 'ff-dagny-web-pro-2', 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;
  background-color: #3d302f;
  color: #050000;
  height: 100%;
  margin: 0;
  padding: 0;
  line-height: 15px;
  padding-bottom: 60px;
}
#page_top {
  background: #fefafa;
}
#page_bottom {
  background: #5d504f;
}
#page_heel {
  background: #3d302f;
}
a {
  color: #5d504f;
  text-decoration: underline;
}
a img {
  border: none;
}
a.external {
  text-decoration: none;
  border-bottom: 1px dotted #5d504f;
}
a:hover {
  color: #9e8886;
}
a.external:hover {
  text-decoration: none;
  border-bottom: 1px dotted #3d302f;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 10px 0 15px 0;
  line-height: 30px;
}
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
  margin-top: 0;
}
h1 {
  font-size: 28px;
  padding-top: 6px;
  margin-bottom: 15px;
}
h2 {
  font-size: 21px;
  padding-top: 0px;
  margin-bottom: 15px;
}
h3 {
  font-size: 18px;
  padding-top: 0px;
  margin-bottom: 15px;
}
h4 {
  font-size: 16px;
  padding-top: 0px;
  margin-bottom: 15px;
}
h5 {
  font-size: 14px;
  padding-top: 0px;
  margin-bottom: 15px;
}
h6 {
  font-size: 12px;
  padding-top: 0px;
  margin: 15px 0;
}
header h2 {
  font-size: 13px;
}
blockquote {
  margin: 15px 0px;
  padding: 0;
  font-size: 17px;
  line-height: 30px;
  color: #5d504f;
}
blockquote blockquote {
  margin-top: 0;
}
blockquote p {
  font-size: 17px;
  line-height: 30px;
}
blockquote cite {
  font-size: 12px;
}
blockquote cite:before {
  content: "— ";
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}
blockquote, q {
  quotes: "" "";
}
blockquote:first-child, blockquote p:first-child {
  margin-top: 0;
}
blockquote:last-child, blockquote p:last-child {
  margin-bottom: 0;
}
p {
  margin: 15px 0;
  padding-top: 3px;
  margin-bottom: 12px;
  padding-bottom: 2px;
  font-size: 12px;
  line-height: 15px;
}
p:first-child {
  margin-top: 0;
}
p:last-child {
  margin-bottom: 0;
}
pre, code, tt {
  font: 10px 'andale mono', 'monotype.com', 'lucida console', monospace;
  line-height: 15px;
}
em {
  font-style: italic;
}
ul, ol {
  margin-left: 15px;
  padding-top: 5px;
}
ul ul,
ol ul,
ul ol,
ol ol {
  padding-top: 0;
}
ul li, ol li {
  margin-left: 20px;
  font-size: 12px;
  margin-bottom: 5px;
}
ul {
  list-style: square;
}
ol {
  list-style: decimal;
}
dl {
  margin: 15px 0;
  padding-top: 5px;
}
dl dt, dl dd {
  font-size: 12px;
}
dl dt {
  font-weight: bold;
  margin-top: 15px;
}
dl dt:first-child {
  margin: 0;
}
hr {
  height: 1px;
  border: 0;
  margin: 15px 0;
  padding: 0;
  background-color: #b5aaa9;
}
/* @group abstract classes */
.hidden {
  display: none;
}
.crop {
  overflow: hidden;
}
.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.alignleft {
  float: left !important;
}
.alignright {
  float: right !important;
}
.wp-caption {
  text-align: center;
}
.wp-caption img {
  margin: 0;
  padding: 0;
  border: 0 none;
}
.wp-caption p.wp-caption-text {
  font-size: 11px;
  padding: 5px 4px 0 0;
  margin: 15px;
}
/* @end */
#content {
  margin: 10px 0 30px 0;
  position: relative;
}
.post header {
  margin-bottom: 10px;
}
.post header h1 a, .post header h2 a, .post header h3 a {
  text-decoration: none;
}
.post p .callout {
  padding-top: 0;
}
.post .metadata {
  margin: 0;
  padding: 0;
  margin-top: 15px;
  color: #5d504f;
  list-style: none;
}
.post .metadata li {
  margin: 0;
  padding: 0;
  float: left;
  background: none;
  margin-right: 20px;
}
.post .metadata li.last {
  margin-right: 0;
}
#content.single article header, #content.page article header, #content.archive article header {
  margin-bottom: 15px;
}
#content.single article header h1, #content.page article header h1, #content.archive article header h1 {
  font-size: 28px;
  line-height: 30px;
  margin-top: -6px;
  padding-bottom: 0;
  margin-bottom: 0;
}
#content.single article header h1 .iconic, #content.page article header h1 .iconic, #content.archive article header h1 .iconic {
  color: #5d504f;
  padding-right: 10px;
}
#content.single article header h2, #content.page article header h2, #content.archive article header h2 {
  margin-top: 0;
  font-size: 11px;
}
#content.single article section, #content.page article section, #content.archive article section {
  margin-bottom: 15px;
}
#content.single article section p, #content.page article section p, #content.archive article section p {
  font-size: 17px;
  font-family: 'ff-meta-serif-web-pro-1', 'ff-meta-serif-web-pro-2', Georgia, "Times New Roman", Times, serif;
  line-height: 30px;
}
.pagination {
  margin: 15px 0;
}
::selection {
  background: #5d504f none repeat;
  color: #fefafa;
  /* Safari and Opera */
}
::-moz-selection {
  background: #5d504f none;
  color: #fefafa;
  /* Firefox */
}
.time.iconic time, .comments.iconic a {
  font-family: 'ff-dagny-web-pro-1', 'ff-dagny-web-pro-2', 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;
  padding-left: 5px;
}
