.reset-dimensions {
  margin: 0;
  padding: 0;
}
.incomplete {
  background-color: rgba(255, 0, 255, 0);
}
.show-bounds {
  background-color: rgba(255, 255, 0, 0.5);
}
#post_footer .item-0 {
  clear: left;
  width: 190px;
}
#post_footer .item-2 {
  margin-right: 0 !important;
}
#follow_list {
  background: #ff1e00;
}
#work_pullout {
  background: #5d504f;
}
#categories_pullout {
  background: #5d504f;
}
