.font-size-xxx-large{font-size:38px;line-height:47px;}
.font-size-xx-large{font-size:28px;line-height:35px;}
.font-size-x-large{font-size:24px;line-height:32px;}
.font-size-large{font-size:20px;line-height:30px;}
.font-size-medium{font-size:17px;line-height:27px;}
.font-size-small{font-size:13px;line-height:19px;}
.font-size-x-small{font-size:11px;line-height:14px;}
.font-size-xx-small{font-size:10px;line-height:12px;}
.default-shadow{-moz-box-shadow:0px 0px 8px rgba(18, 7, 6, 0.3);-webkit-box-shadow:0px 0px 8px rgba(18, 7, 6, 0.3);box-shadow:0px 0px 8px rgba(18, 7, 6, 0.3);}
.reset-dimensions{margin:0;padding:0;}
.incomplete{background-color:rgba(255, 0, 255, 0);}
.show-bounds{background-color:rgba(255, 255, 0, 0.5);}
@media screen, projection{#content.snippet article{margin-bottom:60px;}#content.snippet article section{margin-top:30px;}#content.snippet article section p{font-size:39px;line-height:45px;} #content.snippet article section .tag{background:none;} #content.snippet article section .tag:hover{color:#050000;}}
