.reset-dimensions {
  margin: 0;
  padding: 0;
}
.incomplete {
  background-color: rgba(255, 0, 255, 0);
}
.show-bounds {
  background-color: rgba(255, 255, 0, 0.5);
}
#page_header h1 {
  margin: 0;
  padding: 0;
  margin-left: -20px;
  float: left;
}
#page_header h1 a {
  text-decoration: none;
  color: #fefafa;
  font-size: 11px;
  line-height: 15px;
  width: 120px;
  height: 15px;
  display: block;
  font-weight: bold;
  padding-left: 20px;
  background-image: url(../../images/fs_sprite.png);
  background-position: -3px -100px;
  background-repeat: no-repeat;
  background-color: #3d302f;
  text-indent: -9999px;
}
#page_header h1 a:hover {
  background-color: #ff1e00;
}
#page_header nav {
  border: 0;
  margin: 0;
  padding: 0;
  width: 820px;
  padding-left: 20px;
  float: left;
  background: #5d504f;
}
#page_header nav .menu {
  margin: 0;
  padding: 0;
}
#page_header nav .menu ul {
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
  display: block;
  width: 820px;
}
#page_header nav .menu ul ul {
  display: none;
}
#page_header nav .menu ul li {
  float: left;
  margin-right: 20px;
  background: none;
  padding: 0;
}
#page_header nav .menu ul li a {
  display: block;
  text-decoration: none;
  font-weight: bold;
  height: 15px;
  color: #fefafa;
  font-size: 11px;
  padding-top: 0px;
  width: 44px;
  padding: 0 3px;
}
#page_header nav .menu ul li a:hover {
  color: #fefafa;
  background: #3d302f;
}
#page_header nav .menu ul li.last {
  margin-right: 0;
}
#page_header nav #menu-item-217 {
  position: relative;
  float: right;
  margin-right: 0;
}
#page_header nav #menu-item-217 a {
  display: block;
  background: #ff1e00;
  color: #fefafa !important;
  text-decoration: none;
  font-weight: bold;
  font-size: 11px;
  width: 184px;
}
#page_header nav #follow_list {
  background: rgba(255, 30, 0, 0.8);
  position: absolute;
  z-index: 999999;
  right: 0;
  height: 0;
  padding-left: 20px;
  top: 15px;
  overflow: hidden;
}
#page_header nav #follow_list ul {
  margin-top: 15px;
  display: block;
}
#page_header nav #follow_list ul li {
  width: auto;
  margin: 0;
  padding: 0;
  display: block;
  float: none;
  margin-bottom: 15px;
}
#page_header nav #follow_list ul li a {
  /*temporary*/

  background: url(http://placehold.it/50x50) no-repeat;
  padding-left: 70px;
  display: block;
  height: auto;
  width: auto;
}
#page_header nav #follow_list ul li a .header {
  font-size: 22px;
  line-height: 30px;
  font-weight: normal;
}
#page_header nav #follow_list ul li a .description {
  display: block;
  font-weight: 400;
}
#page_header nav #follow_list.expanded {
  height: 150px;
}
#page_header nav #work_pullout {
  height: 0;
  width: 960px !important;
  position: absolute;
  background: rgba(93, 80, 79, 0.95);
  top: 15px;
  left: -20px;
  padding: 0 20px;
  display: block;
  color: #fefafa;
  overflow: hidden;
  z-index: 999999;
}
#page_header nav #work_pullout a {
  width: auto;
  padding: 0;
  display: inline;
  font-size: inherit;
  font-weight: inherit;
  text-decoration: underline;
}
#page_header nav #work_pullout a:hover {
  background: none;
}
#page_header nav #work_pullout li {
  padding: 0;
  margin-left: 0;
  margin-top: 15px;
  float: left;
}
#page_header nav #work_pullout li.intro h4 {
  margin-bottom: 15px;
}
#page_header nav #work_pullout li.intro h4 .iconic {
  color: #ff1e00;
}
#page_header nav #work_pullout li.intro h4 a {
  text-decoration: none;
}
#page_header nav #work_pullout li.intro .more {
  display: block;
  font-weight: bold;
  font-size: 11px;
  margin-top: 15px;
}
#page_header nav #work_pullout li.showcase {
  position: relative;
}
#page_header nav #work_pullout li.showcase a {
  text-decoration: none;
}
#page_header nav #work_pullout li.showcase h4 {
  margin: 0;
  padding: 0;
  font-size: 13px;
  background: rgba(93, 80, 79, 0.85);
  position: absolute;
  bottom: 4px;
  width: 185px;
  padding-left: 5px;
}
#page_header nav #work_pullout.expanded {
  height: 150px;
}
#page_header nav #categories_pullout {
  height: 0;
  width: 960px !important;
  position: absolute;
  background: rgba(93, 80, 79, 0.95);
  top: 15px;
  left: -20px;
  padding: 0 20px;
  display: block;
  color: #fefafa;
  overflow: hidden;
  z-index: 999999;
}
#page_header nav #categories_pullout ul {
  width: 960px;
  display: block;
}
#page_header nav #categories_pullout ul ul {
  display: inline;
  float: left;
  width: auto;
}
#page_header nav #categories_pullout ul li {
  margin: 0;
  padding: 0;
  margin: 0;
  padding: 0;
  float: left;
  width: 120px;
  margin-right: 20px;
  margin-top: 10px;
}
#page_header nav #categories_pullout ul li a {
  display: inline;
  width: auto;
}
#page_header nav #categories_pullout ul li:nth-child(7n) {
  margin-right: 0;
}
#page_header nav #categories_pullout.expanded {
  height: 210px;
}
#page_header nav nav .menu ul li {
  margin-right: 20px !important;
}
#page_header nav nav .menu ul li a {
  width: 46px;
  padding-left: 4px;
}
#sub_header #subheader_webbynode_promo {
  display: block;
  width: 100px;
  height: 20px;
  text-indent: -9999px;
  background-image: url(../../images/fs_sprite.png);
  background-position: -5px -260px;
  background-repeat: no-repeat;
}
#content.single #post_footer .widget {
  margin-bottom: 0;
}
#content.single #post_footer .widget:first-child {
  margin-left: 140px;
  width: 190px;
}
#content.single #post_footer #post_footer_post_of_week, #content.single #post_footer #post_footer_tumblr_follow, #content.single #post_footer #post_footer_off_franklin_promo {
  height: 90px;
  width: 190px;
  position: relative;
}
#content.single #post_footer #post_footer_post_of_week .content, #content.single #post_footer #post_footer_tumblr_follow .content, #content.single #post_footer #post_footer_off_franklin_promo .content {
  width: 170px;
  position: absolute;
  bottom: 0;
  display: block;
  padding: 5px 10px 10px 10px;
  color: #fefafa;
  background: rgba(93, 80, 79, 0.85);
}
#content.single #post_footer #post_footer_post_of_week .content .header, #content.single #post_footer #post_footer_tumblr_follow .content .header, #content.single #post_footer #post_footer_off_franklin_promo .content .header {
  display: block;
  font-size: 14px;
  font-family: 'ff-dagny-web-pro-1', 'ff-dagny-web-pro-2', 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;
}
#content.single #post_footer #post_footer_post_of_week .content .caption, #content.single #post_footer #post_footer_tumblr_follow .content .caption, #content.single #post_footer #post_footer_off_franklin_promo .content .caption {
  margin-top: 2px;
  display: block;
  font-size: 11px;
  font-family: 'ff-meta-serif-web-pro-1', 'ff-meta-serif-web-pro-2', Georgia, "Times New Roman", Times, serif;
  font-style: italic;
}
#content.single #post_footer #post_footer_post_of_week {
  background-image: url(../../images/promos.png);
  background-position: -200px 0px;
  background-repeat: no-repeat;
}
#content.single #post_footer #post_footer_tumblr_follow {
  background-image: url(../../images/promos.png);
  background-position: -400px 0px;
  background-repeat: no-repeat;
}
#content.single #post_footer #post_footer_off_franklin_promo {
  background-image: url(../../images/promos.png);
  background-position: 0px 0px;
  background-repeat: no-repeat;
}
#page_footer {
  /*submit to SRD*/

  /*Download Franklin Street*/

}
#page_footer .widget ul li {
  margin-left: 0;
}
#page_footer #footer_main_promo {
  width: 330px;
  height: 180px;
  display: block;
  background-image: url(../../images/fs_sprite.png);
  background-position: -280px -300px;
  background-repeat: no-repeat;
  background-color: #ff1e00;
  text-decoration: none;
}
#page_footer #footer_main_promo .content {
  display: block;
  margin-left: 170px;
  padding-top: 40px;
  padding-right: 10px;
}
#page_footer #footer_main_promo .content .header {
  font-family: 'ff-dagny-web-pro-1', 'ff-dagny-web-pro-2', 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;
  display: block;
  font-size: 17px;
  line-height: 20px;
}
#page_footer #footer_main_promo .content .caption {
  display: block;
  font-size: 12px;
  margin-top: 15px;
  font-style: italic;
}
#page_footer #text-6 {
  margin-top: -30px;
}
#page_footer #text-7 #footer_submit_options {
  margin: 0;
  padding: 0;
  list-style: none;
}
#page_footer #text-7 #footer_submit_options li.design, #page_footer #text-7 #footer_submit_options li.web, #page_footer #text-7 #footer_submit_options li.motion {
  margin: 0;
  padding: 0;
  float: left;
  margin-right: 20px;
  text-align: center;
}
#page_footer #text-7 #footer_submit_options li.design a, #page_footer #text-7 #footer_submit_options li.web a, #page_footer #text-7 #footer_submit_options li.motion a {
  display: block;
  width: 50px;
  height: 39px;
  text-indent: -9999px;
}
#page_footer #text-7 #footer_submit_options li.design span, #page_footer #text-7 #footer_submit_options li.web span, #page_footer #text-7 #footer_submit_options li.motion span {
  display: block;
  margin-top: 2px;
}
#page_footer #text-7 #footer_submit_options li.design a {
  background-image: url(../../images/fs_sprite.png);
  background-position: -5px -150px;
  background-repeat: no-repeat;
}
#page_footer #text-7 #footer_submit_options li.web a {
  background-image: url(../../images/fs_sprite.png);
  background-position: -60px -150px;
  background-repeat: no-repeat;
}
#page_footer #text-7 #footer_submit_options li.motion a {
  background-image: url(../../images/fs_sprite.png);
  background-position: -115px -150px;
  background-repeat: no-repeat;
}
#page_footer #text-7 a.button {
  font-size: 14px;
  font-style: italic;
  text-align: center;
  padding: 4px 2px 6px 2px;
  width: 190px;
}
#page_footer #text-8 a.button {
  font-size: 14px;
  font-style: italic;
  text-align: center;
  padding: 4px 2px 6px 2px;
  margin-top: 15px;
}
#page_footer #footer_follow_list {
  margin: 0;
  padding: 0;
  margin-top: 15px;
  list-style: none;
}
#page_footer #footer_follow_list li {
  margin: 0;
  padding: 0;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}
#page_footer #footer_follow_list li a {
  display: block;
  width: 50px;
  height: 50px;
  text-indent: -9999px;
}
#page_footer #footer_follow_list li.vimeo a {
  background-image: url(../../images/fs_sprite.png);
  background-position: -5px -27px;
  background-repeat: no-repeat;
}
#page_footer #footer_follow_list li.twitter a {
  background-image: url(../../images/fs_sprite.png);
  background-position: -64px -30px;
  background-repeat: no-repeat;
}
#page_footer #footer_follow_list li.tumblr a {
  background-image: url(../../images/fs_sprite.png);
  background-position: -120px -30px;
  background-repeat: no-repeat;
}
#page_footer #footer_follow_list li.flickr a {
  background-image: url(../../images/fs_sprite.png);
  background-position: -180px -18px;
  background-repeat: no-repeat;
}
#page_footer #footer_follow_list li.git a {
  background-image: url(../../images/fs_sprite.png);
  background-position: -285px -30px;
  background-repeat: no-repeat;
}
#page_footer #footer_follow_list li:nth-child(3n) {
  margin-right: 0;
}
#page_footer #footer_follow_list li:nth-child(4) {
  margin-bottom: 0;
}
#page_footer .widget ul {
  list-style: decimal;
}
#page_heel .widget {
  margin-bottom: 1px;
}
#page_heel .widget ul li {
  margin-left: 0;
}
#sticky_footer {
  /*first-timer*/

}
#sticky_footer .widget {
  margin-bottom: 0;
  padding: 0;
}
#sticky_footer #sticky_footer_twitter_follow, #sticky_footer #sticky_footer_rss_follow {
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  display: block;
  padding: 5px 0 2px 0;
}
#sticky_footer #sticky_footer_twitter_follow span, #sticky_footer #sticky_footer_rss_follow span {
  display: block;
  float: left;
  margin-right: 10px;
}
#sticky_footer #sticky_footer_twitter_follow span {
  width: 9px;
  height: 12px;
  background-image: url(../../images/fs_sprite.png);
  background-position: -5px -5px;
  background-repeat: no-repeat;
}
#sticky_footer #sticky_footer_rss_follow span {
  width: 12px;
  height: 12px;
  background-image: url(../../images/fs_sprite.png);
  background-position: -28px -5px;
  background-repeat: no-repeat;
}
#sticky_footer #text-22 {
  margin: 0;
  width: 400px;
  float: right;
}
#sticky_footer #text-22 a {
  font-weight: bold;
  padding: 5px 0 2px 10px;
  display: block;
  background-color: #ff1e00;
  text-decoration: none;
  font-size: 12px;
  color: #fefafa;
}
#sticky_footer #text-22 a .user {
  font-size: 15px;
}
#sticky_footer.light {
  /*first-timer*/

}
#sticky_footer.light #text-22 a {
  color: #fefafa;
}
#sidebar .widget ul li {
  margin-left: 0;
}
#sidebar .widget_rss .widgettitle img {
  display: none;
}
#sidebar .widget_rss .widgettitle a {
  text-decoration: none;
  border: none !important;
  color: #050000;
}
#sidebar .widget_rss ul {
  list-style: decimal;
}
#rss_promo {
  /* basic */

  cursor: pointer;
  padding: 0;
  display: block;
  background-color: #fefafa;
  margin: 0 auto;
  width: 190px;
  height: 70px;
  text-decoration: none;
  font-size: 12px;
}
#rss_promo #rss_promo_top {
  display: block;
  height: 50px;
  background: #5d504f;
  color: #fefafa;
}
#rss_promo #rss_promo_top .content {
  margin-right: 20px;
  padding-top: 10px;
}
#rss_promo #rss_promo_top .content .iconic {
  font-size: 44px;
  display: block;
  float: left;
  line-height: 36px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 5px;
}
#rss_promo #rss_promo_top .content strong {
  margin-top: 5px;
  display: block;
  float: left;
  font-weight: normal;
  font-size: 20px;
  line-height: 21px;
  margin-bottom: 5px;
  font-family: 'ff-meta-serif-web-pro-1', 'ff-meta-serif-web-pro-2', Georgia, "Times New Roman", Times, serif;
  font-style: italic;
}
#rss_promo #rss_promo_top .content strong span {
  display: block;
  font-size: 12px;
}
#rss_promo #rss_promo_bottom {
  display: block;
  height: 20px;
  background: #fefafa;
  color: #5d504f;
}
#rss_promo #rss_promo_bottom .content {
  display: block;
  margin-left: 50px;
  font-family: 'ff-dagny-web-pro-1', 'ff-dagny-web-pro-2', 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;
  font-style: normal;
  padding-top: 3px;
  font-weight: 500;
  line-height: 15px;
}
