.comments-container {
	font-size:$font-size-small;
	margin-top: $row-height * 4;
	.pagination {
		margin-bottom:$row-height*2;
	}
}

.no_comments, .comments_closed {
		@extend %vertical-margin-x2;
		font: italic #{$font-size-xx-large}/1.25 #{$typeface-primary};
		color: $color-midtone;
}

#comment-form-logged-in-as, #comment-form-info {
	@extend .column;
	@extend .span2;
}

#comment-form-content {
	@extend .column;
	@extend .span8;
}

.comment-content {
	@extend .clearfix;
	@extend .column;
	@extend .span8;
	@extend .push2;
	font-family: $typeface-primary;
	blockquote, blockquote p {
		font-size: $font-size-small;
	}
}

.comment-reply-link {
	font: $font-weight-bold $font-size-x-small $typeface-secondary;
}

.comment-info {
	@extend .column;
	@extend .span2;
	@extend .pull8;
}

#comment-form-allowed-tags {
	@extend .column;
	@extend .span8;
	@extend .push2;
}

.comments-list {
	list-style: none;
	padding-left: 0;
	margin-left: 0;
	.comment {
		@extend %reset;
	}
	.comment.parent {
		/*TODO: Figure out a visual style for this*/
	}
	.metadata {
		font-size:$font-size-xx-small;
		.date {
			@extend .truncate;
		}
	}
	.comment:not(:first-child) {
		@extend %vertical-margin-x4;
	}
	.comment:last-child {
		margin-bottom:0;
	}
	.comment.bypostauthor  {
		padding:$row-height*2 0;
	}
	.comment-edit-link {
		font-weight: $font-weight-bold;
		color:$color-accent;
	}
	.children {
		/*TODO: Figure out a visual style for this*/
		margin-left:0;
		list-style:none;
		.comment {
			@extend %vertical-margin-x2;
		}
	}
}

/*TODO reference IDs instead of tags*/
#respond {
	margin-top:$row-height*4;
	label { display: none; }
	input[type=text], textarea {
		width:100%;
	}
	input[type=text] {
		margin-bottom: $row-height;
		text-align: right;
	}
	textarea {
		margin: 0;
		height: 118px;
		&:focus { height: $row-height * 25; }
	}
	#submit {
		margin-top: $row-height;
		/*TODO: Extend .push-three?*/
		@extend .push3;
	}
	.loggedin { font-style: italic; }
}


/*MOBILE*/
@media only screen and  (max-width: 767px) {
	#respond #comment-form-info input[type=text] {
		text-align: left;
	}

	#respond {
		margin-bottom:$row-height*2;
		#submit {
			margin-left:0;
			display:block;
			width:100%;
		}
	}
	#comments {
		.metadata	{
			margin-top:5px;
		}
		.date-time {
			display:inline;
			margin-top:0px;
		}
		.children {
			margin-left:0;
		}
	}
}
