.page-bottom {
	background: $color-midtone;
	color: $color-light;
}

.page-footer {
	padding-top:$row-height *2;
	padding-bottom:$row-height *2;
	margin-top: $row-height * 2;
	.widget-title { color: $color-highlight; }
	a { color: $color-highlight; }
}