*,
*:before,
*:after {
  box-sizing: border-box; }

html,
body {
  font-size: 10px; }


img {
  max-width: 100%;
  height: auto;
  display: inline-block;
  vertical-align: middle; }

@media only screen and (max-width: 768px) {

object,
iframe,
embed {
  max-width: 100%;
  height: auto; }
}

.row {
  width: 100%;
  margin: 0 auto;
  max-width: 98rem;
 } //TODO: Remove IE-specific rules

 .row:before, .row:after {
    content: " ";
    display: table; }
  .row:after {
    clear: both; }
    .row .row:before, .row .row:after {
      content: " ";
      display: table; }
    .row .row:after {
      clear: both; }


.clearfix:before, .clearfix:after { content:""; display:table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

.container {
  /*padding: 0 20px;*/ //todo: cleanup
}

@media only screen and (max-width: 768px) {
  .column, .row [class*="span"], .span1, .span2, .span3, .span4, .span5, .span6, .span7, .span8, .span9, .span10, .span11, .span12 {
    width:100%;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media only screen and (min-width: 768px) {
/* Grid HTML Classes */

.row .row {
  width: auto;
  margin: 0 -2rem;
  max-width: none;
}

.column, .row [class*="span"] {
  @extend %column;
}

%column {
  position: relative;
  padding-left: 2rem;
  padding-right: 2rem;
  float: left;
}

.column-full {
  @extend %column;
  width: 100%;
}

%relative {
  position: relative;
}

%push {
  position: relative;
  right:auto;
}

%pull {
  position: relative;
  left: auto;
}

.span1 {
  width: 8.33333%; }

.span2 {
  width: 16.66667%; }

.span3 {
  width: 25%; }

.span4 {
  width: 33.33333%; }

.span5 {
  width: 41.66667%; }

.span6 {
  width: 50%; }

.span7 {
  width: 58.33333%; }

.span8 {
  width: 66.66667%; }

.span9 {
  width: 75%; }

.span10 {
  width: 83.33333%; }

.span11 {
  width: 91.66667%; }

.span12 {
  width: 100%; }

.push1 {
  @extend %push;
  left: 8.33333%; }

.pull1 {
  @extend %pull;
  right: 8.33333%; }

.push2 {
  @extend %push;
  left: 16.66667%; }

.pull2 {
  @extend %pull;
  right: 16.66667%; }

.push3 {
  @extend %push;
  left: 25%; }

.pull3 {
  @extend %pull;
  right: 25%; }

.push4 {
  @extend %push;
  left: 33.33333%; }

.pull4 {
  @extend %pull;
  right: 33.33333%; }

.push5 {
  @extend %push;
  left: 41.66667%; }

.pull5 {
  @extend %pull;
  right: 41.66667%; }

.push6 {
  @extend %push;
  left: 50%; }

.pull6 {
  @extend %pull;
  right: 50%; }

.push7 {
  @extend %push;
  left: 58.33333%; }

.pull7 {
  @extend %pull;
  right: 58.33333%; }

.push8 {
  @extend %push;
  left: 66.66667%; }

.pull8 {
  @extend %pull;
  right: 66.66667%; }

.push9 {
  @extend %push;
  left: 75%; }

.pull9 {
  @extend %pull;
  right: 75%; }

.push10 {
  @extend %push;
  left: 83.33333%; }

.pull10 {
  @extend %pull;
  right: 83.33333%; }

.push11 {
  @extend %push;
  left: 91.66667%; }

.pull11 {
  @extend %pull;
  right: 91.66667%; }
}

.column-centered {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  float: none !important; }
