/* Artfully Masterminded by ZURB */

/* --------------------------------------------------
	:: Grid
	This is the mobile-friendly, responsive grid that
	lets Foundation work much of its magic.
	-------------------------------------------------- */

	.container { padding: 0 20px; }

	.row { width: 100%; max-width: 980px; min-width: 727px; margin: 0 auto; }
	/* To fix the grid into a certain size, set max-width to width */
	.row .row { min-width: 0; }

	.column, .row [class*="span"] { margin-left: 4.4%; float: left; min-height: 1px; position: relative; }
	.column:first-child, .row [class*="span"]:first-child { margin-left: 0; }

	/*TODO: Make span widths & margins more precise so this rule isn't needed*/
	[class*="column"] + [class*="column"]:last-child, .column:last-child { float: right; }

	.span1 		{ width: 4.3%; }
	.span2		{ width: 13%; }
	.span3 	{ width: 21.679%; }
	.span4		{ width: 30.37%; }
	.span5 		{ width: 39.1%; }
	.span6 		{ width: 47.8%; }
	.span7 	{ width: 56.5%; }
	.span8 	{ width: 65.2%; }
	.span9 		{ width: 73.9%; }
	.span10 		{ width: 82.6%; }
	.span11 	{ width: 91.3%; }
	.span12 	{ width: 100%; }

	.offset1 	{ margin-left: 13.1%;  }
	.offset2	{ margin-left: 21.8%;  }
	.offset3 	{ margin-left: 30.5%;  }
	.offset4 	{ margin-left: 39.2%;  }
	.offset5 	{ margin-left: 47.9%;  }
	.offset6	{ margin-left: 56.6%;  }
	.offset7 	{ margin-left: 65.3%;  }
	.offset8 	{ margin-left: 74.0%;  }
	.offset9	{ margin-left: 82.7%;  }
	.offset10 	{ margin-left: 91.4%;  }

	.row .centered { float: none; margin: 0 auto; }

	.offset1:first-child 	{ margin-left: 8.7%;  }
	.offset2:first-child 	{ margin-left: 17.4%;  }
	.offset3:first-child 	{ margin-left: 26.1%;  }
	.offset4:first-child 	{ margin-left: 34.8%;  }
	.offset5:first-child 	{ margin-left: 43.5%;  }
	.offset6:first-child 	{ margin-left: 52.2%;  }
	.offset7:first-child 	{ margin-left: 60.9%;  }
	.offset8:first-child 	{ margin-left: 69.6%;  }
	.offset9:first-child 	{ margin-left: 78.3%;  }
	.offset10:first-child 	{ margin-left: 87%;  }
	.offset11:first-child 	{ margin-left: 95.7%;  }

	/* Source Ordering */
	.push2 		{ left: 17.4% }
	.push3 	{ left: 26.1%; }
	.push4 		{ left: 34.8%; }
	.push5 		{ left: 43.5%; }
	.push6 		{ left: 52.2%; }
	.push7 	{ left: 60.9%; }
	.push8 	{ left: 69.6%; }
	.push9 		{ left: 78.3%; }
	.push10 		{ left: 87%; }

	.pull2 		{ right: 17.4% }
	.pull3 	{ right: 26.1%; }
	.pull4 		{ right: 34.8%; }
	.pull5 		{ right: 43.5%; }
	.pull6 		{ right: 52.2%; }
	.pull7 	{ right: 60.9%; }
	.pull8 	{ right: 69.6%; }
	.pull9 		{ right: 78.3%; }
	.pull10 		{ right: 87%; }



	img, video { max-width: 100%; height: auto; }

	 /* Nicolas Gallagher's micro clearfix */
	.row:after, .clearfix:after {
	 	@extend %clearfix;
	}



/* --------------------------------------------------
	:: Grid
	-------------------------------------------------- */
	/* Mobile */
	@media only screen and (max-width: 767px) {
		body, .container, .row {
			min-width: 0; margin-left: 0; margin-right: 0;
		}
		body { -webkit-text-size-adjust: none; -ms-text-size-adjust: none; width: 100%;  padding-left: 0; padding-right: 0; }
		.row { width: 100%; }
		.row .row [class*="span"] { padding: 0; }
		.column, .row [class*="span"] { width: auto !important; float: none; margin-left: 0; margin-right: 0; }
		.column:last-child, .row [class*="span"]:last-child { margin-right: 0; float: none; }
		.row [class*="span"] + .row [class*="span"]:last-child { float: none; }
		.row [class*="span"]:after, .column:after {
			content:"";
  		display:table;
  		clear:both;
		}

		.offset1, .offset2, .offset3, .offset4, .offset5, .offset6, .offset7, .offset8, .offset9, .offset10, .offset11, .centered { margin-left: 0 !important; }

		.push2, .push3, .push4, .push5, .push6, .push7, .push8, .push9, .push10 { left: auto; }
		.pull2, .pull3, .pull4, .pull5, .pull6, .pull7, .pull8, .pull9, .pull10 { right: auto; }

	}