#site-title-description {
	margin-top: $row-height;
}
#site-title {
	font-size: $font-size-x-large;
	margin-bottom: 5px;
    float: left;
}
#site-description {
	margin-top:0;
	font-size: $font-size-small;
}


.menu, .sub-menu {
	list-style: none;
}

.menu {
	@extend .clearfix;
	margin:0 0 $row-height 0;
}

.menu > .menu-item:hover {
	border-top:1px solid $color-midtone;
	margin-top:-1px;
}

.menu > .menu-item > .sub-menu {
	position:absolute;
	z-index:999;
	margin:0;
	left:-9999px;
	border-top:2px solid $color-dark;
	border-bottom:1px solid $color-midtone;
	background:lighten($color-light, 3%);
	padding-bottom: 10px;
}

.menu > .menu-item {
	margin-right: 10px;
	float: left;
	> a {
		padding:15px 10px;
	}
}

.menu-item {
	position: relative;
	@extend %reset;
	a {
		padding:7px 30px 7px 10px;
		display: block;
		color: $color-off-black;
		font: #{$font-weight-bold} #{$font-size-x-small} #{$typeface-secondary};
		&:hover {
			color: $color-midtone;
		}
	}
}

.menu-item:hover > .sub-menu {
	left:0;
}

.sub-menu {
	@extend %reset;
	.menu-item {
		&:first-child {
			margin-top:10px;
		}
	}
	> .menu-item {
		a {
			padding-left: 15px;
		}
	}
	a {
		font-weight: $font-weight-normal;
		white-space:nowrap;
		&:hover  {
			background:darken($color-light, 5%);
			border:0;
		}
	}
}

#page-header {
    border-bottom: 3px solid $color-accent;
    margin: $row-height * 2 auto $row-height * 2 auto;
}

#sub-header {
	border-bottom:$border-break;
	padding-bottom:$row-height;
	margin-bottom:$row-height * 2;
	p {
		margin-top: 0;
	}
}

#site-title, #menu-primary, #menu-primary li{
    margin: 0;
    padding: 0;
}


    #site-nav {
        float: right;
        position: relative;
    }

    #menu-primary {
        float: right;
        list-style: none;
        display: block;
        position: relative;
    }

#menu-primary li {
    margin-top:$row-height;
    margin-right: 40px;
    float: left;
}


#menu-primary li a {
    display: block;
    height: $row-height;
    color: $color-midtone;
    font: 700 12px $typeface-secondary ;
}

#menu-primary li.last {
    margin-right: 0;
}

#menu-primary .rss a {
    background: $color-accent inline-image('rss.svg') no-repeat center center;
    background-size: 50%;
}

#menu-primary .twitter a {
    background: $color-accent inline-image('twitter.svg') no-repeat center center;
    background-size: 60%;
}

#menu-primary .rss {
    margin-top: -15px;
}

#menu-primary .rss, #menu-primary .twitter {
    position: fixed;
    z-index: 10000;
    margin-left: 140px;
}

#menu-primary .rss a, #menu-primary .twitter a {
    width: 45px;
    height: 45px;
    border-radius: 22.5px;
    display: block;
    box-shadow: 0px 0px 8px rgba(18,7,6,0.3);
}

#menu-primary .rss a, #menu-primary .twitter a, #bio_pic {
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
}

#menu-primary .twitter {
    margin-top: 50px;
}

#bio_pic {
    background: inline-image('christophe_head_shot_small.png') no-repeat center center;
    max-width: 100%;
    height: 142px;
    display: block;
    margin-bottom: 15px;
    box-shadow: 0px 0px 8px rgba(18,7,6,0.3);
}