.posts {
	margin: $row-height*4 auto;
}

.post {
	font: #{$font-size-small}/1.6 #{$typeface-primary};
}

.post + .post, .type-page + .type-page {
	@extend %vertical-margin-x4;
}

.post-content {
	p, li, dt, dd, blockquote {
		font-size: 1em;
	}
	code, small {
		font-size: $font-size-small;
	}
	img {
		@extend %default-shadow;
	}
	p {
		@extend .clearfix;
	}
}

.post-info {
	opacity:.33;
}

.post:not(.post-large), .type-page {
	.post-content {
		@extend .column;
		@extend .span8;
		@extend .push2;
	}
	.post-info {
		@extend .column;
		@extend .span2;
		@extend .pull8;
	}
}

.post-large {
	.post-content {
		margin: 0 0 $row-height 0;
	}
	p {
		font-style: italic;
		font-size: $font-size-xx-large;
		margin: 0 0 $row-height;
	}
}

/*MOBILE*/
@media only screen and  (max-width: 767px) {
	.post-large p {
		font-size: $font-size-x-large;
	}
}