/* TODO: Remove heirarchy & general cleanup */
.single {
	.post {
		font-size: $font-size-medium;
	}
	.post-title {
		color: $color-dark;
		font-weight: 300;
	}
	.post-excerpt {
		padding-bottom: $row-height * 2;
		color: $color-midtone;
		p {
			padding-top: 0;
			font: italic #{$font-size-x-large}/1.55 #{$typeface-primary};
		}
	}
	.pagination {
		margin-top:$row-height*2;
	}
	/*TODO: Better class name for this */
	.content-main {
		margin-top: $row-height * 2 auto;
		@extend %border-bottom-light;
		padding-bottom:$row-height;
	}
	.post-content {
		margin-bottom:$row-height * 3;
		h1, h2 {
			@extend %vertical-margin-x1;
			padding: 0;
		}
		h1 {
			font-size: $font-size-large;
			margin-top: $row-height * 2;
		}
		h2 {
			font-size: $font-size-medium;
			font-weight: $font-weight-bold;
		}
		dd {
			margin-left: $gutter-width;
		}
		.flush-left {
			margin-left: -26.1%; /*TODO: FIX THIS*/
		}
		img.flush-left, video.flush-left {
			max-width:126.1%; /*TODO: FIX THIS*/
		}

		.alignright, .alignleft {
			max-width:40%;
		}

		.alignright {
			margin-left: 20px;
		}

		.alignleft {
			margin-right: 20px;
		}
	}
}

#post-tweet {
	float:right;
	margin:$row-height 0 $row-height*2 0;
}

.post-footer {
	border-bottom:$border-break;
	padding-bottom:$row-height;
}
/*MOBILE*/
@media only screen and  (max-width: 767px) {
	.post-info .previous {
		a:before {
			content:"Previous Post: ";
		}
		nav {
			display:none !important;
		}
	}

	.content.single .post {
		.flush-left {
			margin-left: 0% !important;
		}
		img.flush-left {
			max-width:100% !important;
		}
	}
}