$color-accent: #ea0000;
$color-highlight: #fffefe;
$color-light: #f0eceb;
$color-midtone: #5d504f;
$color-dark: #3d302f;
$color-off-black: #050000;

$color-midtone-light: #998482;
$color-accent-alt: #ff1e00;

$typeface-secondary: Sans-Serif;
$typeface-primary: Georgia, serif;

$font-weight-thin: 100;
$font-weight-extra-light: 200;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-demi-bold: 600;
$font-weight-bold: 700;
$font-weight-heavy: 800;
$font-weight-black: 900;

$font-size-xxx-large: 4.8rem;
$font-size-xx-large: 3.8rem;
$font-size-x-large: 2.8rem;
$font-size-large: 2.4rem;
$font-size-medium: 2.1rem;
$font-size-small: 1.8rem;
$font-size-x-small: 1.3rem;
$font-size-xx-small: 1.1rem;
$font-size-xxx-small: .9rem;

$row-height: 1.5rem;
$column-width: 4.5rem;
$gutter-width: 4.0rem;

$border-break: 2px solid $color-light;