.font-size-xx-large { font-size: $font-size-xx-large; }
.font-size-x-large { font-size: $font-size-x-large; }
.font-size-large { font-size: $font-size-large; }
.font-size-medium { font-size: $font-size-medium; }
.font-size-small { font-size: $font-size-small; }
.font-size-x-small { font-size: $font-size-x-small; }
.font-size-xx-small { font-size: $font-size-xx-small; }

/*Headers*/
h1, h2, h3, h4, h5, h6 {
	@extend .title;
	padding-top: 0px;
	margin-bottom: 1em;
	&:first-child {
		margin-top: 0;
	}
}
h1 { font-size:1.6em; }
h2 { font-size:1.5em; }
h3 { font-size:1.3em; }
h4 { font-size:1.1em; }
h5 { font-size:1em; }
h6 { font-size:.9em; }

p {
	margin: 0 0 1.6em;
}

/*Blockquote*/
blockquote {
	color: $color-dark;
	@extend %vertical-border-break-dark;
	margin: ($row-height * 2) 0 ($row-height * 2) $gutter-width;
	p {
		font-size: inherit;
		line-height: inherit;
	}
}

blockquote > p:first-child::before {
	content: open-quote;
}
blockquote > p:last-child::after {
	content: close-quote;
}
blockquote, q {
	quotes: "“" "”" ;
}

cite, blockquote[cite]:after, cite {
	font: $font-size-small $typeface-secondary;
}
blockquote[cite]:after {
	content: "—" attr(cite);
	display: block;
	color: $color-off-black;
	margin-top: $row-height;
}
cite {
	margin-left: $gutter-width;
	margin-top: -1em;
	margin-bottom: 2em;
	&:before { content: "—"; }
}

/*Pre & Code*/
pre, code {
	white-space: pre;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -o-pre-wrap;
	font-family: "andale mono", "lucida console", monospace;
}
pre { /*Merge with Blockquote?*/
	@extend %vertical-border-break-dark;
	margin: ($row-height * 2) 0 ($row-height * 2) $gutter-width;
}

small { @extend .font-size-small; }

.text-left {
  text-align: left !important; }

.text-right {
  text-align: right !important; }

.text-center {
  text-align: center !important; }

.text-justify {
  text-align: justify !important; }

/*MOBILE*/
@media only screen and  (max-width: 767px) {

	/*Typography*/
	h1 { font-size: $font-size-x-large; }
	h2 { font-size: $font-size-large; }
	h3 { font-size: $font-size-medium; }
	h4 { font-size: $font-size-small; }
	h5 { font-size: $font-size-x-small; }
	h6 { font-size: $font-size-xx-small; }
}