.widget {
	font-size: $font-size-x-small;
	margin-bottom:$row-height;
}

.widget-title {
	@extend .truncate;
}

.widget.span3, .widget.span4, .widget.span6 {
	float:left !important;
}

.widget.span3:nth-child(n+5), .widget.span4:nth-child(n+4), .widget.span6:nth-child(n+3) {
	display:none;
}