@import "variables";

/*Custom LESS variables*/
.dark_tick(@top:0px, @left:0px, @repeat:no-repeat) {
	background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADVJREFUeNpitDXQL2BgYPAD4hQgvscEJHYD8V8g3gfE7iABRigGgf8sQMIZiEESTiAtAAEGACZNB8msrbs9AAAAAElFTkSuQmCC) @top @left @repeat;
}

@dotted-line-dark:url(data:image/gif;base64,R0lGODlhBQABAIAAAD0wLwAAACH5BAHoAwEALAAAAAAFAAEAAAIDRB4FADs=);

@media screen, projection {
	#ad {
	
	}
	
	#intro {
		margin-bottom:@row-height;
		p {
			font-family:@serif;
			.font-size-small;
		}
	}
	
	body {
		border-top:3px solid @color_off_black;
	}
	
	#webbynode_promo {
		margin-top:@row-height;
		small {
			.font-size-xx-small;
			display:block;
			margin-bottom:2px;
		}
		#webbynode_promo_link {
			display:block;
			width:100px;
			height:20px;
			.sprite-background(-180px, -370px);
			text-indent:-99999px;
		}
	}

	#content.home {
		.content {
			margin:@row-height*2 0;
		}
		
		.content.halfandhalf .content-header {
			.columns(9);
		}
		
		.content-header {
			padding-bottom:5px;			
			-webkit-border-image: @dotted-line-dark  5 0 repeat;
			-moz-border-image: @dotted-line-dark 5 0 repeat;
			border-width:0;
			border-bottom-width:1px;
			
			.label {
				.font-size-x-small;
				font-family:@sans-serif;
				font-style:italic;
				color:@color_off_black;
			}
			.label:after {
				content: " \2022";
				color:@color_midtone;
			}
			.caption {
				display:none;
			}
			.more {
				font-family:@sans-serif;
			}
		}
			
		#content_primary section a {
			color:@color_off_black;
			text-decoration:none;
		}
	}

	#content.single {
		/*
			TODO - Make IE fallback equivalent 
		*/
		article {
			section {
				
				ul {
					list-style:none;
					font-family:@serif;
					li {
						.dark_tick(0px, 10px, no-repeat);
						padding-left:10px;
						margin-bottom:@row-height;
					}
				}
			}
			#excerpt {
				.border-image(@dotted-line-dark, 5 0, repeat);
				border-width:0;
				border-bottom-width:1px; 
			}	
		}
		section {
			img {
				max-width:555px;
				height:auto;
			}
		}
		#post_footer {
			.widget {
				margin-bottom:0;
			}
			.widget:first-child {
				margin-left:140px;
				width:190px;
			}
			.metadata {
				.columns(7);
				padding-left: (@column-width*2) + (@gutter-width*2);
			}
		}
	}

	#page_footer {
		.widget {
			ul {
				list-style:decimal;
				li {
					.font-size-small;
					margin-left:0;
				}
			}
		}
	}

	#page_heel {
		padding:@row-height 0;
		.widget {
			margin-bottom:1px;
			ul {
				li {
					margin-left:0;
				}
			}
		}
	}

	/*footer promo area*/
	#text-10 {
		margin-top:(@row-height*-2);
		#footer_main_promo {
			.columns(6);
			height:180px;
			display:block;
			background-color:@color_accent;
			text-decoration:none;
			.sprite.fork {
				float:left;
				margin-left:20px;
			}
			.content {
				display:block;
				float:left;
				.columns(3);
				margin-left:40px;
				padding-top:40px;
				padding-right:10px;
				.header {
					font-family:@sans-serif;
					display:block;
					font-size:@large;
					line-height:20px;
				}
				.caption {
					display:block;
					font-size:@x-small;
					margin-top:15px;
					font-style:italic;
				}
			}
		}
	}

	/*footer recommended*/
	#text-12 {
		width:auto;
	}

	/*footer topics*/
	#text-13 {
		width:auto;
	}

	/*footer follow*/
	#text-17.widget {
		.columns(6);
		#footer_follow_list {
			.reset-dimensions;
			list-style:none;

			li {
				.reset-dimensions;
				float:left;
				margin-right:20px;
				a:hover {
					background:@color_highlight;
				}
				a {
					background:@color_light;
					position:relative;
					width:45px;
					height:45px;
					border-radius:22.5px;
					text-indent:-9999px;
					.sprite {
						position:absolute;
						top:50%;
						left:50%;
					}
					.vimeo-dark-15 {
						margin-left:-7px;
						margin-top:-6px;
					}
					.twitter-dark-15 {
						margin-left:-5px;
						margin-top:-7px;
					}
					.tumblr-dark-15 {
						margin-left:-4px;
						margin-top:-7px;
					}
					.facebook-dark-15 {
						margin-left:-3px;
						margin-top:-7px;
					}
					.flickr-dark-15 {
						margin-left:-7px;
						margin-top:-3px;
					}
					.git-dark-15 {
						margin-left:-7px;
						margin-top:-7px;
					}
					.friendfeed-dark-15 {
						margin-left:-7px;
						margin-top:-7px;
					}
				}
			}
		}
	}

	/*heel secondary menu*/
	#nav_menu-3 {
		ul {
			list-style:none;
			.reset-dimensions;
		}
		li {
			.reset-dimensions;
			margin-right:10px;
			float:left;
		}
		li:last-child {
			margin-right:0px;
		}
	}

	/*custom sprites*/
	.sprite.fork {
		width:131px;
		height:150px;
		.sprite-background(0px, -240px);
	}
	.sprite.webbynode {
	
	}
}

#page_header { 
	margin-bottom:@row-height;
	padding-top:5px;
	border:none;
	h1 {  
		.reset-dimensions;
		float:left;
		a {
			display: block;
			width: 128px; /*should be 130px to fit in grid*/
			height:71px;
			text-decoration: none;
			text-indent: -9999px;	
			.sprite-background(-180px, -280px);
		}
		
	}
	h2 {
		.columns(4);
		.reset-dimensions;
		float:left;
		font-style:italic;
		margin-top:30px;
		margin-left:20px;
		.font-size-x-small;
		color:@color_dark;
	}
	nav {
		
		width:215px;	
		border:0;
		.reset-dimensions;
		margin-top:42px;
		background:none;
		float:right;
		position:relative;
		.menu {
			.reset-dimensions;
			ul {
				float: left;
				list-style: none;
				.reset-dimensions;
				display:block;
				width:215px;
				position:relative;
				ul {
					display:none;
				}
				li {
					float: left;
					margin-right: 40px;
					background: none;
					padding: 0;
					
					a {
						display: block;
						text-decoration: none;
						font-weight: bold;
						height:(@row-height);
						color: @color_dark;
						font-size:@x-small;
						width:45px;
						padding:0;
						
					}
					a:hover {
						color:@color_midtone;
					}
				}
				li.rss {
					background:@color_accent;
					.default-shadow;
					
					width:45px;
					height:45px;
					border-radius:22.5px;
					margin-top:-15px;
					a {
						border:0;
						width:15px;
						height:15px;
						.sprite-background(-275px, -125px);
						text-indent:-99999px;
						padding:15px;
					}
				}
				li:last-child {
					margin-right: 0;
				}
				/*testing*/
				
				li.rss {
					position:fixed;
					margin-left:255px;
				}
				
				li.twitter {
					background:@color_accent;
					.default-shadow;
					width:45px;
					height:45px;
					border-radius:22.5px;
					margin-top:55px;
					position:fixed;
					margin-left:255px;
					a {
						border:0;
						width:15px;
						height:15px;
						.sprite-background(-43px, -125px);
						text-indent:-99999px;
						padding:15px;
					}
				}
				li:last-child {
					margin-right: 0;
				}
				li.rss:hover, li.twitter:hover {
					background-color:@color_dark;
				}		
			}
		}
	}

}

/*temp*/

#sub-header {
	padding-bottom:5px;
}

.oneup {
	section {
		
	}
}

.halfandhalf {	
		article {
			img {
				.default-shadow;
			}
		}	
}

.fourup, .twoup {
	display:none;
}
