@import "variables";
@media screen, projection {
	label {
		font-family: @sans-serif;
		.font-size-small;
		font-weight:bold;
	}
	
	input[type=text], textarea {
		.font-size-small;
		border: 1px solid @color_midtone;
		font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
		color: @color_midtone;
	}

	
}