@import "variables";
@media screen, projection {
	label {
		font-family: @sans-serif;
		.font-size-small;
		font-weight:bold;
	}
	
	input[type=text], textarea {
		.font-size-small;
		border: 1px solid @color_midtone;
		font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
		color: @color_midtone;
	}

	input[type=submit] {
		display:inline-block;
		background:@color_dark;
		color:@color_light;
		.default-shadow;
		padding:4px 10px;
		border-radius:5px;
		font-family:@sans-serif;
		text-align:center;
		border:0;
		text-shadow:0px 1px 1px rgba(18, 7, 6,0.3);
	}
}