@import "variables";

@media screen, projection {
	::selection	{ background: @color_midtone none repeat; color:@color_highlight; /* Safari and Opera */ }
	::-moz-selection  { background: @color_midtone none; color:@color_highlight; /* Firefox */ }
	/*-webkit-font-smoothing: antialiased;*/
	img { -ms-interpolation-mode: bicubic; }

	p img:first-child {
		margin-top: -5px;
		margin-bottom: 5px;
	}
	
	small { font-size:10px; }

	table {
		border-collapse: separate;
		border-spacing: 0;
		font-size:@x-small;
		margin:20px 0;
	}
	table,td,th { vertical-align: middle; }
	th,td { text-align: left; font-weight: normal; padding: 0 5px; }
	th { border-bottom: 1px solid; font-weight:bold; }

	body {
		font-size: 62.5%;
		font-family:@sans-serif;
		background-color: @color_highlight;
		color: @color_off_black;
		height: 100%;
		.reset-dimensions;
		line-height: @row-height;
		padding-bottom:0;
		text-rendering: optimizelegibility;
	}

	#page_top { background:@color_highlight; }
	#page_bottom { background:@color_midtone; }
	#page_heel { background:@color_dark; }

	a {
		color: @color_accent_alt;
		text-decoration:underline;
		text-decoration:none;
		img { border: none; }
	}
	a.external { text-decoration: none; border-bottom: 1px dotted @color_midtone; }
	a:hover { color: @color_accent; }
	a.external:hover { text-decoration: none; border-bottom: 1px dotted @color_dark; }
	a:visited { }

	a.tag { text-decoration:none; background:@color_light; padding:0 4px 3px 4px; color:@color_off_black; border-radius:2px; }
	a.tag:hover { background:@color_midtone; color:@color_highlight; }
	
	header a { color:@color_off_black; }
	header a:hover { color:@color_midtone; }
	.more a { font-style:italic; }
	.metadata a { color:@color_midtone; text-decoration:none; }
	.metadata a:hover { color:@color_off_black; }
	
	h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child { margin-top: 0; }
	h1 { .font-size-x-large; padding-top: 6px; margin-bottom: @row-height; }
	h2 { .font-size-large; padding-top: 0px; margin-bottom: @row-height; }
	h3 { .font-size-medium; padding-top: 0px; margin-bottom: @row-height; }
	h4 { .font-size-small; padding-top: 0px; margin-bottom: @row-height; }
	h5 { .font-size-x-small; padding-top: 0px; margin-bottom: @row-height; }
	h6 { .font-size-xx-small; padding-top: 0px; margin: @row-height 0; }

	header {
		h2 {
			.font-size-small;
		}
	}

	blockquote {
		margin: @row-height 0px;
		padding: 0;
		font-size:@medium;
		line-height: @row-height*2;
		color:@color_midtone;
		blockquote {
			margin-top:0;
		}
		p {
			font-size:@medium;
			line-height: @row-height*2;
		}
		cite {
			font-size:@x-small;
		}
		cite:before {
			content:"— ";
		}
	}

	blockquote:before,blockquote:after,q:before,q:after { content: ""; }
	blockquote,q { quotes: "" ""; }
	blockquote:first-child, blockquote p:first-child { margin-top: 0; }
	blockquote:last-child, blockquote p:last-child { margin-bottom:0; }

	p {
		.font-size-x-small; 
	}
	p:first-child { margin-top: 0; }
	p:last-child { margin-bottom: 0; }

	pre,code,tt {
		font: 11px 'andale mono','monotype.com','lucida console',monospace;
		line-height: @row-height;
	}

	em { font-style: italic; }

	ul, ol {
		margin-left:15px;
		padding-top: 5px;
		ul, ol { padding-top:0; }
		li {
			margin-left: 20px;
			font-size:@x-small;
			margin-bottom:5px;
		}
	}

	ul { list-style: square; }
	ol { list-style:decimal; }

	dl {
		margin: @row-height 0;
		padding-top: 5px;
		dt, dd {
			font-size:@x-small;
		}
		dt {
			font-weight: bold;
			margin-top: @row-height;
		}
		dt:first-child {
			margin:0
		}
	}

	hr {
		height: 1px;
		border: 0;
		margin:@row-height 0;
		padding:0;
		background-color: #b5aaa9;
	}

	/* @group abstract classes */

	.hidden { display: none; }
	.crop { overflow: hidden; }
	.aligncenter { display: block; margin-left: auto; margin-right: auto; }
	.alignleft { float: left !important; }
	.alignright { float: right !important; }
	.wp-caption {
		text-align: center;
		img {
		   margin: 0;
		   padding: 0;
		   border: 0 none;
		}
		p.wp-caption-text {
		   font-size:@x-small;
		   padding: 5px 4px 0 0;
		   margin: 15px;
		}
	}
	
	#content { margin: (@row-height)-5 0 (@row-height*2) 0;	position:relative; }


	.metadata {
		color:@color_off_black;
	}

	ul.metadata {
		.reset-dimensions;
		margin-top:@row-height;
		list-style:none;
		li {
			.reset-dimensions;
			float:left;
			background:none;
			margin-right:20px;
			.font-size-small;
		}
		li.last {
			margin-right:0;
		}
		
	}
	dl.metadata {
		.reset-dimensions;
		text-align:right;
	}


	.post {
		header {
			margin-bottom: (@row-height)-5;
			h1 a, h2 a, h3 a {
				text-decoration: none;	
			}
		}
		p .callout {
			padding-top:0;
		}
	}

	#content.home, #content.single, #content.page, #content.archive {
		
		#content_primary {
			margin-top:@row-height;
			
		}
		
		article {
			header {
				margin-bottom:@row-height;
				h1 {
					font-size:@medium;
					font-weight:@medium;
					line-height:@row-height*2;
				}

				h2 {
					margin-top:0;
					font-size:@x-small;
				}
			}
			.post-info {
				
			}
			section {
				font-size:@medium;
				ul li, ol li, code, dt, dd, blockquote {
					.font-size-medium;
				} 
				p {
					font-family:@serif;
					.font-size-medium;
				}
				small {
					.font-size-small;
				}
			}
		}
	}
	
	
	#content.home, #content.archive {
		article:first-child {
			margin-top:@row-height;
		}
		article:last-child {
			margin-bottom:@row-height;
		}
	}
	

	.pagination {
		margin:@row-height 0;
		.next, .previous {
			a {
				display:block;
				text-decoration:none; 
				background:@color_light; 
				padding:4px 6px 3px 6px; 
				color:@color_off_black; 
				border-radius:2px;
				margin-top:@row-height;
				.font-size-small;
			}	
			a:hover {
				background:@color_midtone; 
				color:@color_highlight;
			}
		}
		.previous {
			text-align:right;
		}	
	}

	.page-links {
		margin:@row-height 0 @row-height+5 0;
		padding:5px 0;
		word-spacing:5px;
		a {
			padding:4px 8px;
		
			text-decoration:none;
			word-spacing:0;
		}
		a:hover { 
			background:@color_midtone; 
			color:@color_highlight;
			
		}
	}
	
	.button {
		display:block;
		background:@color_dark;
		color:@color_light;
		.default-shadow;
	}
}