@import "variables";

@media screen, projection {
	#content.single {
		aside {
			margin-top:@row-height*4;
		}
		position: relative;
		margin-top: @row-height;
		article {
			header {
				margin-bottom:@row-height;
				h1 {
					font-weight:normal;
					.font-size-large;
					color:@color_dark;
				}
			}
		}
		#content_primary {
			#excerpt {
				padding-bottom:@row-height*2;
				color:@color_midtone;
				
				p {
					padding-top:0;
					.font-size-xx-large;
					font-family:@serif;
					font-style:italic;
				}
			}
			
			footer {
				.reset-dimensions;
				margin-top:(@row-height*2);
				p {
					font-size:14px !important;
				}
			}
			#content_main {
				margin-top:@row-height*2;
				
			}
		}
		#post_footer .widget {
			float:left;
			margin-right:40px;
			.columns(3);
			margin-bottom:20px;
		}

		#post_footer .widget:nth-child(3n) {
			margin-right:0;
		}
	}
}