@import "variables";
	
#content.archive header {
	margin-bottom: $row-height * 2;
	h1 {
		margin-bottom: 0; }
	h2 {
		margin-top: 0;
		color: $color_midtone;
		@include font-size-small();
		font-family: $serif;
		font-style: italic; } } 
