@import "variables";

@media screen, projection {
	#page_footer {
		padding-top: $row-height;
		padding-bottom: $row-height;
		color: $color_light;
		a {
			color: $color_highlight; }
		h3 {
			font-weight: $normal;
			@include font-size-medium();
			margin-bottom: 5px;
			color: $color_light; }
		.widget {
			float: left;
			margin-right: 40px;
			@include columns(3);
			margin-bottom: $row-height * 3;
			font-family: $serif;
			p {} }
		.widget:nth-child(3n+1) {
			@include columns(6);
			clear: left; }
		.widget:nth-child(3n) {
			margin-right: 0; } }
	#page_heel {
		padding: $row-height 0;
		color: $color_highlight;
		p, ul, li, a {
			font-size: $x-small; }
		a {
			color: $color_highlight; }
		.widget {
			float: left;
			margin-right: 40px;
			@include columns(3);
			margin-bottom: $row-height * 2;
			color: $color_light;
			h3 {
				@extend .reset-dimensions;
				font-size: $x-small;
				font-weight: bold;
				line-height: $row-height;
				margin-top: 5px; }
			p {
				@extend .reset-dimensions;
				margin: 5px 0; } }
		.widget:nth-child(4n) {
			margin-right: 0; } } }
