@media screen, projection {
	label {
		font: #{$font-weight-bold} #{$font-size-small} #{$typeface-secondary};
	}
	input[type=text], textarea {	
		border: 1px solid $color-midtone;
		font: #{$font-size-small} #{$typeface-secondary};
		color: $color-midtone;
		padding: 3px 4px;
		box-shadow: inset 0px 0px 5px rgba(18, 7, 6, 0.2);
		border-radius: 2px; 
	}
	input[type=text]:focus, textarea:focus {
		border: 1px solid $color-off-black;
		box-shadow: inset 0px 0px 5px rgba(18, 7, 6, 0.1); 
	} 
}
