.clearfix,.container { display: inline-block; }
* html .clearfix,* html .container { height: 1%; }
.clearfix,.container { display: block; }


.clearfix:after {
		content: ".";
		display: block;
		height: 0;
		clear: both;
		visibility: hidden;
		}

.clearfix {display: inline-block;}


.clear:after {
	display:block; 
	visibility:hidden; 
	clear:both; 
	height:0; 
	content: "."; 
}
