@import "variables";

#site-title { font-size: $x-large; }
#site-description { margin-top:0; }
#site-nav {
	ul { list-style: none; }
	ul ul { display: none; }
	li {
		@extend .reset-dimensions;
		float: left;
	}
	a {
		display: block;
		height: $row-height;
		color: $color_off_black;
		font-style:$bold;
		font-size:$font-x-small;
		font-family:$sans-serif;
	}
	a:hover { color: $color_midtone; } 	
}
#page-header {
	position: relative;
	border-bottom:$border-break;
	padding-bottom:$row-height;
	margin:$row-height 0 $row-height * 2 0; 
}

#sub_header {
	border-bottom:$border-break;
	padding-bottom:$row-height;
	margin-bottom:$row-height * 2;
	p {
		@include font-size-x-small();
		color: $color_midtone;
		margin-top: 0; 
	}
}