@import "variables";
img { -ms-interpolation-mode: bicubic; }

#top_bar {
	background: $color_off_black; }

#content.single {
	padding-bottom: $row-height * 3; }

#content.home {
	#content_secondary .post.post-4, #content_tertiary .post.post-4 {
		margin-right: 0; } }

#page_footer, #page_heel, #sub_header, #post_footer {
	.widget-1, .widget-4, .widget-7 {
		clear: left;
		width: 470px; }
	.widget-3, .widget-6, .widget-9 {
		margin-right: 0; } }

#page_heel .widget-2 {
	margin-right: 0; }

#sidebar {
	background: $color_highlight; }

#sidebar:hover {}

#sticky_footer {
	background: $color_dark; }

#sticky_footer.light {
	background: $color_light; }

#comments_container #commentform {
	label {
		display: block; }
	#comment_form_info {
		label {
			text-align: right; }
		input[type=text] {
			margin-bottom: $row-height; } }
	textarea {
		height: 137px; } }

#comment_form_comment dl {
	text-align: left; }

.clear:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0; }

.clear {
	display: inline-block; }

html[xmlns] .clear {
	display: block; }

* html .clear {
	height: 1%; }
