@import "variables";


#content.home {
	.content { margin-bottom:$row-height*4; }
	.content-header {
		margin-bottom:$row-height*2;
		padding-bottom:5px;
		border-bottom: 1px $color-light solid;
		font-size: $font-small; 
		font-family:$sans-serif;
		.caption {
			font-style: italic;
			color:$color-midtone;
			margin-left:10px;
		}
		.more {
			@extend .reset-dimensions;
			font-family: $serif; } }
	.content {
		.read-more { 
			margin-top: $row-height;
			.more { @include font-size-x-small(); } 
		}
	}
	.content.oneup.large {
		header h1 { @include font-size-large; }
		section {
			margin: 0 0 $row-height 0;
			p {
				font-style: italic;
				@include font-size-xxx-large(); 
			} 
		} 
	}
	.content.twoup, .content.threeup, .content.fourup {
		.post {
			margin-top: $row-height;
			float:left !important;
		}
		header h1 {
			@include font-size-small();
			font-weight: $bold;  
		}
		section p { @include font-size-small(); }
		.metadata li { @include font-size-x-small(); }
	}
	/* TODO: Try this pattern out :not(:last-child) */
	.content.twoup .post:nth-child(2n+1), .content.threeup .post:nth-child(3n+1), .content.fourup .post:nth-child(4n+1) {
		margin-left:0;
		clear: left;
	}
	.content.twoup .post:nth-child(2n), .content.threeup .post:nth-child(3n), .content.fourup .post:nth-child(4n) {
		margin-right: 0; 
		float:right;
	}
	.content.twoup .post:nth-child(n+3), .content.threeup .post:nth-child(n+4), .content.fourup .post:nth-child(n+5) {
		margin-bottom: 0;
		margin-top: $row-height * 3;
	}
}
			
			
/*MOBILE*/
@media only screen and  (max-width: 767px) {
	#content.home .content.oneup.large article section p {
		@include font-size-x-large(); 
	}
}