@import "variables";


#content.home {
	.content {
		margin-bottom:$row-height*4;
	}
	.content-header {
		margin-bottom:$row-height*2;
		padding-bottom:5px;
		border-bottom: 1px $color-light solid;
		font: $font-small $sans-serif;
		.caption {
			font-style: italic;
			color:$color-midtone;
			margin-left:10px;
		}
		.more {
			@extend .reset-dimensions;
			font-family: $serif; } }
	.content.oneup .post, .content.oneup.large .post, .content.twoup .post, .content.fourup .post, .content.halfandhalf .post {
		.read-more {
			margin-top: $row-height;
			.more {
				@include font-size-x-small(); } }
		 }
	.content.oneup.large article {
		header h1 {
			
			@include font-size-large; }
		
		section {
			margin: 0 0 $row-height 0;
			p {
				font-style: italic;
				@include font-size-xxx-large(); 
			} 
		} 
	}
	.content.twoup, .content.fourup {
		.post {
			float: left;
			margin: $row-height $gutter-width 0 0;
			header {
				h1 {
					@include font-size-small();
					font-weight: $bold;
					a {
						text-decoration: none; } } }
			section {
				@include font-size-small(); } }
		.metadata li {
			@include font-size-x-small(); } }
	.content.twoup {
		.post:nth-child(2n+1) {
			clear: left; }
		.post:nth-child(2n) {
			margin-right: 0; }
		.post:nth-child(n+3) {
			margin-bottom: 0;
			margin-top: $row-height * 3; } }
	.content.fourup {
		.post:nth-child(4n+1) {
			clear: left; }
		.post:nth-child(4n) {
			margin-right: 0; }
		.post:nth-child(n+5) {
			margin-bottom: 0;
			margin-top: $row-height * 3; } } }
			
			
/*MOBILE*/
@media only screen and  (max-width: 767px) {
	#content.home .content.oneup.large article section p {
		@include font-size-x-large(); 
	}
}