@import "variables";

#sidebar {
	margin-top: $row-height * 4;
	@include columns(3);
	float: left;
	h3 {
		font-weight: $bold;
		@include font-size-small();
		margin-bottom: 5px; }
	h3:first-child { margin-top: 0 !important; }
}