/* TODO: Use class selectors */
#sidebar {
	@extend .column;
	width: $three-columns;
	margin-top: 10px;
	
	.widget {
		margin-right:0;
	}
	
	h3 {
		font-weight: $bold;
		font-size: $font-size-small;
		margin-bottom: 5px; 
		&:first-child { 
			margin-top: 0 !important; 
		}
	}
}