@import "variables";

#content.single {
	.post-info .previous {
		margin-top: $row-height * 4;
		font-style: italic;
		font-family: $serif;
		a {
			@include font-size-small();
			display: block;
			text-align: center; }
		nav {
			padding-bottom: $row-height;
			border-bottom: 1px solid $color_light;
			margin: $row-height 0; }
		.arrow {
			display: block;
			@extend .default-shadow;
			width: 45px;
			height: 45px;
			border-radius: 22.5px;
			text-indent: -9999px;
			@include sprite-background(-135px, 15px);
			background-color: $color_midtone; }
		a:hover {
			color: $color_accent_alt;
			.arrow {
				background-color: $color_dark; } } }
	position: relative;
	article {
		header {
			margin-bottom: $row-height;
			h1 {
				font-weight: normal;
				@include font-size-x-large();
				color: $color_dark; } }
		section h1 {
			padding: 0;
			@include font-size-large();
			margin: $row-height * 2 0 $row-height 0; }
		section h2 {
			padding: 0;
			@include font-size-medium();
			font-weight: bold;
			margin: $row-height 0 $row-height 0; }
		dl dd {
			margin-left: $gutter-width; } }
	#content_primary {
		#excerpt {
			padding-bottom: $row-height * 2;
			color: $color_midtone;
			p {
				padding-top: 0;
				@include font-size-xx-large();
				font-family: $serif;
				font-style: italic; } }
		footer {
			@extend .reset-dimensions;
			margin-top: $row-height * 2;
			p {
				font-size: 14px !important; } }
		#content_main {
			margin-top: $row-height * 2; } }
	#post_footer .widget {
		float: left;
		margin-right: 40px;
		@include columns(3);
		margin-bottom: 20px; }
	#post_footer .widget:nth-child(3n) {
		margin-right: 0; } }
