$color_accent: #ea0000;
$color_highlight: #fffefe;
$color_light: #f0eceb;
$color_midtone: #5d504f;
$color_dark: #3d302f;
$color_off_black: #050000;

$color_midtone_light: #998482;
$color_accent_alt: #ff1e00;

@mixin background_color_off_black_alpha($alpha: 1) {
background-color: rgba(5, 0, 0, $alpha);
}

@mixin column() {
	margin-left: 4.4%; float: left; min-height: 1px; position: relative;
}

$sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif: Georgia, "Times New Roman", Times, serif;

$thin: 100;
$extra-light: 200;
$light: 300; 
$normal: 400;
$medium: 500;
$demi-bold: 600;
$bold: 700;
$heavy: 800;
$black: 900;

$xxx-large: 38px;
$xx-large: 28px;
$x-large: 24px;
$large: 20px;
$medium: 17px;
$small: 13px;
$x-small: 11px;
$xx-small: 10px;
$xxx-small: 9px;

$xxx-large-lineheight: 47px;
$xx-large-lineheight: 35px;
$x-large-lineheight: 32px;
$large-lineheight: 30px;
$medium-lineheight: 27px;
$small-lineheight: 19px;
$x-small-lineheight: 14px;
$xx-small-lineheight: 12px;
$xxx-small-lineheight: 11px;

$font-xxx-large: #{$xxx-large};
$font-xx-large: #{$xx-large};
$font-x-large: #{$x-large};
$font-large: #{$large};
$font-medium: #{$medium};
$font-small: #{$small};
$font-x-small: #{$x-small};
$font-xx-small: #{$xx-small};

$one-column: 4.3%;
$two-columns: 13%;
$three-columns: 21.679%;
$four-columns: 30.37%;
$five-columns: 39.1%; 
$six-columns: 47.8%;
$seven-columns: 56.5%;
$eight-columns: 65.2%;
$nine-columns: 73.9%;
$ten-columns: 82.6%; 
$eleven-columns: 91.3%;
$twelve-columns: 100%;

@mixin font-size-xxx-large() {
font-size: $xxx-large;
}

@mixin font-size-xx-large() {
font-size: $xx-large;
}

@mixin font-size-x-large() {
font-size: $x-large;
}

@mixin font-size-large() {
font-size: $large;
}

@mixin font-size-medium() {
font-size: $medium;
}

@mixin font-size-small() {
font-size: $small;
}

@mixin font-size-x-small() {
font-size: $x-small;
}

@mixin font-size-xx-small() {
font-size: $xx-small;
}

@mixin default-shadow() {
box-shadow: 0px 0px 8px rgba(18, 7, 6, 0.3);
}

$row-height: 15px;
$column-width: 45px;
$gutter-width: 40px;

$border-break: 2px solid $color_light;

@mixin reset-dimensions() {
margin: 0;
padding: 0;
}

@mixin opacity($level: 1) {
opacity: $level;
}

@mixin columns($columns: 1, $modifier: 0) {
width: $columns * $column-width + ($columns - 1) * $gutter-width + $modifier;
}

@mixin sprite-background($x: 0px, $y: 0px) {
background: url("../../images/sprite.png") $x $y no-repeat;
}

@mixin inset-shadow($x: 0px, $y: 0px, $blur: 3px, $color: black) {
box-shadow: inset $x $y $blur $color;
}
