%clearfix {
	content:"";
  display:table;
  clear:both;
}

%reset {
	margin:0;
	padding:0;
}

%no-padding {
	padding:0;
}

%image-replace {
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
}

%default-shadow {
	box-shadow: 0px 0px 8px rgba(18, 7, 6, 0.3);
}

%default-shadow-inset {
	box-shadow: inset 0px 0px 8px rgba(18, 7, 6, 0.3);
}

%vertical-border-break {
	border:2px solid $color-midtone;
	border-width:2px 0;
	padding:$row-height 0;
}

%vertical-border-break-dark {
	border:2px solid $color-off-black;
	border-width:2px 0;
	padding:$row-height 0;
}

%border-bottom-light {
	border-bottom: $border-break;
}

%small-label {
	font: #{$font-size-small} #{$typeface-secondary};
}

%text-emboss {
	text-shadow:0 -1px 0 rgba(0,0,0,.5);
}

%no-horizontal-margin {
	margin-left:0;
	margin-right:0;
}

%vertical-margin-x1 {
	margin:$row-height 0;
}

%vertical-margin-x2 {
	margin:$row-height*2 0;
}

%vertical-margin-x3 {
	margin:$row-height*3 0;
}

%vertical-margin-x4 {
	margin:$row-height*4 0;
}

%horizontal-reset {
	margin-left:0;
	margin-right:0;
	padding-left:0;
	padding-right:0;
}
