#page-bottom {
	background: $color-midtone;
	color: $color-light;
	@extend %text-emboss;
}

#page-footer {
	padding:$row-height *2 0;
	margin-top: $row-height * 2;
	h3 { color: $color-highlight; }
	a { color: $color-highlight; }
}