.franklin-group { overflow:hidden; zoom:1; }

.franklin-group label { font-weight:bold; }

.franklin-content-section { width:640px; margin-bottom:20px; background:#fff; border:2px solid #e3e3e3; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; padding:25px; position:relative; }

a.franklin-content-section-delete { position:absolute; top:25px; right:25px; }

.franklin-content-section:nth-child(1) a.franklin-content-section-delete { display:none; }

.franklin-display-type { margin-bottom:13px; }

.franklin-fields { width:320px; float:left; }
.franklin-fields label { display:block; margin-bottom:3px; }
.franklin-fields input,
.franklin-fields textarea { width:275px; margin-bottom:13px; }
.franklin-fields textarea { height:125px; }


.franklin-categories { width:320px; float:left; }
.franklin-categories p { font-weight:bold; }
.franklin-categories label { font-weight:normal; }
.franklin-categories ul.franklin-group li { width:50%; float:left; padding-top:13px; }
.franklin-categories ul.franklin-group li:nth-child(2) { text-align:right; }

#franklin-add-content-section a { width:662px; display:block; background:#fff; border:1px solid #e3e3e3; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; padding:15px; text-align:center; }